<section
  class="banner-section pt-5 position-relative overflow-hidden z-1"
  style="
    background: url(assets/images/events/banner.webp) no-repeat center;
    background-size: cover;
  "
>
  <div
    class="container-boxed position-relative d-flex flex-column align-items-center justify-content-center text-center z-2"
  >
    <h1 class="font-48 nmc-primary fw-bolder w-50 font-family-poppins">
      Work shop on Angular
    </h1>

    <h4 class="nmc-white mt-3">
      10-12 December, Downtown Conference Center, New York
    </h4>

    <ol class="breadcrumb nmc-primary my-5">
      <li class="breadcrumb-item">
        <a href="#" class="nmc-white me-2">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Event-Details</li>
    </ol>
  </div>

  <div class="py-5" style="background: rgba(0, 0, 0, 0.6)">
    <div class="container-boxed position-relative z-1 mt-5">
      <div class="row">
        <div class="col-lg-6">
          <h2
            class="section-title left font-36 nmc-white font-family-poppins pb-3"
          >
            About The Event
          </h2>
          <p class="nmc-white">
            Sed nam ut dolor qui repellendus iusto odit. Possimus inventore
            eveniet accusamus error amet eius aut accusantium et. Non odit
            consequatur repudiandae sequi ea odio molestiae. Enim possimus sunt
            inventore in est ut optio sequi unde.
          </p>
        </div>

        <div class="col-lg-3">
          <h2 class="section-title left nmc-white font-family-poppins pb-3">
            Where
          </h2>
          <p class="nmc-white">Downtown Conference Center, New York</p>
        </div>

        <div class="col-lg-3">
          <h2 class="section-title left nmc-white font-family-poppins pb-3">
            When
          </h2>
          <p class="nmc-white">Monday to Wednesday<br />10-12 December</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="spacer--medium"></div>

<section class="speakers text-center">
  <div class="container-boxed">
    <h2
      class="section-title font-36 nmc-dark-grey font-family-poppins text-center mb-5"
    >
      Event Speakers
    </h2>

    <div class="row gy-4">
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="member rounded-3">
          <img
            src="assets/images/events/speaker-1.jpg"
            class="img-fluid"
            alt=""
          />

          <div class="member-info">
            <div class="member-info-content">
              <h4>
                <a href="" class="nmc-white font-family-poppins"
                  >Walter White</a
                >
              </h4>

              <p class="nmc-white">Quas alias incidunt</p>

              <div
                class="social d-flex align-items-center justify-content-center gap-2"
              >
                <a href="#" class="font-18 nmc-white"
                  ><i class="fa fa-twitter"></i
                ></a>
                <a href="#" class="font-18 nmc-white"
                  ><i class="fa fa-facebook"></i
                ></a>
                <a href="#" class="font-18 nmc-white"
                  ><i class="fa fa-instagram"></i
                ></a>
                <a href="#" class="font-18 nmc-white"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="member rounded-3">
          <img
            src="assets/images/events/speaker-2.jpg"
            class="img-fluid"
            alt=""
          />

          <div class="member-info">
            <div class="member-info-content">
              <h4>
                <a href="" class="nmc-white font-family-poppins"
                  >Walter White</a
                >
              </h4>

              <p class="nmc-white">Quas alias incidunt</p>

              <div
                class="social d-flex align-items-center justify-content-center gap-2"
              >
                <a href="#" class="font-18 nmc-white"
                  ><i class="fa fa-twitter"></i
                ></a>
                <a href="#" class="font-18 nmc-white"
                  ><i class="fa fa-facebook"></i
                ></a>
                <a href="#" class="font-18 nmc-white"
                  ><i class="fa fa-instagram"></i
                ></a>
                <a href="#" class="font-18 nmc-white"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="member rounded-3">
          <img
            src="assets/images/events/speaker-1.jpg"
            class="img-fluid"
            alt=""
          />

          <div class="member-info">
            <div class="member-info-content">
              <h4>
                <a href="" class="nmc-white font-family-poppins"
                  >Walter White</a
                >
              </h4>

              <p class="nmc-white">Quas alias incidunt</p>

              <div
                class="social d-flex align-items-center justify-content-center gap-2"
              >
                <a href="#" class="font-18 nmc-white"
                  ><i class="fa fa-twitter"></i
                ></a>
                <a href="#" class="font-18 nmc-white"
                  ><i class="fa fa-facebook"></i
                ></a>
                <a href="#" class="font-18 nmc-white"
                  ><i class="fa fa-instagram"></i
                ></a>
                <a href="#" class="font-18 nmc-white"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="member rounded-3">
          <img
            src="assets/images/events/speaker-2.jpg"
            class="img-fluid"
            alt=""
          />

          <div class="member-info">
            <div class="member-info-content">
              <h4>
                <a href="" class="nmc-white font-family-poppins"
                  >Walter White</a
                >
              </h4>

              <p class="nmc-white">Quas alias incidunt</p>

              <div
                class="social d-flex align-items-center justify-content-center gap-2"
              >
                <a href="#" class="font-18 nmc-white"
                  ><i class="fa fa-twitter"></i
                ></a>
                <a href="#" class="font-18 nmc-white"
                  ><i class="fa fa-facebook"></i
                ></a>
                <a href="#" class="font-18 nmc-white"
                  ><i class="fa fa-instagram"></i
                ></a>
                <a href="#" class="font-18 nmc-white"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="spacer--medium"></div>

<section class="schedule text-center py-5 nmc-bg-light-grey">
  <div class="container-boxed">
    <h2
      class="section-title font-36 nmc-dark-grey font-family-poppins text-center mb-5"
    >
      Event Agenda
    </h2>

    <ul
      class="nav nav-tabs m-auto mb-4 gap-3 d-flex align-items-center justify-content-center"
      role="tablist"
    >
      <li class="nav-item">
        <a class="nav-link active" href="#day-1" role="tab" data-bs-toggle="tab"
          >Day 1</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#day-2" role="tab" data-bs-toggle="tab"
          >Day 2</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#day-3" role="tab" data-bs-toggle="tab"
          >Day 3</a
        >
      </li>
    </ul>

    <div class="tab-content row justify-content-center">
      <h3 class="sub-heading">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus veniam
        incidunt ducimus quia, debitis quisquam perspiciatis ut possimus
        adipisci reprehenderit non soluta ipsum optio facere voluptate quod
        maiores, necessitatibus odit!
      </h3>

      <!-- Schedule Day 1 -->
      <div role="tabpanel" class="col-lg-9 tab-pane active" id="day-1">
        <div class="row schedule-item text-start">
          <div class="col-md-2"><time>09:30 AM</time></div>
          <div class="col-md-10">
            <h4>Registration</h4>
          </div>
        </div>

        <div class="row schedule-item text-start">
          <div class="col-md-2"><time>10:00 AM</time></div>
          <div class="col-md-10 position-relative">
            <div class="speaker">
              <img
                src="assets/images/events/agenda-speaker-1.jpg"
                alt="Brenden Legros"
                class="object-fit-cover"
              />
            </div>
            <h4>Keynote <span>Brenden Legros</span></h4>
            <p>Facere provident incidunt quos voluptas.</p>
            <span
              class="d-inline-block position-absolute font-12 fw-semibold rounded-1 py-1 px-2 top-0 end-0 text-red-600 bg-red-100"
              >Angular 17</span
            >
          </div>
        </div>

        <div class="row schedule-item text-start">
          <div class="col-md-2"><time>11:00 AM</time></div>
          <div class="col-md-10 position-relative">
            <div class="speaker">
              <img
                src="assets/images/events/agenda-speaker-2.jpg"
                alt="Brenden Legros"
                class="object-fit-cover"
              />
            </div>
            <h4>Et voluptatem iusto dicta nobis. <span>Hubert Hirthe</span></h4>
            <p>
              Maiores dignissimos neque qui cum accusantium ut sit sint
              inventore.
            </p>
            <span
              class="d-inline-block position-absolute font-12 fw-semibold rounded-1 py-1 px-2 top-0 end-0 text-red-600 bg-red-100"
              >Angular 17</span
            >
          </div>
        </div>

        <div class="row schedule-item text-start">
          <div class="col-md-2"><time>12:00 AM</time></div>
          <div class="col-md-10 position-relative">
            <div class="speaker">
              <img
                src="assets/images/events/agenda-speaker-3.jpg"
                alt="Brenden Legros"
                class="object-fit-cover"
              />
            </div>
            <h4>
              Explicabo et rerum quis et ut ea. <span>Cole Emmerich</span>
            </h4>
            <p>
              Veniam accusantium laborum nihil eos eaque accusantium aspernatur.
            </p>
            <span
              class="d-inline-block position-absolute font-12 fw-semibold rounded-1 py-1 px-2 top-0 end-0 text-red-600 bg-red-100"
              >Angular 17</span
            >
          </div>
        </div>

        <div class="row schedule-item text-start">
          <div class="col-md-2"><time>02:00 PM</time></div>
          <div class="col-md-10 position-relative">
            <div class="speaker">
              <img
                src="assets/images/events/agenda-speaker-4.jpg"
                alt="Brenden Legros"
                class="object-fit-cover"
              />
            </div>
            <h4>
              Qui non qui vel amet culpa sequi. <span>Jack Christiansen</span>
            </h4>
            <p>Nam ex distinctio voluptatem doloremque suscipit iusto.</p>
            <span
              class="d-inline-block position-absolute font-12 fw-semibold rounded-1 py-1 px-2 top-0 end-0 text-red-600 bg-red-100"
              >Angular 17</span
            >
          </div>
        </div>

        <div class="row schedule-item text-start">
          <div class="col-md-2"><time>03:00 PM</time></div>
          <div class="col-md-10 position-relative">
            <div class="speaker">
              <img
                src="assets/images/events/agenda-speaker-5.jpg"
                alt="Brenden Legros"
                class="object-fit-cover"
              />
            </div>
            <h4>
              Quos ratione neque expedita asperiores.
              <span>Alejandrin Littel</span>
            </h4>
            <p>Eligendi quo eveniet est nobis et ad temporibus odio quo.</p>
            <span
              class="d-inline-block position-absolute font-12 fw-semibold rounded-1 py-1 px-2 top-0 end-0 text-red-600 bg-red-100"
              >Angular 17</span
            >
          </div>
        </div>

        <div class="row schedule-item text-start">
          <div class="col-md-2"><time>04:00 PM</time></div>
          <div class="col-md-10 position-relative">
            <div class="speaker">
              <img
                src="assets/images/events/agenda-speaker-1.jpg"
                alt="Brenden Legros"
                class="object-fit-cover"
              />
            </div>
            <h4>Quo qui praesentium nesciunt <span>Willow Trantow</span></h4>
            <p>Voluptatem et alias dolorum est aut sit enim neque veritatis.</p>
            <span
              class="d-inline-block position-absolute font-12 fw-semibold rounded-1 py-1 px-2 top-0 end-0 text-red-600 bg-red-100"
              >Angular 17</span
            >
          </div>
        </div>
      </div>
      <!-- End Schedule Day 1 -->

      <!-- Schedule Day 2 -->
      <div role="tabpanel" class="col-lg-9 tab-pane" id="day-2">
        <div class="row schedule-item text-start">
          <div class="col-md-2"><time>10:00 AM</time></div>
          <div class="col-md-10 position-relative">
            <div class="speaker">
              <img
                src="assets/images/events/agenda-speaker-4.jpg"
                alt="Brenden Legros"
                class="object-fit-cover"
              />
            </div>
            <h4>Keynote <span>Brenden Legros</span></h4>
            <p>Facere provident incidunt quos voluptas.</p>
            <span
              class="d-inline-block position-absolute font-12 fw-semibold rounded-1 py-1 px-2 top-0 end-0 text-red-600 bg-red-100"
              >Angular 17</span
            >
          </div>
        </div>

        <div class="row schedule-item text-start">
          <div class="col-md-2"><time>11:00 AM</time></div>
          <div class="col-md-10 position-relative">
            <div class="speaker">
              <img
                src="assets/images/events/agenda-speaker-2.jpg"
                alt="Brenden Legros"
                class="object-fit-cover"
              />
            </div>
            <h4>Et voluptatem iusto dicta nobis. <span>Hubert Hirthe</span></h4>
            <p>
              Maiores dignissimos neque qui cum accusantium ut sit sint
              inventore.
            </p>
            <span
              class="d-inline-block position-absolute font-12 fw-semibold rounded-1 py-1 px-2 top-0 end-0 text-red-600 bg-red-100"
              >Angular 17</span
            >
          </div>
        </div>

        <div class="row schedule-item text-start">
          <div class="col-md-2"><time>12:00 AM</time></div>
          <div class="col-md-10 position-relative">
            <div class="speaker">
              <img
                src="assets/images/events/agenda-speaker-3.jpg"
                alt="Brenden Legros"
                class="object-fit-cover"
              />
            </div>
            <h4>
              Explicabo et rerum quis et ut ea. <span>Cole Emmerich</span>
            </h4>
            <p>
              Veniam accusantium laborum nihil eos eaque accusantium aspernatur.
            </p>
            <span
              class="d-inline-block position-absolute font-12 fw-semibold rounded-1 py-1 px-2 top-0 end-0 text-red-600 bg-red-100"
              >Angular 17</span
            >
          </div>
        </div>

        <div class="row schedule-item text-start">
          <div class="col-md-2"><time>02:00 PM</time></div>
          <div class="col-md-10 position-relative">
            <div class="speaker">
              <img
                src="assets/images/events/agenda-speaker-4.jpg"
                alt="Brenden Legros"
                class="object-fit-cover"
              />
            </div>
            <h4>
              Qui non qui vel amet culpa sequi. <span>Jack Christiansen</span>
            </h4>
            <p>Nam ex distinctio voluptatem doloremque suscipit iusto.</p>
            <span
              class="d-inline-block position-absolute font-12 fw-semibold rounded-1 py-1 px-2 top-0 end-0 text-red-600 bg-red-100"
              >Angular 17</span
            >
          </div>
        </div>

        <div class="row schedule-item text-start">
          <div class="col-md-2"><time>03:00 PM</time></div>
          <div class="col-md-10 position-relative">
            <div class="speaker">
              <img
                src="assets/images/events/agenda-speaker-5.jpg"
                alt="Brenden Legros"
                class="object-fit-cover"
              />
            </div>
            <h4>
              Quos ratione neque expedita asperiores.
              <span>Alejandrin Littel</span>
            </h4>
            <p>Eligendi quo eveniet est nobis et ad temporibus odio quo.</p>
            <span
              class="d-inline-block position-absolute font-12 fw-semibold rounded-1 py-1 px-2 top-0 end-0 text-red-600 bg-red-100"
              >Angular 17</span
            >
          </div>
        </div>

        <div class="row schedule-item text-start">
          <div class="col-md-2"><time>04:00 PM</time></div>
          <div class="col-md-10 position-relative">
            <div class="speaker">
              <img
                src="assets/images/events/agenda-speaker-1.jpg"
                alt="Brenden Legros"
                class="object-fit-cover"
              />
            </div>
            <h4>Quo qui praesentium nesciunt <span>Willow Trantow</span></h4>
            <p>Voluptatem et alias dolorum est aut sit enim neque veritatis.</p>
            <span
              class="d-inline-block position-absolute font-12 fw-semibold rounded-1 py-1 px-2 top-0 end-0 text-red-600 bg-red-100"
              >Angular 17</span
            >
          </div>
        </div>
      </div>
      <!-- End Schedule Day 2 -->

      <!-- Schedule Day 3 -->
      <div role="tabpanel" class="col-lg-9 tab-pane" id="day-3">
        <div class="row schedule-item text-start">
          <div class="col-md-2"><time>10:00 AM</time></div>
          <div class="col-md-10 position-relative">
            <div class="speaker">
              <img
                src="assets/images/events/agenda-speaker-5.jpg"
                alt="Brenden Legros"
                class="object-fit-cover"
              />
            </div>
            <h4>Keynote <span>Brenden Legros</span></h4>
            <p>Facere provident incidunt quos voluptas.</p>
            <span
              class="d-inline-block position-absolute font-12 fw-semibold rounded-1 py-1 px-2 top-0 end-0 text-red-600 bg-red-100"
              >Angular 17</span
            >
          </div>
        </div>

        <div class="row schedule-item text-start">
          <div class="col-md-2"><time>11:00 AM</time></div>
          <div class="col-md-10 position-relative">
            <div class="speaker">
              <img
                src="assets/images/events/agenda-speaker-2.jpg"
                alt="Brenden Legros"
                class="object-fit-cover"
              />
            </div>
            <h4>Et voluptatem iusto dicta nobis. <span>Hubert Hirthe</span></h4>
            <p>
              Maiores dignissimos neque qui cum accusantium ut sit sint
              inventore.
            </p>
            <span
              class="d-inline-block position-absolute font-12 fw-semibold rounded-1 py-1 px-2 top-0 end-0 text-red-600 bg-red-100"
              >Angular 17</span
            >
          </div>
        </div>

        <div class="row schedule-item text-start">
          <div class="col-md-2"><time>12:00 AM</time></div>
          <div class="col-md-10 position-relative">
            <div class="speaker">
              <img
                src="assets/images/events/agenda-speaker-3.jpg"
                alt="Brenden Legros"
                class="object-fit-cover"
              />
            </div>
            <h4>
              Explicabo et rerum quis et ut ea. <span>Cole Emmerich</span>
            </h4>
            <p>
              Veniam accusantium laborum nihil eos eaque accusantium aspernatur.
            </p>
            <span
              class="d-inline-block position-absolute font-12 fw-semibold rounded-1 py-1 px-2 top-0 end-0 text-red-600 bg-red-100"
              >Angular 17</span
            >
          </div>
        </div>

        <div class="row schedule-item text-start">
          <div class="col-md-2"><time>02:00 PM</time></div>
          <div class="col-md-10 position-relative">
            <div class="speaker">
              <img
                src="assets/images/events/agenda-speaker-4.jpg"
                alt="Brenden Legros"
                class="object-fit-cover"
              />
            </div>
            <h4>
              Qui non qui vel amet culpa sequi. <span>Jack Christiansen</span>
            </h4>
            <p>Nam ex distinctio voluptatem doloremque suscipit iusto.</p>
            <span
              class="d-inline-block position-absolute font-12 fw-semibold rounded-1 py-1 px-2 top-0 end-0 text-red-600 bg-red-100"
              >Angular 17</span
            >
          </div>
        </div>

        <div class="row schedule-item text-start">
          <div class="col-md-2"><time>03:00 PM</time></div>
          <div class="col-md-10 position-relative">
            <div class="speaker">
              <img
                src="assets/images/events/agenda-speaker-5.jpg"
                alt="Brenden Legros"
                class="object-fit-cover"
              />
            </div>
            <h4>
              Quos ratione neque expedita asperiores.
              <span>Alejandrin Littel</span>
            </h4>
            <p>Eligendi quo eveniet est nobis et ad temporibus odio quo.</p>
            <span
              class="d-inline-block position-absolute font-12 fw-semibold rounded-1 py-1 px-2 top-0 end-0 text-red-600 bg-red-100"
              >Angular 17</span
            >
          </div>
        </div>

        <div class="row schedule-item text-start">
          <div class="col-md-2"><time>04:00 PM</time></div>
          <div class="col-md-10 position-relative">
            <div class="speaker">
              <img
                src="assets/images/events/agenda-speaker-1.jpg"
                alt="Brenden Legros"
                class="object-fit-cover"
              />
            </div>
            <h4>Quo qui praesentium nesciunt <span>Willow Trantow</span></h4>
            <p>Voluptatem et alias dolorum est aut sit enim neque veritatis.</p>
            <span
              class="d-inline-block position-absolute font-12 fw-semibold rounded-1 py-1 px-2 top-0 end-0 text-red-600 bg-red-100"
              >Angular 17</span
            >
          </div>
        </div>
      </div>
      <!-- End Schedule Day 3 -->
    </div>
  </div>
</section>
