<section class="py-5 min-vh-100">
  <div class="container-boxed">
    <div class="heading d-flex align-items-center justify-content-between mb-5">
      <h2 class="font-36 nmc-dark-grey font-family-poppins">
        <span class="text-bottom-line position-relative">Jobs Board</span>
      </h2>

      <button
        class="nmc-btn-primary px-sm-5 px-4 py-3 h-auto fw-normal"
        (click)="user ? postJob() : null"
        data-bs-toggle="modal"
        [attr.data-bs-target]="user ? '' : '#jobModal'"
      >
        Post a job
      </button>
    </div>

    <div
      class="modal fade"
      id="jobModal"
      tabindex="-1"
      aria-labelledby="jobModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header p-4">
            <!-- <h1 class="modal-title font-18" id="jobModalLabel">Share</h1> -->
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body p-4 pt-0">
            <p class="nmc-dark-grey font-18 mb-3 text-center font-family-poppins">
              You need to log in to post a job. Please log in to continue.
            </p>

            <button
              class="nmc-btn-primary px-sm-5 px-4 py-3 h-auto fw-bold m-auto"
              (click)="redirectToLogin()"
            >
              Go to Login
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="filters my-2 my-md-4 row gap-0 gap-md-1">
      <div
        class="form-group col-12 col-sm-6 col-md-5 d-flex align-items-center"
      >
        <i class="bi bi-funnel-fill me-2 nmc-medium-grey"></i>
        <input
          type="text"
          id="companyFilter"
          [(ngModel)]="companyFilter"
          (input)="applyFilters()"
          placeholder="Search Company"
          class="form-control"
        />
      </div>

      <div
        class="form-group position col-12 col-sm-6 col-md-5 d-flex align-items-center"
      >
        <i class="bi bi-funnel-fill me-2 nmc-medium-grey"></i>
        <input
          type="text"
          id="positionFilter"
          [(ngModel)]="positionFilter"
          (input)="applyFilters()"
          placeholder="Search Position"
          class="form-control"
        />
      </div>

      <div class="form-group remote col-12 col-md-1 d-flex align-items-center">
        <input
          type="checkbox"
          id="remoteFilter"
          [(ngModel)]="remoteFilter"
          (change)="applyFilters()"
        />
        <label for="remoteFilter" class="ms-1">Remote</label>
      </div>
    </div>
  </div>

  <ul
    class="sticky-wrapper d-flex align-items-center justify-content-evenly flex-wrap py-5 px-3 gap-4 overflow-hidden"
  >
    @for(job of filteredJobs ; track job; let i = $index){ @if(
    job.companyName){
    <li class="mt-4">
      <a
        class="job-link d-grid align-items-center"
        [routerLink]="['/jobs', job.id]"
      >
        <div class="pin rounded-circle m-auto"></div>

        <div class="text-center mt-4">
          <h2 class="font-26 nmc-dark-grey font-family-poppins">
            {{ job.companyName }}
          </h2>

          <h4 class="font-20 nmc-dark-grey mt-3">
            {{ job.position }}
          </h4>

          <h5 class="font-20 nmc-dark-grey mb-0 mt-3 pt-3 w-100">
            @if(job.Location){ {{ job.Location }} }@else{Unknown}
          </h5>

          <div class="social py-3">
            @if(job.email){<a [href]="job.email"
              ><i class="bi bi-envelope-fill"></i></a
            >} @if(job.CompanyTwitter){<a [href]="job.CompanyTwitter"
              ><i class="bi bi-twitter-x"></i></a
            >} @if(job.CompanyGithub){<a [href]="job.CompanyGithub"
              ><i class="bi bi-github"></i></a
            >} @if(job.CompanyLinkedIn){<a [href]="job.CompanyLinkedIn"
              ><i class="bi bi-linkedin"></i></a
            >}
          </div>
        </div>
      </a>
    </li>
    } }
  </ul>
</section>
