@use "../styles/variables" as *;

.post-job-btn {
    font-size: 1.25rem;
}

.modal-header {
    border-bottom: none !important;
}

.jobs-container .wrapper {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    min-height: 100px;

    // &:hover {
    //     transform: scale(1.01);
    //     transition: all ease 0.5s;
    // }

    .nmc-btn-primary {
        font-size: 16px !important;
    }

    .nmc-btn-primary:hover {
        background-color: $nmc-primary !important;
        transition: all ease 0.3s;
    }

    .job-img {
        height: 50px;
        width: 50px;
        padding: 10px;
        background-color: #fff2ee;
    }
}

@media (max-width: 1199px) {
    .form-control::placeholder,
    .form-select {
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    .newest-job {
        justify-content: end;
        margin-top: 20px;
    }

    .form-group {
        padding: 0 8px;
    }
}

@media (max-width: 767px) {
    .job-info {
        h2 {
            font-size: 22px !important;
        }

        h5 {
            font-size: 18px !important;
        }
    }

    .job-chips span {
        font-size: 13px !important;
    }
}

@media (max-width: 575px) {
    .w-575-100 {
        width: 100%;
    }

    .job-info,
    .job-apply {
        flex-direction: column;
    }

    .job-info h2,
    .job-info h5 {
        margin-top: 0 !important;
    }

    .job-chips {
        justify-content: flex-start;
    }

    .job-apply-btn {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
}

@media (max-width: 450px) {
    .heading h2 {
        font-size: 26px !important;
    }

    .form-control::placeholder,
    .form-select {
        font-size: 12px;
    }

    .newest-job a {
        font-size: 14px;
    }

    .post-job-btn {
        padding: 10px 15px !important;
    }

    .text-bottom-line::after {
        inset: 45px 0 0 0;
    }
}

@media (max-width: 409px) {
    // .post-job-btn {
    //     position: absolute;
    //     right: 1.5rem;
    //     top: 5rem;
    // }

    // h2 {
    //     margin-top: 50px;
    // }

    // .heading {
    //     margin-bottom: 30px !important;
    // }
}