<section class="py-5">
  <div class="container-boxed">
    <div class="d-flex align-items-start justify-content-between">
      <h2
        class="section-title left text-center font-36 nmc-dark-grey font-family-poppins"
      >
        Job Opportunities For You
      </h2>

      <button
        class="nmc-btn-primary me-4 px-5 py-3 h-auto fw-normal"
        routerLink="/post-job"
      >
        Post a job
      </button>
    </div>

    <div class="filters my-4 row gap-1">
      <div class="form-group col-3 d-flex align-items-center">
        <i class="bi bi-funnel-fill me-2 nmc-medium-grey"></i>
        <input
          type="text"
          id="companyFilter"
          [(ngModel)]="companyFilter"
          (input)="applyFilters()"
          placeholder="Search Company"
          class="form-control"
        />
      </div>

      <div class="form-group col-3 d-flex align-items-center">
        <i class="bi bi-funnel-fill me-2 nmc-medium-grey"></i>
        <input
          type="text"
          id="positionFilter"
          [(ngModel)]="positionFilter"
          (input)="applyFilters()"
          placeholder="Search Position"
          class="form-control"
        />
      </div>

      <div class="form-group col-3 d-flex align-items-center">
        <input
          type="checkbox"
          id="remoteFilter"
          [(ngModel)]="remoteFilter"
          (change)="applyFilters()"
        />
        <label for="remoteFilter" class="ms-1">Remote</label>
      </div>
    </div>
  </div>

  <ul
    class="sticky-wrapper d-flex align-items-center justify-content-evenly flex-wrap py-4 gap-4 overflow-hidden"
  >
    @for(job of filteredJobs ; track job; let i = $index){ @if(
    job.companyName){
    <li class="mt-4">
      <a class="job-link" [routerLink]="['/jobs', job.id]">
        <div class="pin rounded-circle m-auto"></div>

        <div class="text-center mt-4">
          <h2 class="font-28 nmc-dark-grey font-family-poppins">
            {{ job.companyName }}
          </h2>

          <h4 class="font-22 nmc-dark-grey mt-3">
            {{ job.position }}
          </h4>

          <h5 class="font-20 nmc-dark-grey mb-0 mt-3 pt-3 w-100">
            {{ job.Location }}
          </h5>

          <div class="social py-3">
            <a [href]="job.Email"><i class="bi bi-envelope-fill"></i></a>
            <a [href]="job.CompanyTwitter"><i class="bi bi-twitter-x"></i></a>
            <a [href]="job.CompanyGithub"><i class="bi bi-github"></i></a>
            <a [href]="job.CompanyLinkedIn"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </a>
    </li>
    } }
  </ul>
</section>
