@use "../styles/variables" as *;

.nmc-btn-primary {
    font-size: 1.25rem;
}

.sticky-wrapper {
    li {
        &:nth-child(even)>a {
            transform: rotate(1deg);
            -webkit-transform: rotate(1deg);
            -moz-transform: rotate(1deg);
            -o-transform: rotate(1deg);
            position: relative;
            top: 5px;
            background: #ffe4e1;

            .pin {
                background-color: #9b0957;
            }
        }

        &:nth-child(3n)>a {
            transform: rotate(-3.5deg);
            -webkit-transform: rotate(-3.5deg);
            -moz-transform: rotate(-3.5deg);
            -o-transform: rotate(-3.5deg);
            position: relative;
            top: -5px;
            background: #a2e5ff;

            .pin {
                background-color: #0c006b;
            }
        }

        &:nth-child(4n)>a {
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            position: relative;
            top: -5px;
            background: #cfc;

            .pin {
                background-color: #006b4d;
            }
        }

        &:nth-child(5n)>a {
            transform: rotate(-2deg);
            -webkit-transform: rotate(-2deg);
            -moz-transform: rotate(-2deg);
            -o-transform: rotate(-2deg);
            position: relative;
            top: -10px;
            background: #ccf;

            .pin {
                background-color: rgb(105, 1, 196);
            }
        }

        &:nth-child(6n)>a {
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            position: relative;
            top: -10px;
            background: #a2e5ff;

            .pin {
                background-color: #0c006b;
            }
        }

        .pin {
            width: 20px;
            height: 20px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, .55);
            background: #7a4602;
        }

        &>a {
            text-decoration: none;
            color: #000;
            background: #ffc;
            display: block;
            width: 18rem;
            height: 18rem;
            padding: 1em;

            /*gives the notes a shadow*/
            box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
            -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
            -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
            -o-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);

            /*gives the tilt effect to your sticky notes*/
            transform: rotate(-3.5deg);
            -webkit-transform: rotate(-3.5deg);
            -moz-transform: rotate(-3.5deg);
            -o-transform: rotate(-3.5deg);

            /*applies some smooth transition to the sticky note*/
            transition: -webkit-transform .15s linear;
            -webkit-transition: -webkit-transform .15s linear;
            -moz-transition: -moz-transform .15s linear;
            -o-transition: -o-transform .15s linear;

            &:hover,
            &:focus {
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -o-transform: scale(1.1);

                position: relative;
                z-index: 5;
            }
        }

        h5 {
            border-top: 1px solid $nmc-dark-grey;
        }

        p {
            font-family: "Reenie Beanie", arial, sans-serif;
            font-size: 180%;
        }

        .social {
            a {
                color: $nmc-dark-grey;
                font-size: 20px;
                margin: 0 8px;
            }
        }
    }
}