<section class="py-5 min-vh-100">
  <div class="container-boxed">
    <div class="heading d-flex align-items-center justify-content-between mb-5">
      <h2 class="font-36 nmc-dark-grey font-family-poppins">
        <span class="text-bottom-line position-relative ps-5">Jobs</span>
      </h2>

      <button
        class="nmc-btn-primary px-sm-5 px-4 py-3 h-auto"
        (click)="user ? postJob() : null"
        data-bs-toggle="modal"
        [attr.data-bs-target]="user ? '' : '#jobModal'"
      >
        Post a job
      </button>
    </div>

    <div
      class="modal fade"
      id="jobModal"
      tabindex="-1"
      aria-labelledby="jobModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header p-4">
            <!-- <h1 class="modal-title font-18" id="jobModalLabel">Share</h1> -->
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body p-4 pt-0">
            <p
              class="nmc-dark-grey font-18 mb-3 text-center font-family-poppins"
            >
              You need to log in to post a job. Please log in to continue.
            </p>

            <button
              class="nmc-btn-primary px-sm-5 px-4 py-3 h-auto fw-bold m-auto"
              (click)="redirectToLogin()"
            >
              Go to Login
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="filters my-2 my-md-4 row px-5">
      <div class="form-group col-12 col-sm-6 d-flex align-items-center">
        <i class="bi bi-funnel-fill me-2 nmc-medium-grey"></i>
        <input
          type="text"
          id="jobFilter"
          [(ngModel)]="jobFilter"
          (input)="applyFilters()"
          placeholder="Search by Company, Position, Salary, Technology"
          class="form-control"
        />
      </div>

      <div class="form-group remote col-12 col-md-2 d-flex align-items-center">
        <select
          id="jobTypeFilter"
          class="form-select rounded-3 cursor-pointer"
          [(ngModel)]="jobTypeFilter"
          (change)="applyFilters()"
        >
          <option value="" selected class="font-24">Select job type</option>
          @for(jobType of jobTypes; track jobType;){
          <option [value]="jobType" class="font-24">{{ jobType }}</option>
          }
        </select>
      </div>

      <div
        class="form-group remote col-12 col-md-4 d-flex align-items-center gap-4"
      >
        <a
          class="cursor-pointer nmc-dark-grey"
          (keydown)="toggleSortByPostedTime()"
          (click)="toggleSortByPostedTime()"
          tabindex="0"
        >
          <i class="bi bi-filter me-2 nmc-medium-grey"></i> Sort by Posted Time
        </a>

        <a
          class="cursor-pointer nmc-dark-grey"
          (keydown)="toggleSortBySalary()"
          (click)="toggleSortBySalary()"
          tabindex="0"
        >
          <i class="bi bi-filter me-2 nmc-medium-grey"></i> Sort by Salary
        </a>
      </div>
    </div>

    <div class="jobs-container row g-4 pt-0 pt-lg-4 px-5">
      @for(job of filteredJobs| slice:0:displayedJobsCount; track job; let i =
      $index){ @if( job.companyName){
      <div class="col-12">
        <div class="wrapper nmc-bg-white rounded-0 p-3">
          <div
            class="job-info d-flex align-items-center justify-content-between"
          >
            <div>
              <div class="d-flex align-items-center gap-3">
                <h2
                  class="font-24 nmc-dark-grey fw-normal m-0 font-family-poppins"
                >
                  {{ job.position }}
                </h2>
              </div>
            </div>

            <div>
              <h5 class="font-24 nmc-dark-grey font-family-poppins m-0 mt-3">
                <a [href]="job.CompanyUrl" class="nmc-primary">{{
                  job.companyName
                }}</a>
              </h5>
            </div>
          </div>

          @if(job.MaxSalary){
          <h6 class="nmc-dark-grey font-family-poppins font-18 m-0 mt-2">
            <i class="bi bi-cash-coin me-2 font-20 nmc-primary"></i>
            <i class="bi bi-currency-rupee"></i>
            {{ job.MaxSalary }}

            <span class="font-14 nmc-medium-grey font-family-robot fw-semibold">
              /Year
            </span>
          </h6>
          }@else{
          <h6 class="nmc-medium-grey font-16 m-0 mt-2">
            <i class="bi bi-cash-coin me-2 font-20 nmc-primary"></i>
            Not Disclosed.
          </h6>
          }

          <div class="pt-3 d-flex align-items-center justify-content-between">
            <div class="job-chips d-flex align-items-center gap-3">
              <span class="d-inline-block font-14 fw-semibold py-1 px-3">
                {{ job?.jobType }}
              </span>

              <span class="d-inline-block font-14 fw-semibold py-1 px-3"
                >{{ job.Location }}
              </span>

              <span class="d-inline-block font-14 fw-semibold py-1 px-3"
                >{{ job.Tag }}
              </span>

              <span
                class="d-inline-block font-14 fw-semibold py-1 px-3 nmc-medium-grey"
                >12-9-2024
              </span>
            </div>

            <button
              class="nmc-btn-primary h-auto py-2 px-3 box-shadow-none border-0 nmc-bg-dark-grey fw-normal"
              [routerLink]="['/jobs', job.id]"
            >
              Apply
            </button>
          </div>
        </div>
      </div>
      }}@if(showLoadMoreButton){
      <div class="mt-5 d-flex">
        <button
          class="nmc-btn-primary px-sm-5 px-4 py-3 h-auto m-auto"
          (click)="loadMore()"
        >
          Load More
        </button>
      </div>
      }
    </div>
  </div>

  <!-- <ul
    class="sticky-wrapper d-flex align-items-center justify-content-evenly flex-wrap py-5 px-3 gap-4 overflow-hidden"
  >
    @for(job of filteredJobs ; track job; let i = $index){ @if(
    job.companyName){
    <li class="mt-4">
      <a
        class="job-link d-grid align-items-center"
        [routerLink]="['/jobs', job.id]"
      >
        <div class="pin rounded-circle m-auto"></div>

        <div class="text-center mt-4">
          <h2 class="font-26 nmc-dark-grey font-family-poppins">
            {{ job.companyName }}
          </h2>

          <h4 class="font-20 nmc-dark-grey mt-3">
            {{ job.position }}
          </h4>

          <h5 class="font-20 nmc-dark-grey mb-0 mt-3 pt-3 w-100">
            @if(job.Location){ {{ job.Location }} }@else{Unknown}
          </h5>

          <div class="social py-3">
            @if(job.email){<a [href]="job.email"
              ><i class="bi bi-envelope-fill"></i></a
            >} @if(job.CompanyTwitter){<a [href]="job.CompanyTwitter"
              ><i class="bi bi-twitter-x"></i></a
            >} @if(job.CompanyGithub){<a [href]="job.CompanyGithub"
              ><i class="bi bi-github"></i></a
            >} @if(job.CompanyLinkedIn){<a [href]="job.CompanyLinkedIn"
              ><i class="bi bi-linkedin"></i></a
            >}
          </div>
        </div>
      </a>
    </li>
    } }
  </ul> -->
</section>
