<section class="hero-section py-5">
  <div
    class="container-boxed position-relative d-flex align-items-center justify-content-between gap-5"
  >
    <div class="w-45">
      <h1 class="font-big nmc-primary font-family-poppins">
        {{ ngIndia?.Title }}
      </h1>

      <h2 class="font-48 nmc-dark-grey mt-4">
        India's Largest
        <span class="text-bottom-line position-relative">Angular</span>
        Conference
      </h2>

      <p class="font-18 nmc-dark-grey mt-4">
        {{ ngIndia?.Info }}
      </p>
    </div>

    <figure class="w-55 h-auto overflow-hidden rounded-3">
      <img
        class="img-fluid m-auto object-fit-fill"
        loading="lazy"
        [src]="ngIndia?.Banner"
      />
    </figure>
  </div>
</section>

@for(event of prevEvents; track event.Title){
<app-ng-india-edition [event]="event"></app-ng-india-edition>
}
