@use "../styles/variables" as *;

.text-bottom-line::after {
    inset: 85px 0 0 0;
}

.custom-shape-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 110px;
}

.custom-shape-divider .shape-fill {
    fill: #FFFFFF;
}

.event-summary .ng-tracker {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: transform .5s;
    border: none;

    &:hover {
        transform: scale(1.03);
    }
}

.previous-editions-wrapper {
    .nav-tabs {
        display: block;
        border-bottom: 0;

        li {
            display: inline-block;
            margin-bottom: 0;

            a {
                border: none;
                border-radius: 50px;
                font-weight: 600;
                background-color: $nmc-dark-grey;
                color: $nmc-white;
                padding: 10px 50px;

                &.active,
                &:hover {
                    background-color: $nmc-primary;
                    color: $nmc-white !important;
                }
            }
        }
    }

    .tab-pane {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .tab-pane.active.show {
        opacity: 1;
    }
}

@media (max-width: 1120px) {
    .font-hero {
        font-size: 59px !important;
    }

    .event-summary {
        --bs-gutter-y: 1rem;
        --bs-gutter-x: 1rem;
    }

    .previous-editions-wrapper .nav-tabs li a {
        padding: 10px 40px;
    }
}

@media (max-width: 991px) {
    .w-md-100 {
        width: 100% !important;
    }

    figure {
        width: 200px;
    }

    .text-bottom-line::after {
        inset: 75px 0 0 0;
    }

    .previous-editions-wrapper .nav-tabs li a {
        padding: 10px 25px;
    }
}

@media (max-width: 611px) {
    .font-big {
        font-size: 80px !important;
    }

    .font-hero {
        font-size: 52px !important;
        margin-bottom: 30px;
    }

    .text-bottom-line::after {
        inset: 70px 0 0 0;
    }
}

@media (max-width: 480px) {
    .text-bottom-line {
        color: $nmc-primary;

        &::after {
            display: none;
        }
    }

    .font-big {
        font-size: 55px !important;
    }

    .font-hero {
        font-size: 34px !important;
        margin-bottom: 0;
        margin-top: 1.2rem !important;
    }

    p {
        margin-top: 1.2rem !important;
    }

    .event-summary {
        margin-bottom: 1rem !important;
    }

    figure {
        width: 150px;
    }
}