<section class="hero-section py-5">
  <div class="container-boxed">
    <div
      class="position-relative d-flex align-items-center justify-content-between gap-5"
    >
      <div class="w-45">
        <h1 class="font-big nmc-primary font-family-poppins">
          {{ ngIndia?.Title }}
        </h1>

        <h2 class="font-48 nmc-dark-grey mt-4">
          India's Largest
          <span class="text-bottom-line position-relative">Angular</span>
          Conference
        </h2>

        <p class="font-18 nmc-dark-grey mt-4">
          {{ ngIndia?.Info }}
        </p>
      </div>

      <figure class="w-55 h-auto overflow-hidden rounded-3">
        <img
          class="img-fluid m-auto object-fit-fill"
          loading="lazy"
          [src]="ngIndia?.Banner"
        />
      </figure>
    </div>

    <div class="event-summary row g-4 my-3">
      <div class="col-2">
        <div class="rounded-2 p-3 ng-tracker text-center">
          <i class="bi bi-fire font-36 nmc-primary"></i>
          <div>
            <h3
              class="fw-bold m-0 p-0 font-30 nmc-dark-grey font-family-poppins"
            >
              6
            </h3>
            <p class="m-0 p-0 nmc-medium-grey">Editions</p>
          </div>
        </div>
      </div>

      <div class="col-2">
        <div class="rounded-2 p-3 ng-tracker text-center">
          <i class="bi bi-mic font-36 nmc-primary"></i>
          <div>
            <h3
              class="fw-bold m-0 p-0 font-30 nmc-dark-grey font-family-poppins"
            >
              1000
            </h3>
            <p class="m-0 p-0 nmc-medium-grey">Talks</p>
          </div>
        </div>
      </div>

      <div class="col-2">
        <div class="rounded-2 p-3 ng-tracker text-center">
          <i class="bi bi-megaphone font-36 nmc-primary"></i>
          <div>
            <h3
              class="fw-bold m-0 p-0 font-30 nmc-dark-grey font-family-poppins"
            >
              500
            </h3>
            <p class="m-0 p-0 nmc-medium-grey">Speakers</p>
          </div>
        </div>
      </div>

      <div class="col-2">
        <div class="rounded-2 p-3 ng-tracker text-center">
          <i class="bi bi-people font-36 nmc-primary"></i>
          <div>
            <h3
              class="fw-bold m-0 p-0 font-30 nmc-dark-grey font-family-poppins"
            >
              10,000+
            </h3>
            <p class="m-0 p-0 nmc-medium-grey">Delegates</p>
          </div>
        </div>
      </div>

      <div class="col-2">
        <div class="rounded-2 p-3 ng-tracker text-center">
          <i class="bi bi-bank font-36 nmc-primary"></i>
          <div>
            <h3
              class="fw-bold m-0 p-0 font-30 nmc-dark-grey font-family-poppins"
            >
              150
            </h3>
            <p class="m-0 p-0 nmc-medium-grey">Sponsors</p>
          </div>
        </div>
      </div>

      <div class="col-2">
        <div class="rounded-2 p-3 ng-tracker text-center">
          <i class="bi bi-graph-up-arrow font-36 nmc-primary"></i>
          <div>
            <h3
              class="fw-bold m-0 p-0 font-30 nmc-dark-grey font-family-poppins"
            >
              1Lakh
            </h3>
            <p class="m-0 p-0 nmc-medium-grey">Reach</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="previous-editions-wrapper pt-5">
  <h2
    class="section-title font-36 nmc-dark-grey font-family-poppins text-center mb-5"
  >
    Previous Events
  </h2>

  <ul
    class="nav nav-tabs m-auto gap-3 d-flex align-items-center justify-content-center"
    role="tablist"
  >
    <li class="nav-item" *ngFor="let event of prevEvents; let i = index">
      <a
        class="nav-link"
        [class.active]="i === 0"
        (click)="selectTab(i)"
        [attr.aria-selected]="i === selectedTab"
        role="tab"
        data-bs-toggle="tab"
        [href]="'#tab' + i"
      >
        {{ event.Year }}
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        [class.active]="selectedTab === 'all'"
        (click)="selectTab('all')"
        [attr.aria-selected]="selectedTab === 'all'"
        role="tab"
        data-bs-toggle="tab"
        href="#all"
      >
        All
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div
      *ngFor="let event of prevEvents; let i = index"
      class="tab-pane fade"
      [class.show]="i === selectedTab"
      [class.active]="i === selectedTab"
      id="tab{{ i }}"
    >
      <app-ng-india-edition [event]="event"></app-ng-india-edition>
    </div>

    <div
      class="tab-pane fade"
      [class.show]="selectedTab === 'all'"
      [class.active]="selectedTab === 'all'"
      id="all"
    >
      @for(event of prevEvents; track event.Title){
      <app-ng-india-edition [event]="event"></app-ng-india-edition>
      }
    </div>
  </div>
</section>
