<section class="hero-section pt-2 pt-lg-5 gradient-bg overflow-hidden">
  <div class="container-boxed pt-3">
    <div
      class="position-relative d-flex align-items-center justify-content-between flex-column flex-lg-row gap-0 gap-lg-5"
    >
      <div class="w-45 w-md-100 text-center text-lg-start mb-3 mb-lg-0">
        <h1 class="font-big nmc-white font-family-poppins">
          {{ ngIndia?.Title }}
        </h1>

        <h2 class="font-48 nmc-white mt-4">
          India's Largest
          <span class="text-bottom-line position-relative">Angular</span>
          Conference
        </h2>

        <p class="font-18 nmc-white mt-4">
          {{ ngIndia?.Info }}
        </p>
      </div>

      <figure class="w-55 w-md-100 h-auto overflow-hidden rounded-3">
        <img
          class="img-fluid m-auto object-fit-cover"
          loading="lazy"
          [src]="ngIndia?.Banner"
          alt="ngIndia Banner"
        />
      </figure>
    </div>

    <div class="event-summary row g-4 mt-3 mb-5 pb-2">
      <div class="col-6 col-sm-4 col-lg-2">
        <div class="rounded-2 p-3 ng-tracker text-center nmc-bg-white">
          <i class="bi bi-fire font-36 nmc-primary"></i>
          <div>
            <h3
              class="fw-bold m-0 p-0 font-30 nmc-dark-grey font-family-poppins"
            >
              {{ ngIndia?.Editions }}
            </h3>
            <p class="m-0 p-0 nmc-medium-grey">Editions</p>
          </div>
        </div>
      </div>

      <div class="col-6 col-sm-4 col-lg-2">
        <div class="rounded-2 p-3 ng-tracker text-center nmc-bg-white">
          <i class="bi bi-mic font-36 nmc-primary"></i>
          <div>
            <h3
              class="fw-bold m-0 p-0 font-30 nmc-dark-grey font-family-poppins"
            >
              {{ ngIndia?.Talks }}
            </h3>
            <p class="m-0 p-0 nmc-medium-grey">Talks</p>
          </div>
        </div>
      </div>

      <div class="col-6 col-sm-4 col-lg-2">
        <div class="rounded-2 p-3 ng-tracker text-center nmc-bg-white">
          <i class="bi bi-megaphone font-36 nmc-primary"></i>
          <div>
            <h3
              class="fw-bold m-0 p-0 font-30 nmc-dark-grey font-family-poppins"
            >
              {{ ngIndia?.Speakers }}
            </h3>
            <p class="m-0 p-0 nmc-medium-grey">Speakers</p>
          </div>
        </div>
      </div>

      <div class="col-6 col-sm-4 col-lg-2">
        <div class="rounded-2 p-3 ng-tracker text-center nmc-bg-white">
          <i class="bi bi-people font-36 nmc-primary"></i>
          <div>
            <h3
              class="fw-bold m-0 p-0 font-30 nmc-dark-grey font-family-poppins"
            >
              {{ ngIndia?.Delegates }}+
            </h3>
            <p class="m-0 p-0 nmc-medium-grey">Delegates</p>
          </div>
        </div>
      </div>

      <div class="col-6 col-sm-4 col-lg-2">
        <div class="rounded-2 p-3 ng-tracker text-center nmc-bg-white">
          <i class="bi bi-bank font-36 nmc-primary"></i>
          <div>
            <h3
              class="fw-bold m-0 p-0 font-30 nmc-dark-grey font-family-poppins"
            >
              {{ ngIndia?.Sponsors }}
            </h3>
            <p class="m-0 p-0 nmc-medium-grey">Sponsors</p>
          </div>
        </div>
      </div>

      <div class="col-6 col-sm-4 col-lg-2">
        <div class="rounded-2 p-3 ng-tracker text-center nmc-bg-white">
          <i class="bi bi-graph-up-arrow font-36 nmc-primary"></i>
          <div>
            <h3
              class="fw-bold m-0 p-0 font-30 nmc-dark-grey font-family-poppins"
            >
              {{ ngIndia?.Reach }}
            </h3>
            <p class="m-0 p-0 nmc-medium-grey">Reach</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="custom-shape-divider w-100 position-relative">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 900 110"
      preserveAspectRatio="none"
    >
      <path
        d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
</section>

<section class="previous-editions-wrapper">
  <h2
    class="section-title font-36 nmc-dark-grey font-family-poppins text-center mb-5"
  >
    Previous Events
  </h2>

  <ul
    class="nav nav-tabs m-auto gap-3 d-flex align-items-center justify-content-center"
    role="tablist"
  >
    @for(event of prevEvents; track event; let i = $index;){
    <li class="nav-item">
      <a
        class="nav-link"
        [class.active]="i === 0"
        (click)="selectTab(i)"
        [attr.aria-selected]="i === selectedTab"
        role="tab"
        data-bs-toggle="tab"
        [href]="'#tab' + i"
      >
        {{ event.Year }}
      </a>
    </li>
    }

    <li class="nav-item">
      <a
        class="nav-link"
        [class.active]="selectedTab === 'all'"
        (click)="selectTab('all')"
        [attr.aria-selected]="selectedTab === 'all'"
        role="tab"
        data-bs-toggle="tab"
        href="#all"
      >
        All
      </a>
    </li>
  </ul>

  <div class="tab-content">
    @for(event of prevEvents; track event; let i = $index;){
    <div
      class="tab-pane fade"
      [class.show]="i === selectedTab"
      [class.active]="i === selectedTab"
      id="tab{{ i }}"
    >
      <app-ng-india-edition [event]="event"></app-ng-india-edition>
    </div>
    }

    <div
      class="tab-pane fade"
      [class.show]="selectedTab === 'all'"
      [class.active]="selectedTab === 'all'"
      id="all"
    >
      @for(event of prevEvents; track event.Title){
      <app-ng-india-edition [event]="event"></app-ng-india-edition>
      }
    </div>
  </div>
</section>
