.job-list-content{
  
    border: 1px solid #ccc; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.15); 
    padding: 20px; 
    margin: 10px 0; 
    background-color: #fff; 
    border-radius: 5px; 

}

.job-list-ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.job-list-item {
  margin-bottom: 20px; 
  cursor: pointer;
  border: 1px solid grey;
  background-color: white;
  padding: 20px; 
  border-radius: 6px; 
  transition: background-color 0.3s;
  font-size: 20px; 
}

.job-list-item:hover {
  background-color: orange;
}
