<div *ngIf="filteredJobs$ | async as jobs" class="job-list-content">
  <div class="cards-container nmc-bg-white">
    @for( job of jobs; track job){
    <div 
      (click)="onJobClick(job)"
      [ngClass]="{'card': true, 'p-4': true, 'm-3': true, 'cursor-pointer': true, 'selected': job === selectedJob}">
      <h5 class="font-16 nmc-dark-grey fw-normal">
        {{ job.Position }}
      </h5>

      <h6 class="nmc-medium-grey fw-light font-14 m-0">
        {{ job.CompanyName }}, {{ job.Location }}
      </h6>
    </div>
    }
  </div>
</div>
