<section class="py-5">
  <div class="container-boxed">
    <h2
      class="section-title font-36 nmc-dark-grey font-family-poppins text-center mb-4"
    >
      Learn For Free
    </h2>
  </div>

  <swiper-container
    class="mySwiper"
    slides-per-view="3.5"
    space-between="40"
    free-mode="true"
    loop="true"
    autoplay="true"
    autoplay-delay="0"
    speed="10000"
    autoplay-disable-on-interaction="false"
  >
    <swiper-slide
      class="nmc-bg-white d-flex align-items-center justify-content-center overflow-hidden rounded-4 youtube-slider p-3 h-auto my-3"
      *ngFor="let v of youtubeVideos"
    >
      <a [href]="v.Link">
        <figure class="position-relative m-0 rounded-3 overflow-hidden">
          <img
            alt="Image"
            loading="lazy"
            sizes="100vw"
            [src]="v.Thumbnail"
            src="https://img.youtube.com/vi/U6-cM8212do/hqdefault.jpg"
            class="w-100 h-100 object-fit-fill"
          />
        </figure>

        <div class="pt-3 px-4 text-start">
          <span
            class="d-inline-block font-12 fw-semibold rounded-1 py-1 px-2 mb-3 text-orange-600 bg-orange-100"
            >{{ v.Tech }}</span
          >

          <h3 class="font-20 font-family-poppins nmc-dark-grey mb-3">
            {{ v.Title }}
          </h3>

          <p class="font-16 nmc-medium-grey m-0 mb-1">
            {{ v.Info }}
          </p>
        </div>
      </a>
    </swiper-slide>
  </swiper-container>
</section>
