.bg-custom-peach {
  background-color: #FFEDD5;
}

.text-custom-ff7e5f {
  color: #ff7e5f;
}

.text-black {
  color: black;
}

.text-orange {
  color: #ff7e5f;
}

.text-dark-orange {
  color: #d35400;
}

.bg-light-orange {
  background-color: #ffe6e6;
}

.bg-light-brown {
  background-color: #f5f5dc;
}

.border-orange {
  border: 1px solid #ff7e5f;
}

.course-card {
  border-radius: 10px;
}

.skill-box {
  border: 1px solid #ff7e5f;
  border-radius: 5px;
  background-color: white;
}