@use "../../styles/variables" as *;

.form-label.required::after {
  content: " *";
  color: red;
}

.chips {
  border: 1px solid #ccc;

  &.selected {
    background-color: $nmc-primary;
    color: $nmc-white;
  }
}

.chip {
  background-color: #f1f1f1;
  padding: 15px;

  button {
    background: none;
  }
}

// Table styling
.table {
  border-collapse: separate;
  border-spacing: 0;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

quill-editor {
  width: 100%;
}

::ng-deep .ql-toolbar.ql-snow {
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
  border-color: #dee2e6;
}

::ng-deep .ql-container.ql-snow {
  border-bottom-left-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
  border-color: #dee2e6;
  font-size: 16px !important;
}

::ng-deep .ql-editor ol,
::ng-deep .ql-editor ul {
  margin-left: 1.5rem !important;
}