@use "../styles/variables" as *;

.sticky-header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid $nmc-primary;
}

.dropdown-menu li:not(:last-child) {
    border-bottom: 1px solid $nmc-light-grey;
}

.user-img {
    height: 35px;
    width: 35px;
    border: 1px solid $nmc-primary;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}


.profile-link.active,
.profile-link.show,
.profile-link:focus,
.profile-link:hover {
    color: $nmc-primary !important;
    border-color: transparent !important;
    box-shadow: none;
}

.mobile-menu {
    width: 320px;
    background: $nmc-white;
    z-index: 9999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    right: -320px;
    transition: right 0.3s ease;
    top: 54px;

    li {
        border-top: 1px solid #f2f2f2;

        &:hover a {
            color: $nmc-primary !important;
        }
    }
}

@media (max-width: 420px) {
    .logo {
        width: 160px;
    }

    .container-boxed {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}