<header class="sticky-header nmc-bg-white fixed-top">
  <div
    class="d-flex align-items-center justify-content-between container-boxed py-3"
  >
    <!-- Logo -->
    <a href="#">
      <img
        src="assets/images/logo/logo.png"
        class="max-w-220 h-auto"
        alt="NomadCoder Logo"
      />
    </a>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg w-75">
      <div class="collapse navbar-collapse justify-content-end">
        <button
          *ngIf="!user"
          class="nmc-btn-primary ms-4"
          type="submit"
          routerLink="/login"
        >
          Start Learning
        </button>

        <div *ngIf="user" class="logged-in d-flex align-items-center ms-4">
          <figure class="user-img overflow-hidden m-0 p-0 rounded-5">
            <img
              [src]="profileImg"
              alt="Profile Image"
              class="w-100 h-100 object-fit-cover"
            />
          </figure>

          <li class="nav-item dropdown m-0 ms-2">
            <a
              class="nav-link font-16 nmc-dark-grey dropdown-toggle"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Hi, {{ user.name }}
              <span class="text-xl ml-1 -mr-1 text-slate-500">
                <svg
                  stroke="currentColor"
                  fill="none"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  height="1em"
                  width="1em"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <polyline points="6 9 12 15 18 9"></polyline>
                </svg>
              </span>
            </a>

            <ul class="dropdown-menu">
              <li class="py-2">
                <a
                  class="dropdown-item font-16 nmc-medium-grey text-center"
                  routerLink="/profile"
                >
                  Profile
                </a>
              </li>

              <li class="py-2">
                <a
                  class="dropdown-item font-16 nmc-medium-grey text-center cursor-pointer"
                  (click)="logout()"
                  >Logout
                </a>
              </li>
            </ul>
          </li>
        </div>
      </div>
    </nav>
  </div>
</header>
