@use "../styles/variables" as *;

.sticky-header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid $nmc-primary;
}

.dropdown-menu li {
    border-bottom: 1px solid $nmc-light-grey;
}

.user-img {
    height: 35px;
    width: 35px;
    border: 1px solid $nmc-primary;
}


@media (max-width: 420px) {
    .logo {
        width: 160px;
    }
}