<footer class="nmc-bg-dark-grey py-5">
  <div class="text-center container-boxed">
    <a href="#" class="d-flex align-items-center justify-content-center">
      <img
        src="assets/images/logo/footer-logo.png"
        class="w-25 h-auto"
        alt="NomadCoder Logo"
      />
    </a>

    <nav class="py-4">
      <ul
        class="d-flex flex-wrap align-items-center justify-content-center gap-5"
      >
        <li>
          <a
            href="#"
            class="nmc-primary text-decoration-none font-20 nmc-underline-btn"
          >
            Courses
          </a>
        </li>

        <li>
          <a
            href="#"
            class="nmc-primary text-decoration-none font-20 nmc-underline-btn"
          >
            The Batch
          </a>
        </li>

        <li>
          <a
            href="#"
            class="nmc-primary text-decoration-none font-20 nmc-underline-btn"
          >
            Community
          </a>
        </li>

        <li>
          <a
            href="#"
            class="nmc-primary text-decoration-none font-20 nmc-underline-btn"
          >
            Careers
          </a>
        </li>

        <li>
          <a
            href="#"
            class="nmc-primary text-decoration-none font-20 nmc-underline-btn"
          >
            About
          </a>
        </li>
      </ul>
    </nav>

    <div
      class="socials d-flex flex-wrap align-items-center justify-content-center gap-4"
    >
      <a
        rel="noopener noreferrer"
        target="_blank"
        class="nmc-white font-24"
        href="https://www.facebook.com"
      >
        <img src="assets/images/socials/facebook.svg" alt="Facebook Logo" />
      </a>

      <a
        rel="noopener noreferrer"
        target="_blank"
        class="nmc-white font-24"
        href="https://www.instagram.com"
      >
        <img src="assets/images/socials/instagram.svg" alt="Instagram Logo" />
      </a>

      <a
        rel="noopener noreferrer"
        target="_blank"
        class="nmc-white font-24"
        href="https://x.com"
      >
        <img src="assets/images/socials/x.svg" alt="X Logo" />
      </a>

      <a
        rel="noopener noreferrer"
        target="_blank"
        class="nmc-white font-24"
        href="https://www.linkedin.com"
      >
        <img src="assets/images/socials/linkedin.svg" alt="Linkedin Logo" />
      </a>

      <a
        rel="noopener noreferrer"
        target="_blank"
        class="nmc-white font-24"
        href="https://www.youtube.com"
      >
        <img src="assets/images/socials/youtube.svg" alt="Youtube Logo" />
      </a>
    </div>
  </div>
</footer>
