<footer class="nmc-bg-dark-grey py-sm-5 py-4">
  <div class="text-center container-boxed">
    <a href="#" class="d-flex align-items-center justify-content-center">
      <img
        [src]="footer?.FooterLogo"
        class="h-auto footer-logo"
        alt="NomadCoder Logo"
      />
    </a>

    <nav class="py-sm-4 py-3">
      <ul
        class="d-flex flex-wrap align-items-center justify-content-center gap-md-5 flex-column flex-md-row"
      >
        <li>
          <a
            href="#"
            class="nmc-primary py-sm-3 py-2 text-decoration-none font-20 nmc-underline-btn"
          >
            Courses
          </a>
        </li>

        <li>
          <a
            href="#"
            class="nmc-primary py-sm-3 py-2 text-decoration-none font-20 nmc-underline-btn"
          >
            The Batch
          </a>
        </li>

        <li>
          <a
            href="#"
            class="nmc-primary py-sm-3 py-2 text-decoration-none font-20 nmc-underline-btn"
          >
            Community
          </a>
        </li>

        <li>
          <a
            href="#"
            class="nmc-primary py-sm-3 py-2 text-decoration-none font-20 nmc-underline-btn"
          >
            Careers
          </a>
        </li>

        <li>
          <a
            href="#"
            class="nmc-primary py-sm-3 py-2 text-decoration-none font-20 nmc-underline-btn"
          >
            About
          </a>
        </li>
      </ul>
    </nav>

    <div
      class="socials d-flex flex-wrap align-items-center justify-content-center gap-4"
    >
      <a
        rel="noopener noreferrer"
        target="_blank"
        class="nmc-white font-24"
        [href]="footer?.Facebook"
      >
        <i class="bi bi-facebook"></i>
      </a>

      <a
        rel="noopener noreferrer"
        target="_blank"
        class="nmc-white font-24"
        [href]="footer?.Instagram"
      >
        <i class="bi bi-instagram"></i>
      </a>

      <a
        rel="noopener noreferrer"
        target="_blank"
        class="nmc-white font-24"
        [href]="footer?.Twitter"
      >
        <i class="bi bi-twitter-x"></i>
      </a>

      <a
        rel="noopener noreferrer"
        target="_blank"
        class="nmc-white font-24"
        [href]="footer?.LinkedIn"
      >
        <i class="bi bi-linkedin"></i>
      </a>

      <a
        rel="noopener noreferrer"
        target="_blank"
        class="nmc-white font-30"
        [href]="footer?.Youtube"
      >
        <i class="bi bi-youtube"></i>
      </a>
    </div>
  </div>
</footer>

<div
  class="font-14 py-2 text-center font-family-poppins nmc-white nmc-bg-primary"
>
  {{ footer?.CopyrightText }}
</div>
