<section class="py-5 min-vh-100">
  <div class="container-boxed">
    <div
      class="heading d-flex align-items-center justify-content-between mb-4 mb-lg-5"
    >
      <h2
        class="section-title left font-36 nmc-dark-grey font-family-poppins mb-0 pb-2"
      >
        Events
      </h2>

      <button
        class="create-event-btn nmc-btn-primary px-sm-5 px-4 py-3 h-auto"
        (click)="user ? createEvent() : null"
        data-bs-toggle="modal"
        [attr.data-bs-target]="user ? '' : '#eventModal'"
      >
        Create an event
      </button>
    </div>

    <div
      class="modal fade"
      id="eventModal"
      tabindex="-1"
      aria-labelledby="eventModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header p-4">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body p-4 pt-0">
            <p
              class="nmc-dark-grey font-18 mb-3 text-center font-family-poppins"
            >
              You need to log in to create an event. Please log in to continue.
            </p>

            <button
              class="nmc-btn-primary px-sm-5 px-4 py-3 h-auto fw-bold m-auto"
              (click)="redirectToLogin()"
            >
              Go to Login
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- <h2 class="font-36 nmc-dark-grey font-family-poppins text-center mb-5">
      <span class="text-bottom-line position-relative">Upcoming Events</span>
    </h2> -->

    <div class="events-container row g-4 pt-0 pt-lg-4">
      @for(e of events| slice:0:displayedEventsCount; track e.id; let i =
      $index){
      <div class="col-12 col-md-6 col-lg-4">
        <div
          class="events-card card overflow-hidden nmc-bg-white overflow-hidden position-relative rounded-0 h-100 mt-4 mt-lg-0"
        >
          <a [routerLink]="['/event', e.id]">
            <figure class="m-0 p-0 zoom-effect overflow-hidden">
              <img
                [src]="e.EventImage ? e.EventImage : defaultImage"
                class="w-100 h-100 object-fit-cover"
                alt="Event Tech"
                loading="lazy"
              />
            </figure>

            <figcaption class="m-0 p-4">
              <div class="d-flex align-items-center justify-content-start mb-2">
                <span
                  class="d-inline-block font-12 fw-semibold rounded-1 py-1 px-2 text-blue-600 bg-blue-100"
                  >{{ e.isOffline ? "Offline" : "Online" }}
                </span>

                @if(e.isPaid){
                <span
                  class="d-inline-block font-12 fw-semibold rounded-1 py-1 px-2 text-red-600 bg-red-100 ms-2"
                  >{{ "Paid" }} </span
                >}@else {
                <span
                  class="d-inline-block font-12 fw-semibold rounded-1 py-1 px-2 text-green-600 bg-green-100 ms-2"
                  >{{ "Free" }} </span
                >}
              </div>

              <h4 class="font-22 nmc-dark-grey my-3 font-family-poppins">
                {{ e.Title }}
              </h4>

              <h3 class="font-16 nmc-medium-grey mb-3 fw-normal ">
                {{ e.Description | slice:0:125 }}...
              </h3>

              <div class="d-flex align-items-center gap-3">
                <h4 class="city font-14 nmc-dark-grey m-0">
                  <i
                    class="bi bi-calendar-event-fill me-2 font-18 nmc-primary"
                  ></i>
                  {{ e.Date | date : "MMMM d" }}
                </h4>

                @if(e.isOffline){
                <h4 class="city font-14 nmc-dark-grey m-0">
                  <i class="bi bi-geo-alt-fill me-1 font-18 nmc-primary"></i>
                  {{ e.City }}
                </h4>
                } @else{
                <h4 class="city font-14 nmc-dark-grey m-0">
                  <i class="bi bi-laptop-fill me-1 font-18 nmc-primary"></i>
                  Online
                </h4>
                }
              </div>
            </figcaption>
          </a>
        </div>
      </div>
      } @if(showLoadMoreButton){
      <div class="mt-5 d-flex">
        <button
          class="nmc-btn-primary px-sm-5 px-4 py-3 h-auto m-auto"
          (click)="loadMore()"
        >
          Load More
        </button>
      </div>
      }
    </div>
  </div>
</section>
