@use "../styles/variables" as *;

.events-card {
    box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
    border: 0 solid #e2e8f0;

    figure {
        height: 200px;
    }

    &:hover {
        transform: scale(1.05);
        transition: ease all .5s;
    }
}

.create-event-btn {
    font-size: 1.25rem;
}

.modal-header {
    border-bottom: none !important;
}

@media (max-width: 450px) {
    h2 {
        font-size: 30px !important;
    }

    .events-card i {
        font-size: 14px;
    }

    .events-card h4.city {
        font-size: 12px !important;
    }
}