<h2 class="section-title left font-30 nmc-dark-grey font-family-poppins pb-3">
  Settings
</h2>


<div *ngIf="user" class="settings-container">
  <h2>User Settings</h2>
  <div class="user-info">
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p>
      <strong>Password:</strong> 
      <span [class.password-hidden]="!showPassword">{{ user.password }}</span>
      <button class="icon-button" (click)="togglePasswordVisibility()">
        <span class="eye-icon" [class.open]="showPassword"></span>
      </button>
    </p>
  </div>

  <button class="update-password-btn" (click)="toggleUpdatePasswordForm()">
    {{ showUpdatePasswordForm ? 'Cancel' : 'Update Password' }}
  </button>

  <form *ngIf="showUpdatePasswordForm" [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()" class="update-password-form">
    <div class="form-group">
      <label for="currentPassword">Current Password:</label>
      <input type="password" id="currentPassword" formControlName="currentPassword">
    </div>
    <div class="form-group">
      <label for="newPassword">New Password:</label>
      <input type="password" id="newPassword" formControlName="newPassword">
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm New Password:</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword">
    </div>
    <button type="submit" [disabled]="!updatePasswordForm.valid">Update Password</button>
  </form>

  <div *ngIf="showPopup" class="popup">
    Password updated successfully!
  </div>
</div>