<h2 class="section-title left font-30 nmc-dark-grey font-family-poppins pb-3">
  Settings
</h2>

<div class="form-wrapper w-100">
  <form [formGroup]="userProfileForm">
    <div class="row form-group mt-3">
      <div class="col-6">
        <label for="email" class="form-label fw-semibold font-14 required"
          >Email</label
        >
        <input
          type="email"
          class="form-control h-3 rounded-3"
          id="email"
          formControlemail="email"
          value="{{ user.email }}"
          disabled
        />
      </div>

      <div class="col-6">
        <label for="password" class="form-label fw-semibold font-14 required"
          >Password</label
        >
        <input
          type="password"
          class="form-control h-3 rounded-3"
          formControlName="password"
          id="password"
        />
      </div>
    </div>
  </form>

  <div class="d-flex justify-content-end mt-4">
    <button
      (click)="saveProfile()"
      class="nmc-btn-primary font-14 fw-semibold box-shadow-none px-4 py-2 h-auto"
    >
      Save
    </button>
  </div>
</div>
