<!-- <h2 class="section-title left font-24 nmc-dark-grey font-family-poppins pb-3">
  Settings
</h2> -->

@if(user){
<div class="wrapper position-relative rounded-3 p-4">
  <div class="user-info">
    <p><strong class="nmc-medium-grey me-2">Email:</strong> {{ user.email }}</p>
  </div>

  <button class="nmc-btn-primary" (click)="toggleUpdatePasswordForm()">
    {{ showUpdatePasswordForm ? "Cancel" : "Update Password" }}
  </button>

  @if(showUpdatePasswordForm){
  <form
    [formGroup]="updatePasswordForm"
    (ngSubmit)="updatePassword()"
    class="update-password-form mt-4 p-4 rounded-3"
  >
    <div class="form-group">
      <label
        class="form-label fw-semibold nmc-medium-grey"
        for="currentPassword"
        >Current Password:</label
      >
      <input
        class="form-control rounded-2 h-3"
        type="password"
        id="currentPassword"
        formControlName="currentPassword"
      />
    </div>

    <div class="form-group mt-3">
      <label class="form-label fw-semibold nmc-medium-grey" for="newPassword"
        >New Password:</label
      >
      <input
        class="form-control rounded-2 h-3"
        type="password"
        id="newPassword"
        formControlName="newPassword"
      />
    </div>

    <div class="form-group mt-3">
      <label
        class="form-label fw-semibold nmc-medium-grey"
        for="confirmPassword"
        >Confirm New Password:</label
      >
      <input
        class="form-control rounded-2 h-3"
        type="password"
        id="confirmPassword"
        formControlName="confirmPassword"
      />
    </div>

    <button
      type="submit"
      class="nmc-btn-primary mt-3"
      [disabled]="!updatePasswordForm.valid"
    >
      Update Password
    </button>
  </form>
  } @if(showPopup){
  <div class="popup fw-bold font-16 rounded-2 nmc-white">
    Password updated successfully!
  </div>
  }
</div>
}
