<div class="pb-5 min-height-700 nmc-bg-white">
  <form [formGroup]="jobForm">
    <div class="form-group pt-5">
      <h3 class="font-family-poppins mb-5 font-30 font-992-28">
        Step 4: Enter job responsibilities
      </h3>

      <div class="chip-container mb-2 row g-4">
        @for(control of responsibilities.controls; track control; let i =
        $index;){
        <ng-container>
          <div class="col-4">
            <div
              class="chip rounded-4 d-flex align-items-start justify-content-between"
            >
              <p class="m-0 word-break">{{ control.value }}</p>

              <div class="d-flex align-items-center ms-5">
                <button
                  type="button"
                  (click)="editResponsibility(i)"
                  class="p-0 border-0 nmc-dark-grey cursor-pointer"
                >
                  <i class="bi bi-pencil-fill"></i>
                </button>

                <button
                  type="button"
                  (click)="removeResponsibility(i)"
                  class="p-0 ms-2 border-0 nmc-primary cursor-pointer"
                >
                  <i class="bi bi-x-circle-fill"></i>
                </button>
              </div>
            </div>
          </div>
        </ng-container>
        }
      </div>

      <div class="input__group mt-5">
        <div formArrayName="Responsibilities" class="d-flex align-items-end">
          <div class="d-flex flex-wrap align-items-center w-100">
            <input
              #newResponsibility
              type="text"
              class="input__field"
              (keyup)="cleanMessage()"
              [value]="
                editingIndex === -1
                  ? ''
                  : responsibilities.at(editingIndex).value || ''
              "
            />

            <label for="Responsibilities" class="input__label"
              >Responsibilities</label
            >
          </div>

          <button
            type="button"
            (click)="addResponsibility(newResponsibility)"
            class="nmc-btn-primary ms-3"
          >
            +
          </button>
        </div>
      </div>

      @if(isResponsibilitiesInValid){
      <div class="error-label text-danger font-18">
        <i class="bi bi-exclamation-triangle-fill me-2"></i>Please provide at
        least one Responsibility
      </div>
      }
    </div>
  </form>

  <div class="d-flex justify-content-end align-items-center mt-5">
    <!-- <button
      class="back-btn font-20 fw-semibold border-0 nmc-medium-grey nmc-bg-white"
    >
      Back
    </button> -->

    <button
      class="nmc-btn-primary fw-semibold box-shadow-none py-3 px-5 h-auto ms-3 d-flex align-items-center rounded-0"
      (click)="next()"
    >
      Next
    </button>
  </div>
</div>
