<div class="spacer--default"></div>

<form [formGroup]="jobForm">
  <h5 class="font-20 nmc-dark-grey mb-4">Select Skills</h5>
  <div class="row form-group my-3">
    @for(skill of availableSkills; track skill ){
    <div class="col-2">
      <div
        class="chips rounded-5 p-2 text-center cursor-pointer"
        [class.selected]="isSelected(skill)"
        (click)="toggleSkill(skill)"
        (keydown)="toggleSkill(skill)"
        tabindex="0"
      >
        {{ skill }}
      </div>
    </div>
    }
  </div>
</form>
