<div class="spacer--small"></div>

<form [formGroup]="jobForm">
  <div class="row form-group mt-3 mb-3 flex-column">
    <div class="col-12">
      <div class="input__group mt-5">
        <input
          id="CompanyLinkedIn"
          type="text"
          formControlName="CompanyLinkedIn"
          class="input__field"
          placeholder="Enter your company's linkedIn"
        />
        <label for="CompanyLinkedIn" class="input__label"
          >Enter Your Company's LinkedIn</label
        >
      </div>
    </div>

    <div class="col-12 mt-3">
        <div class="input__group mt-5">
          <input
            id="CompanyGithub"
            type="text"
            formControlName="CompanyGithub"
            class="input__field"
            placeholder="Enter your company's github"
          />
          <label for="CompanyGithub" class="input__label"
            >Enter Your Company's Github</label
          >
        </div>
      </div>

      <div class="col-12 mt-3">
        <div class="input__group mt-5">
          <input
            id="CompanyTwitter"
            type="text"
            formControlName="CompanyTwitter"
            class="input__field"
            placeholder="Enter your company's twitter"
          />
          <label for="CompanyTwitter" class="input__label"
            >Enter Your Company's Twitter</label
          >
        </div>
      </div>
  </div>
</form>
