@use "../styles/variables" as *;

.text-bottom-line::after {
    inset: 85px 0 0 0;
}

@media (max-width: 1223px) {
    .hero-section {
        h1 {
            font-size: 59px !important;
        }
    }
}

@media (max-width: 1120px) {
    .text-bottom-line::after {
        inset: 75px 0 0 0;
    }

    .hero-section {
        h1 {
            font-size: 53px !important;
        }
    }
}

@media (max-width:1010px) {
    .text-bottom-line {
        color: $nmc-primary;

        &::after {
            display: none;
        }
    }

    p {
        width: 100% !important;
    }
}

@media (max-width:898px) {
    .hero-section {
        h1 {
            font-size: 44px !important;
        }

        p {
            font-size: 18px !important;
        }
    }
}

@media (max-width:767px) {
    .hero-section {
        text-align: center;

        .nmc-btn-primary {
            margin: auto;
        }

        img {
            width: 400px !important;
            margin: auto;
        }
    }
}

@media (max-width:424px) {
    .hero-section {
        img {
            width: 100% !important;
        }
    }
}