.advertisements swiper-slide {
    height: 400px;
}

.tech-stack div {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tech-stack img {
    max-width: 80px;
}

.tech-stack {
    transition: transform 0.3s ease;
}

.tech-stack:hover {
    transform: scale(1.05);
}