@use "../styles/variables" as *;

.text-bottom-line::after {
    inset: 65px 0 0 0;
}

.wrapper {
    background-color: rgb(255, 245, 237);
    background-image:
        // radial-gradient(at 86% 12%, hsla(25, 100%, 23%, 0.20) 0px, transparent 50%),
        radial-gradient(at 62% 97%, hsla(25, 100%, 43%, 0.31) 0px, transparent 50%),
        radial-gradient(at 80% 34%, hsla(41, 100%, 75%, 0.66) 0px, transparent 50%);
    background-size: 200% 200%;
    animation: moving 10s ease infinite;
    overflow-x: hidden;
}

@keyframes moving {
    0% {
        background-position: 0% 0%, 100% 100%, 50% 50%;
    }

    25% {
        background-position: 100% 0%, 0% 100%, 75% 25%;
    }

    50% {
        background-position: 100% 100%, 0% 0%, 100% 100%;
    }

    75% {
        background-position: 0% 100%, 100% 0%, 25% 75%;
    }

    100% {
        background-position: 0% 0%, 100% 100%, 50% 50%;
    }
}

.custom-shape-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider .shape-fill {
    fill: #FFFFFF;
}


@media (max-width: 1087px) {
    .hero-section .container-boxed {
        h1 {
            font-size: 3rem !important;
        }

        img {
            width: 45% !important;
        }
    }
}

@media (max-width:992px) {
    .text-bottom-line::after {
        inset: 55px 0 0 0;
    }

    .hero-section .container-boxed {
        h1 {
            font-size: 2.8rem !important;
            line-height: 1.3;
        }

        p {
            font-size: 20px !important;
        }
    }
}

@media (max-width:895px) {
    .hero-section .container-boxed {
        h1 {
            font-size: 2.5rem !important;
        }

        p {
            font-size: 18px !important;
        }
    }
}

@media (max-width:804px) {
    .hero-section .container-boxed {
        flex-direction: column-reverse;
        text-align: center;

        p {
            width: 100% !important;
        }

        img {
            width: 60% !important;
        }
    }
}

@media (max-width:567px) {
    .hero-section .container-boxed {

        h1 {
            font-size: 2.5rem !important;
        }

        p {
            margin-top: 1.2rem !important;
        }

        img {
            width: 80% !important;
        }
    }
}

@media (max-width:464px) {
    .text-bottom-line::after {
        inset: 45px 0 0 -5px;
    }

    .hero-section .container-boxed {
        h1 {
            font-size: 2rem !important;
            line-height: 1.5;
        }

        img {
            width: 100% !important;
        }
    }
}

@media (max-width:380px) {
    .hero-section .container-boxed {
        h1 {
            line-height: 1.3;

            span {
                display: block;
                color: $nmc-primary;

                &::after {
                    display: none;
                }
            }
        }

        p {
            margin-top: 1rem !important;
            margin-bottom: 0 !important;
        }

        img {
            width: 100% !important;
        }
    }
}