<div class="company-info p-4 border-bottom position-relative">
  <div
    class="d-flex align-items-start justify-content-between flex-column flex-sm-row"
  >
    <div>
      <div class="d-flex align-items-center">
        <figure class="logo m-0 p-0 overflow-hidden me-2">
          <img
            [src]="eventAbout?.Logo"
            class="w-100 h-100 object-fit-contain"
            alt="Event Logo"
            loading="lazy"
          />
        </figure>

        <h2 class="font-42 nmc-dark-grey">
          {{ eventAbout?.Title }}
        </h2>
      </div>

      <div
        class="pt-3 d-flex align-items-center justify-content-start flex-wrap gap-4"
      >
        <a [href]="eventAbout?.Tech">
          <h6 class="nmc-medium-grey fw-light font-16 m-0">
            <i class="bi bi-tag me-2 font-20"></i>{{ eventAbout?.Tech }}
          </h6></a
        >

        @if( eventAbout?.City){
        <h6 class="nmc-medium-grey fw-light font-16 m-0">
          <i class="bi bi-geo-alt me-2 font-20"></i>{{ eventAbout?.City }}
        </h6>
        } @if(!eventAbout?.isOffline){
        <h6 class="nmc-medium-grey fw-light font-16 m-0">
          <i class="bi bi-laptop me-2 font-20"></i>
          Online
        </h6>
        } @if(eventAbout?.Date){
        <h6 class="nmc-medium-grey fw-light font-16 m-0">
          <i class="bi bi-calendar-event me-2 font-20"></i>
          {{ eventAbout?.Date | date : "MMMM d" }}
        </h6>
        }@if(eventAbout?.TotalSeats){
        <h6 class="nmc-medium-grey fw-light font-16 m-0">
          <i class="bi bi-ticket-perforated me-2 font-20"></i>
          {{ eventAbout?.TotalSeats }} Seats
        </h6>
        }

        <!-- @if(event.email){
          <h6 class="nmc-medium-grey fw-light font-16 m-0">
            <i class="bi bi-envelope me-2 font-20"></i>{{ event.email }}
          </h6>
          } @if(event.PhoneNo){
          <h6 class="nmc-medium-grey fw-light font-16 m-0">
            <i class="bi bi-telephone me-2 font-20"></i>{{ event.PhoneNo }}
          </h6>
          } -->
      </div>
    </div>

    <div class="d-flex align-items-center justify-content-end mt-4 mt-sm-0">
      <button
        class="nmc-btn-primary h-auto py-2 px-4 box-shadow-none"
        (click)="attendEvent()"
        [disabled]="enrolled || isLoading"
      >
        {{
          enrolled ? "Enrolled 🎉" : isLoading ? "Processing..." : "Enroll Now"
        }}
      </button>

      <a
        class="cursor-pointer"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#jobModal"
        tabindex="0"
        ><i class="bi bi-share-fill nmc-medium-grey ms-3 font-20"></i
      ></a>
    </div>
  </div>
</div>

<!-- <section class="pt-5 position-relative overflow-hidden gradient-bg">
  <div class="container-boxed mb-5">
    <div
      class="d-flex align-items-center justify-content-lg-between justify-content-center"
    >
      <div class="seats d-flex align-items-center justify-content-center gap-3">
        <h4
          class="font-22 font-family-inter fw-semibold tracking-wider d-inline-block p-3 bg-orange-100 rounded-0"
        >
          Total <br class="d-none d-426" />Seats:
          <span class="nmc-primary">{{ eventAbout?.TotalSeats }}</span>
        </h4>

        <h4
          class="font-22 font-family-inter fw-semibold tracking-wider d-inline-block p-3 bg-orange-100 rounded-0"
        >
          Registered <br class="d-none d-426" />Seats:
          <span class="nmc-primary">{{ eventAbout?.RegisteredSeats }}</span>
        </h4>
      </div>

      <button
        class="nmc-btn-primary nmc-bg-white nmc-primary h-auto d-none d-lg-block"
        (click)="attendEvent()"
        [disabled]="enrolled || isLoading"
      >
        {{
          enrolled ? "Enrolled 🎉" : isLoading ? "Processing..." : "Enroll Now"
        }}
      </button>
    </div>

    <div
      class="position-relative d-flex flex-column align-items-center justify-content-center text-center z-2 mt-4"
    >
      <figure class="logo m-0 p-0 overflow-hidden">
        <img
          [src]="eventAbout?.Logo"
          class="w-100 h-100 object-fit-contain"
          alt="Event Logo"
          loading="lazy"
        />
      </figure>

      <h1 class="font-52 nmc-white fw-bolder font-family-poppins">
        {{ eventAbout?.Title }}
      </h1>

      <span
        class="d-inline-block font-18 fw-semibold rounded-0 py-1 px-2 text-red-600 bg-red-100"
        >{{ eventAbout?.isOffline ? "Offline" : "Online" }}
      </span>

      <div
        class="banner-info d-flex align-items-center justify-center gap-4 mt-4"
      >
        <h4 class="nmc-white">
          <i class="bi bi-calendar-event me-1 font-20 nmc-white"></i>
          {{ eventAbout?.Date | date : "MMMM d" }}
        </h4>

        @if(eventAbout?.isOffline){
        <h4 class="nmc-white">
          <i class="bi bi-geo-alt me-1 font-20 nmc-white"></i>
          {{ eventAbout?.City }}
        </h4>
        }@else{
        <h4 class="nmc-white">
          <i class="bi bi-laptop me-1 font-20 nmc-white"></i>Online
        </h4>
        }
      </div>

      <button
        class="nmc-btn-primary nmc-bg-white nmc-primary h-auto mt-4 d-block d-lg-none"
        (click)="attendEvent()"
        [disabled]="enrolled || isLoading"
      >
        {{
          enrolled ? "Enrolled 🎉" : isLoading ? "Processing..." : "Enroll Now"
        }}
      </button>
    </div>
  </div>

  <div class="custom-shape-divider w-100 position-relative">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 900 110"
      preserveAspectRatio="none"
    >
      <path
        d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
</section> -->

<section class="position-relative overflow-hidden mt-5 pb-5">
  <div class="container-boxed">
    <div class="row gx-5">
      <div class="col-lg-6 col-12 text-center text-lg-start">
        <h2
          class="section-title left font-36 nmc-dark-grey font-family-poppins pb-3"
        >
          About The Event
        </h2>

        <p class="nmc-dark-grey text-break">
          {{ eventAbout?.Description }}
        </p>
      </div>

      <div class="col-lg-6 col-12">
        <figure class="event-banner m-0 p-0 overflow-hidden rounded-0">
          <img
            [src]="
              eventAbout?.EventImage ? eventAbout?.EventImage : defaultImage
            "
            alt="Hero-Image"
            class="object-fit-cover w-100 h-100"
          />
        </figure>
      </div>
    </div>
  </div>
</section>
