@use "../../styles/variables" as *;

.gradient-bg {
    background: rgb(255, 107, 107);
    background: linear-gradient(0deg, rgb(255, 115, 115) 0%, rgb(254, 91, 91) 35%, rgb(206, 0, 0) 100%);
}

.custom-shape-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider .shape-fill {
    fill: #FFFFFF;
}

.nmc-btn-primary {
    font-size: 24px !important;
    padding: 1rem 5rem;
}

.nmc-btn-primary:disabled {
    background-color: rgb(95 99 104 / 50%) !important;
    color: #fff !important;

}

.logo {
    width: 100px;
    height: 100px;
}

.event-banner {
    height: 300px;
}

.seats h4 {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border: 1px solid $nmc-primary;
}