<section class="pt-5 position-relative overflow-hidden gradient-bg">
  <div class="container-boxed mb-5">
    <div class="d-flex align-items-center justify-content-between">
      <div class="seats d-flex align-items-center justify-content-center gap-3">
        <h4
          class="font-22 font-family-inter fw-semibold tracking-wider d-inline-block p-3 bg-orange-100 rounded-0"
        >
          Total Seats:
          <span class="nmc-primary">{{ eventAbout?.TotalSeats }}</span>
        </h4>

        <h4
          class="font-22 font-family-inter fw-semibold tracking-wider d-inline-block p-3 bg-orange-100 rounded-0"
        >
          Total Registered:
          <span class="nmc-primary">{{ eventAbout?.RegisteredSeats }}</span>
        </h4>
      </div>

      <button
        class="nmc-btn-primary nmc-bg-white nmc-primary h-auto"
        (click)="attendEvent()"
        [disabled]="enrolled || isLoading"
      >
        {{
          enrolled ? "Enrolled 🎉" : isLoading ? "Processing..." : "Enroll Now"
        }}
      </button>
    </div>

    <div
      class="position-relative d-flex flex-column align-items-center justify-content-center text-center z-2 mt-4"
    >
      <figure class="logo m-0 p-0 overflow-hidden">
        <img
          [src]="eventAbout?.Logo"
          class="w-100 h-100 object-fit-contain"
          alt="Event Logo"
          loading="lazy"
        />
      </figure>

      <h1 class="font-52 nmc-white fw-bolder font-family-poppins">
        {{ eventAbout?.Title }}
      </h1>

      <span
        class="d-inline-block font-18 fw-semibold rounded-1 py-1 px-2 text-red-600 bg-red-100"
        >{{ eventAbout?.isOffline ? "Offline" : "Online" }}
      </span>

      <div class="d-flex align-items-center justify-center gap-4 mt-3">
        <h4 class="nmc-white">
          <i class="bi bi-calendar-event me-1 font-20 nmc-white"></i>
          {{ eventAbout?.Date | date : "MMMM d" }}
        </h4>

        @if(eventAbout?.isOffline){
        <h4 class="nmc-white">
          <i class="bi bi-geo-alt me-1 font-20 nmc-white"></i>
          {{ eventAbout?.City }}
        </h4>
        }@else{
        <h4 class="nmc-white">
          <i class="bi bi-laptop me-1 font-20 nmc-white"></i>Google Meet
        </h4>
        }
      </div>

      <!-- <span
        class="d-inline-block font-18 fw-semibold rounded-1 py-1 px-3 mt-3 text-orange-600 bg-orange-100"
        >{{ eventAbout?.isOffline ? "Offline" : "Online" }}</span
      > -->

      <!-- <ol class="breadcrumb nmc-primary my-4 position-absolute">
      <li class="breadcrumb-item">
        <a href="#" class="nmc-dark-grey me-2">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Event-Details</li>
    </ol> -->

      <!-- <button
        class="nmc-btn-primary m-auto mt-4 px-5 py-2 h-auto"
        (click)="attendEvent()"
      >
        Enroll Now
      </button> -->
    </div>
  </div>

  <div class="custom-shape-divider w-100 position-relative">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 900 110"
      preserveAspectRatio="none"
    >
      <path
        d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
</section>

<section class="position-relative overflow-hidden pb-5">
  <div class="container-boxed">
    <div class="row gx-5">
      <div class="col-6">
        <h2
          class="section-title left font-36 nmc-dark-grey font-family-poppins pb-3"
        >
          About The Event
        </h2>

        <p class="nmc-dark-grey text-break">
          {{ eventAbout?.Description }}
        </p>
      </div>

      <div class="col-6">
        <figure class="event-banner m-0 p-0 overflow-hidden rounded-3">
          <img
            [src]="
              eventAbout?.EventImage ? eventAbout?.EventImage : defaultImage
            "
            alt="Hero-Image"
            class="object-fit-cover w-100 h-100"
          />
        </figure>
      </div>
    </div>
  </div>
</section>
