<section class="advertisements py-5">
  <div class="container-boxed">
    <swiper-container
      class="mySwiper"
      slides-per-view="1"
      pagination="false"
      navigation="false"
      autoplay="true"
      class="single-slider"
    >
      @for(a of advertisements; track a){
      <swiper-slide class="overflow-hidden rounded-0 purple-bg-gradient">
        <div
          class="inner px-4 px-md-5 py-3 p-sm-5 d-flex align-items-center justify-content-between gap-5 h-100"
        >
          <div class="slider-info text-start position-relative z-50">
            <h2 class="font-36 nmc-white font-family-poppins mb-5">
              {{ a.Title }}
            </h2>

            <a
              [href]="a.BtnLink"
              class="d-inline nmc-bg-white nmc-dark-grey p-3 fw-semibold"
            >
              {{ a.BtnText }}
            </a>
          </div>

          <div class="slider-img hidden w-60 max-w-md">
            <figure class="m-0 overflow-hidden">
              <img
                [src]="a.Image"
                alt=""
                class="h-100 w-100 object-fit-contain"
              />
            </figure>
          </div>
        </div>
      </swiper-slide>
      }
    </swiper-container>
  </div>
</section>
