<h2
  class="section-title left font-30 nmc-dark-grey font-family-poppins pb-3 mb-4"
>
  Certificates
</h2>

<div class="row certificates">
  <div class="col-4">
    <figure class="rounded-3 overflow-hidden">
      <img
        src="assets/images/certificates/certificate-1.png"
        alt=""
        class="w-100 h-auto object-fit-fill"
      />
    </figure>
  </div>

  <div class="col-4">
    <figure class="rounded-3 overflow-hidden">
      <img
        src="assets/images/certificates/certificate-2.jpg"
        alt=""
        class="w-100 h-auto object-fit-fill"
      />
    </figure>
  </div>

  <div class="col-4">
    <figure class="rounded-3 overflow-hidden">
      <img
        src="assets/images/certificates/certificate-3.png"
        alt=""
        class="w-100 h-auto object-fit-fill"
      />
    </figure>
  </div>

  <div class="col-4">
    <figure class="rounded-3 overflow-hidden">
      <img
        src="assets/images/certificates/certificate-4.jpg"
        alt=""
        class="w-100 h-auto object-fit-fill"
      />
    </figure>
  </div>
</div>
