<h2 class="section-title left font-24 nmc-dark-grey font-family-poppins pb-3">
  Certificates
</h2>

<div class="row certificates mt-3 g-3">
  @for(certificate of certificates; track certificate;){
  <div class="col-4">
    <figure class=" overflow-hidden m-0 position-relative">
      <img
        [src]="certificate.image"
        alt="Certificate"
        class="w-100 h-100 object-fit-fill"
      />

      <div class="share">
        <a
          class="cursor-pointer"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#certificateModal"
          (click)="openShareModal(certificate)"
          (keydown.enter)="openShareModal(certificate)"
          tabindex="0"
        >
          <i class="bi bi-share-fill font-20"></i>
        </a>
      </div>
    </figure>
  </div>
  }
</div>

<div
  class="modal fade"
  id="certificateModal"
  tabindex="-1"
  aria-labelledby="certificateModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title font-18" id="certificateModalLabel">Share</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <div class="share-options d-flex align-items-center gap-4">
          <a class="cursor-pointer linkedin" (click)="shareOnLinkedIn()">
            <i class="bi bi-linkedin font-30"></i>
          </a>

          <a class="cursor-pointer whatsapp" (click)="shareOnWhatsApp()">
            <i class="bi bi-whatsapp font-30"></i>
          </a>

          <a class="cursor-pointer twitter" (click)="shareOnTwitter()">
            <i class="bi bi-twitter-x font-30"></i>
          </a>

          <a class="cursor-pointer instagram" (click)="shareOnInstagram()">
            <i class="bi bi-instagram font-30"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
