@use "../../styles/variables" as *;

.certificates figure {
  box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
  border: 1px solid $nmc-dark-grey;
  height: 200px;
  z-index: 1;

  .share {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding-bottom: 20px;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;

    a {
      i {
        color: $nmc-white;
      }

      &:hover i {
        color: $nmc-primary;
      }
    }
  }

  &:hover .share {
    padding-bottom: 0;
    visibility: visible;
    opacity: 1;
  }
}

.modal-body {
  .linkedin i {
    color: #0077B5;
  }

  .whatsapp i {
    color: #25D366;
  }

  .twitter i {
    color: #000;
  }

  .instagram i {
    color: #d6249f;
  }
}