@use "../../../app/styles/variables" as *;

.job-list {
    border-right: 1px solid rgb(218, 220, 224);
    height: 100vh;
    overflow: scroll;
    width: 372px;
    z-index: 2;
}

.job-detail {
    flex: 3;
    background-color: rgb(248, 249, 250);
    height: 100vh;
    overflow: scroll;

}

::-webkit-scrollbar-track {
    background-color: $nmc-white;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: $nmc-grey;
}

.wrapper {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);


    li {
        list-style: disc;
    }

    .border-bottom {
        border-bottom: 1px solid #ccc;
    }

    .company-img {
        height: 100px;
        width: 100px;
        top: 1.5rem;
        right: 1.5rem;
    }

    button{
        border: 1px solid #ccc;
    }
}

.card {
    cursor: pointer;
  
    &.active {
      border: 2px solid #ffa500; // Change to your active color
      background-color: #ffe5b4; // Optional: change to your preferred active background color
    }
  }

  /* Example styles for no jobs available message */
.no-jobs-message {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    color: #888; /* Adjust color as per your design */
}

.button-container {
    text-align: center;
    margin: 20px 0;
  }
  
  .btn-load-more, .btn-show-less {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
  }
  
  .btn-load-more {
    background-color:  #e78235; /* Adjust to your theme */
    margin-right: 10px; /* Space between buttons */
  }
  
  .btn-show-less {
    background-color: rgb(63, 63, 63); /* Adjust to your theme */
  }
  
  .btn-load-more:hover {
    background-color: #f77b0e; /* Adjust to your theme */
  }
  
  .btn-show-less:hover {
    background-color: #2b2828; /* Adjust to your theme */
  }
  
  .bi-arrow-down, .bi-arrow-up {
    margin-left: 8px;
  }
  