<div class="form-wrapper w-100">
  <form [formGroup]="userProfileForm">
    <div class="row form-group">
      <div class="col-12 col-sm-6">
        <label for="name" class="form-label fw-semibold font-14 required"
          >Name</label
        >
        <input
          type="text"
          class="form-control h-3 rounded-3"
          id="name"
          formControlName="name"
        />
      </div>

      <div class="col-12 col-sm-6 mt-3 mt-sm-0">
        <label for="position" class="form-label fw-semibold font-14 required"
          >Position</label
        >
        <input
          type="text"
          class="form-control h-3 rounded-3"
          id="position"
          formControlName="position"
        />
      </div>

      <div class="col-12 col-sm-6 mt-3">
        <label for="tagline" class="form-label fw-semibold font-14"
          >Tagline</label
        >
        <input
          type="text"
          class="form-control h-3 rounded-3"
          formControlName="tagline"
          id="tagline"
        />
      </div>

      <div class="col-12 col-sm-6 mt-3">
        <label for="city" class="form-label fw-semibold font-14">City</label>
        <input
          type="text"
          class="form-control h-3 rounded-3"
          formControlName="city"
          id="city"
        />
      </div>

      <div class="col-12 mt-3">
        <label for="bio" class="form-label fw-semibold font-14">Bio</label>
        <textarea
          type="text"
          class="form-control rounded-3"
          formControlName="bio"
          id="bio"
        ></textarea>
      </div>

      <div class="col-6 col-sm-3 mt-3">
        <label for="skill1" class="form-label fw-semibold font-14"
          >Skill-1</label
        >
        <input
          type="text"
          class="form-control h-3 rounded-3"
          formControlName="skill1"
          id="skill1"
        />
      </div>

      <div class="col-6 col-sm-3 mt-3">
        <label for="skill2" class="form-label fw-semibold font-14"
          >Skill-2</label
        >
        <input
          type="text"
          class="form-control h-3 rounded-3"
          formControlName="skill2"
          id="skill2"
        />
      </div>

      <div class="col-6 col-sm-3 mt-3">
        <label for="skill3" class="form-label fw-semibold font-14"
          >Skill-3</label
        >
        <input
          type="text"
          class="form-control h-3 rounded-3"
          formControlName="skill3"
          id="skill3"
        />
      </div>

      <div class="col-6 col-sm-3 mt-3">
        <label for="skill4" class="form-label fw-semibold font-14"
          >Skill-4</label
        >
        <input
          type="text"
          class="form-control h-3 rounded-3"
          formControlName="skill4"
          id="skill4"
        />
      </div>

      <div class="col-12 col-sm-6 mt-3">
        <label for="education" class="form-label fw-semibold font-14"
          >Education</label
        >
        <!-- <textarea
          type="text"
          class="form-control rounded-3"
          rows="5"
          formControlName="education"
          id="education"
        ></textarea> -->

        <select
          id="education"
          formControlName="education"
          class="form-select rounded-3 h-3 cursor-pointer"
        >
          <option value="" selected>Select education</option>
          @for(education of educations; track education;){
          <option [value]="education">{{ education }}</option>
          }
        </select>
      </div>

      <div class="col-12 col-sm-6 mt-3">
        <label for="experience" class="form-label fw-semibold font-14"
          >Experience</label
        >
        <!-- <textarea
          type="text"
          class="form-control rounded-3"
          rows="5"
          formControlName="experience"
          id="experience"
        ></textarea> -->

        <select
          id="experience"
          formControlName="experience"
          class="form-select rounded-3 h-3 cursor-pointer"
        >
          <option value="" selected>Select experience</option>
          @for(experience of experiences; track experience;){
          <option [value]="experience">{{ experience }}</option>
          }
        </select>
      </div>

      <div class="col-md-12 mt-3">
        <label for="pastExperiences" class="form-label fw-semibold font-14"
          >Past Experiences</label
        >

        @if(pastExperiences.length>0){
        <div class="chip-container mb-2 row g-4">
          @for(control of pastExperiences.controls; track control; let i =
          $index;){
          <ng-container>
            <div class="col-md-4 col-sm-6 col-12">
              <div
                class="chip rounded-4 d-flex align-items-start justify-content-between"
              >
                <p class="m-0 word-break">{{ control.value }}</p>

                <div class="d-flex align-items-center ms-5">
                  <button
                    type="button"
                    (click)="editExperience(i)"
                    class="p-0 border-0 nmc-dark-grey cursor-pointer"
                  >
                    <i class="bi bi-pencil-fill"></i>
                  </button>

                  <button
                    type="button"
                    (click)="removeExperience(i)"
                    class="p-0 ms-2 border-0 nmc-primary cursor-pointer"
                  >
                    <i class="bi bi-x-circle-fill"></i>
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
          }
        </div>
        }

        <div formArrayName="pastExperiences" class="d-flex align-items-center">
          <div class="d-flex flex-wrap align-items-center w-100">
            <input
              #newExperience
              type="text"
              class="form-control h-3 rounded-3 cursor-pointer"
              [value]="
                editingIndex === -1
                  ? ''
                  : pastExperiences.at(editingIndex).value || ''
              "
            />
          </div>

          <button
            type="button"
            (click)="addExperience(newExperience)"
            class="nmc-btn-primary ms-3"
          >
            +
          </button>
        </div>
      </div>

      <div class="col-12 col-sm-4 mt-3">
        <label for="linkedin" class="form-label fw-semibold font-14"
          >Linkedin</label
        >
        <input
          type="text"
          class="form-control h-3 rounded-3"
          formControlName="linkedin"
          id="linkedin"
        />
        @if(userProfileForm.get('linkedin')?.invalid &&
        (userProfileForm.get('linkedin')?.dirty ||
        userProfileForm.get('linkedin')?.touched)){
        <div class="nmc-alert mt-1">
          @if(userProfileForm.get('linkedin')?.errors?.['pattern']){
          <p class="font-14 m-0">*Please enter a valid LinkedIn URL</p>
          }
        </div>
        }
      </div>

      <div class="col-12 col-sm-4 mt-3">
        <label for="github" class="form-label fw-semibold font-14"
          >Github</label
        >
        <input
          type="text"
          class="form-control h-3 rounded-3"
          formControlName="github"
          id="github"
        />
        @if(userProfileForm.get('github')?.invalid &&
        (userProfileForm.get('github')?.dirty ||
        userProfileForm.get('github')?.touched)){
        <div class="nmc-alert mt-1">
          @if(userProfileForm.get('github')?.errors?.['pattern']){
          <p class="font-14 m-0">*Please enter a valid GitHub URL</p>
          }
        </div>
        }
      </div>

      <div class="col-12 col-sm-4 mt-3">
        <label for="twitter" class="form-label fw-semibold font-14"
          >Twitter</label
        >
        <input
          type="text"
          class="form-control h-3 rounded-3"
          formControlName="twitter"
          id="twitter"
        />
        @if(userProfileForm.get('twitter')?.invalid &&
        (userProfileForm.get('twitter')?.dirty ||
        userProfileForm.get('twitter')?.touched)){
        <div class="nmc-alert mt-1">
          @if(userProfileForm.get('twitter')?.errors?.['pattern']){
          <p class="font-14 m-0">*Please enter a valid Twitter URL</p>
          }
        </div>
        }
      </div>

      <div class="col-12 mt-3 fw-semibold font-14">
        <input type="checkbox" formControlName="openforjob" class="me-1" />
        Is Open For a Job?
      </div>
    </div>
  </form>

  <div class="save d-flex justify-content-end">
    <button
      (click)="saveProfile()"
      class="nmc-btn-primary font-18 fw-semibold box-shadow-none px-5 py-3 h-auto"
      [disabled]="
        userProfileForm.get('github')?.invalid ||
        userProfileForm.get('linkedin')?.invalid ||
        userProfileForm.get('twitter')?.invalid
      "
    >
      Save
    </button>
  </div>
</div>
