<section class="pt-4 pb-5 create-job-section">
    <div class="container-boxed">
      <h2 class="section-title font-36 nmc-dark-grey font-family-poppins text-center mb-4">
        Create Job
      </h2>
  
      <div class="form-wrapper rounded-4 p-4 w-100 mx-auto">
        <form [formGroup]="jobForm" (ngSubmit)="onSubmit()">
          <div class="row form-group">
            <div class="col-md-6">
              <label for="companyName" class="form-label required">Company Name</label>
              <input
                type="text"
                id="companyName"
                class="form-control rounded-3"
                formControlName="CompanyName"
                placeholder="Enter company name"
              />
            </div>
  
            <div class="col-md-6">
              <label for="companyUrl" class="form-label required">Company URL</label>
              <input
                type="url"
                id="companyUrl"
                class="form-control rounded-3"
                formControlName="CompanyUrl"
                placeholder="Company URL"
              />
            </div>
          </div>
  
          <div class="row form-group">
            <div class="col-md-12">
              <label for="jobDescription" class="form-label required">Job Description</label>
              <textarea
                id="jobDescription"
                class="form-control rounded-3"
                formControlName="JobDescription"
                placeholder="Describe the job"
                rows="4"
              ></textarea>
            </div>
          </div>
  
          <div class="row form-group">
            <div class="col-md-12">
              <label for="skillsRequired" class="form-label required">Skills Required</label>
              <textarea
                id="skillsRequired"
                class="form-control rounded-3"
                formControlName="SkillsRequired"
                placeholder="List the required skills"
                rows="4"
              ></textarea>
            </div>
          </div>
  
          <div class="row form-group">
            <div class="col-md-6">
              <label for="location" class="form-label required">Location</label>
              <input
                type="text"
                id="location"
                class="form-control rounded-3"
                formControlName="Location"
                placeholder="Location"
              />
            </div>
  
            <div class="col-md-6">
              <label for="remote" class="form-label">Remote</label>
              <div class="form-check">
                <input
                  type="checkbox"
                  id="remote"
                  class="form-check-input"
                  formControlName="Remote"
                />
                <label for="remote" class="form-check-label">Remote</label>
              </div>
            </div>
          </div>
  
          <div class="row form-group">
            <div class="col-md-6">
              <label for="companyGithub" class="form-label required">Company Github</label>
              <input
                type="url"
                id="companyGithub"
                class="form-control rounded-3"
                formControlName="CompanyGithub"
                placeholder="Company Github"
                pattern="https://github.com/.*"
                title="Please enter a valid GitHub URL"
              />
            </div>
  
            <div class="col-md-6">
              <label for="companyTwitter" class="form-label required">Company Twitter</label>
              <input
                type="url"
                id="companyTwitter"
                class="form-control rounded-3"
                formControlName="CompanyTwitter"
                placeholder="Company Twitter"
                pattern="https://twitter.com/.*"
                title="Please enter a valid Twitter URL"
              />
            </div>
          </div>
  
          <div class="row form-group">
            <div class="col-md-6">
              <label for="companyLinkedIn" class="form-label required">Company LinkedIn</label>
              <input
                type="url"
                id="companyLinkedIn"
                class="form-control rounded-3"
                formControlName="CompanyLinkedIn"
                placeholder="Company LinkedIn"
                pattern="https://www.linkedin.com/.*"
                title="Please enter a valid LinkedIn URL"
              />
            </div>
          </div>
  
          <div class="text-center mt-4">
            <button
              type="submit"
              class="nmc-btn-primary font-14 fw-semibold box-shadow-none py-2"
              [disabled]="!jobForm.valid"
            >
              Create Job
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
  
  
