.create-job-section {
    .form-check-input {
      width: 20px;
      height: 20px;
      margin-top: 0.3rem;
      margin-right: 0.5rem;
    }
  
    .form-label {
      font-weight: bold;
      margin-bottom: 8px;
      display: block;
    }

    .form-label.required::after {
        content: " *";
        color: red;
    }
  
    .form-control {
      width: 100%;
      padding: 10px;
      border-radius: 4px;
      border: 1px solid #ccc;
      font-size: 16px;
    }
  
    .form-group {
      margin-bottom: 20px;
    }
  
    .nmc-btn-primary {
      background-color: #ff812d; /* Light orange */
      border: none;
      color: #fff;
      padding: 10px 20px;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      display: inline-block;
      text-align: center;
      width: 100%;
    }
  
    .nmc-btn-primary:disabled {
      background-color: #ffbc8f; /* Adjust this color as needed */
      opacity: 0.7;
      cursor: not-allowed;
    }
  }
  
  