<div class="spacer--default"></div>

<form [formGroup]="jobForm">
  <div class="form-group">
    <h3 class="font-family-poppins mb-4 font-30 font-992-28 text-center">
      You are just a few steps away from hiring a great talent !
    </h3>

    <div class="input__group mt-5">
      <input
        id="email"
        type="email"
        formControlName="email"
        class="input__field"
        placeholder="Enter your email address"
      />
      <label for="email" class="input__label">Email</label>
    </div>
  </div>
</form>
<button (click)="next()">Next</button>
