<section class="login-container d-grid py-5">
  <div
    class="container-boxed d-flex align-items-center justify-content-center flex-column flex-md-row py-0 py-md-5"
  >
    <div
      class="w-50 w-767-100 px-3 px-lg-5 text-center text-md-start mb-4 mb-md-0"
    >
      <h1 class="font-52 nmc-primary mb-4 font-family-poppins">
        Hi, Welcome back!
      </h1>

      <h4 class="nmc-dark-grey">
        A great amount of new opportunities are waiting for you.
      </h4>
    </div>

    <div class="w-50 w-767-100">
      <div class="login-card rounded-4 px-4 py-5 m-auto">
        <div class="card-content">
          <!-- <button
        class="nmc-btn-primary w-100 nmc-bg-light-grey box-shadow-none d-inline-flex align-items-center gap-2 mt-3"
      >
        <img
          src="https://authjs.dev/img/providers/google.svg"
          class="me-2 h-1 w-1"
          alt="Google Logo"
        />
        <p class="font-14 fw-semibold nmc-black m-auto">Sign in with Google</p>
      </button>

      <button
        class="nmc-btn-primary w-100 nmc-bg-light-grey box-shadow-none d-inline-flex align-items-center gap-2 my-3"
      >
        <img
          src="https://authjs.dev/img/providers/linkedin.svg"
          class="me-2 h-1 w-1"
          alt="LinkedIn Logo"
        />
        <p class="font-14 fw-semibold nmc-black m-auto">
          Sign in with LinkedIn
        </p>
      </button>

      <div class="divider gap-3 font-15 nmc-black">
        Or, sign in with your email
      </div> -->

          <!-- Display custom error message for new users -->
          @if(errorMessage){
          <div class="nmc-alert mt-1">
            <p class="font-14 m-0">{{ errorMessage }}</p>
          </div>
          }

          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="email" class="pb-2 font-14">Email</label>
              <input
                type="email"
                class="form-control h-3 rounded-3"
                id="email"
                formControlName="email"
              />
            </div>

            <!-- Display email validation errors -->
            @if(loginForm.get('email')?.invalid &&
            (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)){
            <div class="nmc-alert mt-1">
              @if(loginForm.get('email')?.errors?.['required']){
              <p class="font-14 m-0">*Please enter your email</p>
              } @if(loginForm.get('email')?.errors?.['email']){
              <p class="font-14 m-0">*Invalid email format</p>
              }
            </div>
            }

            <div class="form-group mt-3 position-relative">
              <label for="password" class="pb-2 font-14">Password</label>
              <input
                type="{{ showPassword ? 'text' : 'password' }}"
                class="form-control h-3 rounded-3"
                id="password"
                formControlName="password"
              />

              <i
                class="show-password cursor-pointer fa"
                [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"
                (click)="togglePasswordVisibility()"
                (keyup.enter)="togglePasswordVisibility()"
                tabindex="0"
              ></i>
            </div>

            <!-- Display password validation errors -->
            @if(loginForm.get('password')?.invalid &&
            (loginForm.get('password')?.dirty ||
            loginForm.get('password')?.touched)){
            <div class="nmc-alert mt-1">
              @if(loginForm.get('password')?.errors?.['required']){
              <p class="font-14 m-0">*Please enter your password</p>
              } @if(errorMessage){
              <p class="font-14 m-0">{{ errorMessage }}</p>
              }
            </div>
            }

            <button
              type="submit"
              class="nmc-btn-primary w-100 font-14 fw-semibold box-shadow-none mt-4 py-2 h-auto"
              [disabled]="!loginForm.valid"
            >
              Sign In
            </button>
          </form>

          <a
            class="link nmc-black font-15 font-420-14 mt-3 d-block text-decoration-underline"
            routerLink="/forgot-password"
            >Forgot password?</a
          >

          <div class="font-15 font-420-14 mt-2">
            <span>Don't have an account?</span>
            <a
              class="link d-inline-block ms-2 nmc-primary text-decoration-underline create"
              routerLink="/signup"
              >Create account</a
            >
          </div>

          <div class="font-13 nmc-medium-light-grey mt-2">
            <span>By signing up, you agree to our </span
            ><a
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              class="link nmc-medium-light-grey text-decoration-underline"
              >Terms Of Use</a
            >
            and
            <a
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              class="link nmc-medium-light-grey text-decoration-underline"
              >Privacy Policy</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
