<section class="job-details py-5">
  <div class="container-boxed">
    <div class="wrapper rounded-0 nmc-bg-white">
      <div class="company-info p-4 border-bottom position-relative">
        <!-- <div class="company-img position-absolute">
          <a [href]="job?.CompanyUrl"
            ><img
              [src]="job?.ImageUrl ? job?.ImageUrl : defaultImage"
              alt="{{ job?.position }}"
              class="h-100 w-100 object-fit-contain"
          /></a>          
        </div> -->

        <div
          class="d-flex align-items-start justify-content-between flex-column flex-sm-row"
        >
          <div>
            <h2 class="font-32 nmc-dark-grey fw-normal">
              {{ job?.position }}
            </h2>

            <div
              class="pt-3 d-flex align-items-center justify-content-start flex-wrap gap-4"
            >
              <a [href]="job?.CompanyUrl">
                <h6 class="nmc-medium-grey fw-light font-16 m-0">
                  <i class="bi bi-buildings me-2 font-20"></i
                  >{{ job?.companyName }}
                </h6></a
              >

              @if( job?.Location){
              <h6 class="nmc-medium-grey fw-light font-16 m-0">
                <i class="bi bi-geo-alt me-2 font-20"></i>{{ job?.Location }}
              </h6>
              }

              <h6 class="nmc-medium-grey fw-light font-16 m-0">
                <i class="bi bi-laptop me-2 font-20"></i>
                {{ job?.jobType }}
              </h6>

              <!-- @if(job?.email){
              <h6 class="nmc-medium-grey fw-light font-16 m-0">
                <i class="bi bi-envelope me-2 font-20"></i>{{ job?.email }}
              </h6>
              } @if(job?.PhoneNo){
              <h6 class="nmc-medium-grey fw-light font-16 m-0">
                <i class="bi bi-telephone me-2 font-20"></i>{{ job?.PhoneNo }}
              </h6>
              } -->
            </div>
          </div>

          <div
            class="d-flex align-items-center justify-content-end mt-4 mt-sm-0"
          >
            @if(!user){
            <button
              class="nmc-btn-primary h-auto py-2 px-4 rounded-2 box-shadow-none"
              (click)="applyJob()"
            >
              Login to Apply
            </button>
            }@else{
            <button
              class="nmc-btn-primary h-auto py-2 px-4 box-shadow-none"
              (click)="jobApply()"
              [disabled]="applied || isLoading"
            >
              {{
                applied ? "Applied 🎉" : isLoading ? "Processing..." : "Apply "
              }}
            </button>
            }

            <a
              class="cursor-pointer"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#jobModal"
              tabindex="0"
              ><i class="bi bi-share-fill nmc-medium-grey ms-3 font-20"></i
            ></a>
          </div>
        </div>
      </div>

      <!-- Description -->
      @if( job?.JobDescription){
      <div class="about p-4 border-bottom">
        <h5 class="nmc-dark-grey fw-semibold font-18">About the job :</h5>
        <p
          class="mt-3 nmc-medium-grey m-0 text-break"
          [innerHTML]="job?.JobDescription"
        ></p>
      </div>
      }

      <!-- Qualification -->
      @if( job?.qualification){
      <div class="qualification p-4 border-bottom">
        <h5 class="nmc-dark-grey fw-semibold font-18">
          Qualification for the job :
        </h5>
        <p class="mt-3 nmc-medium-grey m-0">{{ job?.qualification }}</p>
      </div>
      }

      <!-- Skills -->
      @if( job?.SkillsRequired){
      <div class="skills p-4 border-bottom">
        <h5 class="nmc-dark-grey fw-semibold font-18">Skills :</h5>
        <div class="d-flex align-center gap-2 flex-wrap mt-3">
          @for(skill of job?.SkillsRequired; track skill){
          <p
            class="fw-semibold py-2 px-3 nmc-dark-grey nmc-bg-light-grey rounded-0 font-14 m-0"
          >
            {{ skill }}
          </p>
          }
        </div>
      </div>
      }

      <!-- Responsibilities -->
      @if( job?.Responsibilities){
      <div class="responsibility p-4 border-bottom">
        <h5 class="nmc-dark-grey fw-semibold font-18">Responsibilities:</h5>
        <ul class="mt-3">
          @for(responsibility of job?.Responsibilities; track responsibility){
          <li class="ms-4 nmc-medium-grey">{{ responsibility }}</li>
          }
        </ul>
      </div>
      }

      <!-- Social -->
      <div class="social p-4">
        <h5 class="nmc-dark-grey fw-semibold font-18">Social Media:</h5>

        <div class="d-flex align-items-center justify-content-start gap-3">
          @if (job?.CompanyTwitter || job?.CompanyLinkedIn ||
          job?.CompanyGithub) { @if(job?.CompanyTwitter){
          <a [href]="job?.CompanyTwitter" class="font-18 nmc-medium-grey"
            ><i class="bi bi-twitter-x"></i></a
          >} @if(job?.CompanyLinkedIn){
          <a [href]="job?.CompanyLinkedIn" class="font-18 nmc-medium-grey"
            ><i class="bi bi-linkedin"></i></a
          >} @if(job?.CompanyGithub){
          <a [href]="job?.CompanyGithub" class="font-18 nmc-medium-grey"
            ><i class="bi bi-github"></i></a
          >} }@else {
          <p class="font-14 nmc-medium-grey">Not Available.</p>
          }
        </div>
      </div>
    </div>

    <!-- Job Share Modal -->
    <div
      class="modal fade"
      id="jobModal"
      tabindex="-1"
      aria-labelledby="jobModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title font-18" id="jobModalLabel">Share</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body">
            <div class="share-options d-flex align-items-center gap-4">
              <a class="cursor-pointer linkedin" (click)="shareOnLinkedIn()">
                <i class="bi bi-linkedin font-30"></i>
              </a>

              <a class="cursor-pointer whatsapp" (click)="shareOnWhatsApp()">
                <i class="bi bi-whatsapp font-30"></i>
              </a>

              <a class="cursor-pointer twitter" (click)="shareOnTwitter()">
                <i class="bi bi-twitter-x font-30"></i>
              </a>

              <a class="cursor-pointer instagram" (click)="shareOnInstagram()">
                <i class="bi bi-instagram font-30"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
