<section class="py-5">
  <div class="container-boxed">
    <div class="wrapper rounded-4 nmc-bg-white">
      <div class="company-info p-4 border-bottom position-relative">
        <!-- <div class="company-img position-absolute">
          <a [href]="job?.CompanyUrl"
            ><img
              [src]="job?.ImageUrl ? job?.ImageUrl : defaultImage"
              alt="{{ job?.position }}"
              class="h-100 w-100 object-fit-contain"
          /></a>          
        </div> -->

        <div class="d-flex align-items-start justify-content-between">
          <div>
            <h2 class="font-32 nmc-dark-grey fw-normal">
              {{ job?.position }}
            </h2>

            <div
              class="pt-3 d-flex align-items-center justify-content-start gap-4"
            >
              <a [href]="job?.CompanyUrl">
                <h6 class="nmc-medium-grey fw-light font-16 m-0">
                  <i class="bi bi-buildings me-2 font-20"></i
                  >{{ job?.companyName }}
                </h6></a
              >

              <h6 class="nmc-medium-grey fw-light font-16 m-0">
                <i class="bi bi-geo-alt me-2 font-20"></i>{{ job?.Location }}
              </h6>

              <h6 class="nmc-medium-grey fw-light font-16 m-0">
                <i class="bi bi-laptop me-2 font-20"></i>
                @if(job?.Remote){Remote}@else {On site}
              </h6>

              @if(job?.Email){
              <h6 class="nmc-medium-grey fw-light font-16 m-0">
                <i class="bi bi-envelope me-2 font-20"></i>{{ job?.Email }}
              </h6>
              } @if(job?.PhoneNo){
              <h6 class="nmc-medium-grey fw-light font-16 m-0">
                <i class="bi bi-telephone me-2 font-20"></i>{{ job?.PhoneNo }}
              </h6>
              }
            </div>
          </div>

          <div class="d-flex align-items-center justify-content-end">
            <button
              class="nmc-btn-primary h-auto py-2 px-4 rounded-2 box-shadow-none"
            >
              Apply
            </button>

            <a><i class="bi bi-share-fill nmc-medium-grey ms-3 font-20"></i></a>
          </div>
        </div>
      </div>

      <!-- <div class="qualifications p-4 border-bottom">
        <h5 class="nmc-dark-grey fw-semibold font-18">Qualifications:</h5>
        <ul class="mt-3">
          @for(qualification of job?.Qualification; track qualification){
          <li class="ms-4 nmc-medium-grey">{{ qualification }}</li>
          }
        </ul>
      </div> -->

      <div class="about p-4 border-bottom">
        <h5 class="nmc-dark-grey fw-semibold font-18">About the job :</h5>
        <p class="mt-3 nmc-medium-grey m-0">{{ job?.JobDescription }}</p>
      </div>

      <div class="qualification p-4 border-bottom">
        <h5 class="nmc-dark-grey fw-semibold font-18">
          Qualification for the job :
        </h5>
        <p class="mt-3 nmc-medium-grey m-0">{{ job?.qualification }}</p>
      </div>

      <div class="skills p-4 border-bottom">
        <h5 class="nmc-dark-grey fw-semibold font-18">Skills :</h5>
        <p class="mt-3 nmc-medium-grey m-0">{{ job?.SkillsRequired }}</p>
      </div>

      <div class="responsibility p-4 border-bottom">
        <h5 class="nmc-dark-grey fw-semibold font-18">Responsibilities:</h5>
        <ul class="mt-3">
          @for(responsibility of job?.Responsibilities; track responsibility){
          <li class="ms-4 nmc-medium-grey">{{ responsibility }}</li>
          }
        </ul>
      </div>

      <div class="social p-4">
        <h5 class="nmc-dark-grey fw-semibold font-18">Social Media:</h5>

        <div class="d-flex align-items-center justify-content-start gap-3">
          <!-- @if(job?.CompanyTwitter){
          <a [href]="job?.CompanyTwitter" class="font-18 nmc-medium-grey"
            ><i class="bi bi-twitter-x"></i></a
          >} @if(job?.CompanyLinkedIn){
          <a [href]="job?.CompanyLinkedIn" class="font-18 nmc-medium-grey"
            ><i class="bi bi-linkedin"></i></a
          >} @if(job?.CompanyGithub){
          <a [href]="job?.CompanyGithub" class="font-18 nmc-medium-grey"
            ><i class="bi bi-github"></i></a
          >} -->

          <a [href]="job?.CompanyTwitter" class="font-18 nmc-medium-grey"
            ><i class="bi bi-twitter-x"></i
          ></a>
          <a [href]="job?.CompanyLinkedIn" class="font-18 nmc-medium-grey"
            ><i class="bi bi-linkedin"></i
          ></a>
          <a [href]="job?.CompanyGithub" class="font-18 nmc-medium-grey"
            ><i class="bi bi-github"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
