<div class="spacer--medium"></div>

<form [formGroup]="jobForm">
  <div class="row form-group mt-3 mb-3 flex-column">
    <div class="col-12">
      <div class="input__group mt-5">
        <input
          id="MinSalary"
          type="number"
          formControlName="MinSalary"
          class="input__field"
          placeholder="Enter minimum salary"
        />
        <label for="MinSalary" class="input__label">Enter Minimum Salary</label>
        <div *ngIf="jobForm.get('MinSalary')?.invalid && jobForm.get('MinSalary')?.touched">
          <small *ngIf="jobForm.get('MinSalary')?.errors?.['required']" class="error-message">
            Minimum Salary is required.
          </small>
        </div>
      </div>
    </div>

    <div class="col-12 mt-4">
      <div class="input__group mt-5">
        <input
          id="MaxSalary"
          type="number"
          formControlName="MaxSalary"
          class="input__field"
          placeholder="Enter maximum salary"
        />
        <label for="MaxSalary" class="input__label">Enter Maximum Salary</label>
        <div *ngIf="jobForm.get('MaxSalary')?.invalid && jobForm.get('MaxSalary')?.touched">
          <small *ngIf="jobForm.get('MaxSalary')?.errors?.['required']" class="error-message">
            Maximum Salary is required.
          </small>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="jobForm.errors?.['minSalaryError']">
    <div class="error-message">Minimum Salary should be at least 10,000.</div>
  </div>
  <div *ngIf="jobForm.errors?.['salError']">
    <div class="error-message">Minimum Salary should be less than Maximum Salary.</div>
  </div>
</form>

<div class="d-flex justify-content-end align-items-center mt-5">
  <button
    type="button"
    class="font-14 fw-semibold border-0 nmc-medium-grey nmc-bg-white"
  >
    Back
  </button>

  <button
    [disabled]="jobForm.invalid"
    class="nmc-btn-primary font-14 fw-semibold box-shadow-none py-2 px-5 h-auto ms-2 rounded-2 d-flex align-items-center"
    (click)="next()"
  >
    Next
  </button>
</div>

