<div class="vh-100 nmc-bg-white">
  <form [formGroup]="jobForm">
    <div class="row form-group pt-5 flex-column">
      <h3 class="font-family-poppins mb-5 font-30 font-992-28 p-0">
        Step 6: Tell us more about the job
      </h3>

      <div class="input__group">
        <textarea
          id="JobDescription"
          type="text"
          formControlName="JobDescription"
          class="input__field"
          placeholder="Enter job's description"
          rows="7"
          (keyup)="cleanMessage()"
        ></textarea>

        <label for="JobDescription" class="input__label"
          >Enter Job's Description</label
        >
      </div>

      @if(isDescriptionInValid){
      <div class="error-label text-danger font-18">
        <i class="bi bi-exclamation-triangle-fill me-2"></i>Please provide a job
        description
      </div>
      }
    </div>
  </form>

  <div class="d-flex justify-content-end align-items-center mt-5">
    <button
      class="back-btn font-20 fw-semibold border-0 nmc-medium-grey nmc-bg-white"
    >
      Back
    </button>

    <button
      class="nmc-btn-primary fw-semibold box-shadow-none py-3 px-5 h-auto ms-3 d-flex align-items-center rounded-0"
      (click)="next()"
    >
      Next
    </button>
  </div>
</div>
