<div class="vh-100 nmc-bg-white">
  <form [formGroup]="jobForm">
    <div class="row form-group mt-5 flex-column">
      <h3 class="font-family-poppins mb-5 font-30 font-992-28 mt-5">
        Step 5: Enter minimum and maximum salary range
      </h3>

      <div class="col-12">
        <div class="input__group">
          <input
            id="MinSalary"
            type="number"
            formControlName="MinSalary"
            class="input__field"
            placeholder="Enter minimum salary"
          />
          <label for="MinSalary" class="input__label"
            >Enter Minimum Salary</label
          >
        </div>

        @if(jobForm.errors?.['minSalaryError']){
        <div class="error-label text-danger font-18">
          <i class="bi bi-exclamation-triangle-fill me-2"></i>Minimum Salary
          should be at least 10,000.
        </div>
        }
      </div>

      <div class="col-12 mt-4">
        <div class="input__group mt-5">
          <input
            id="MaxSalary"
            type="number"
            formControlName="MaxSalary"
            class="input__field"
            placeholder="Enter maximum salary"
          />
          <label for="MaxSalary" class="input__label"
            >Enter Maximum Salary</label
          >
        </div>

        @if(jobForm.errors?.['salError']){
        <div class="error-label text-danger font-18">
          <i class="bi bi-exclamation-triangle-fill me-2"></i>Maximum Salary
          should be greater than Minimum Salary.
        </div>
        }
      </div>
    </div>
  </form>

  <div class="d-flex justify-content-end align-items-center mt-5">
    <button class="font-14 fw-semibold border-0 nmc-medium-grey nmc-bg-white">
      Back
    </button>

    <button
      class="nmc-btn-primary font-14 fw-semibold box-shadow-none py-2 px-5 h-auto ms-2 rounded-2 d-flex align-items-center"
      (click)="next()"
    >
      Next
    </button>
  </div>
</div>
