<div class="vh-100 nmc-bg-white">
  <form [formGroup]="jobForm">
    <div class="row form-group mt-5 flex-column">
      <h3 class="font-family-poppins mb-5 font-30 font-992-28 mt-5">
        Step 5: Enter minimum-maximum salary range and select notice period
      </h3>

      <div class="col-12">
        <div class="input__group">
          <input
            id="MinSalary"
            type="number"
            formControlName="MinSalary"
            class="input__field"
            placeholder="Enter minimum salary"
          />
          <label for="MinSalary" class="input__label"
            >Enter Minimum Salary</label
          >
        </div>

        @if(jobForm.errors?.['minSalaryError']){
        <div class="error-label text-danger font-18">
          <i class="bi bi-exclamation-triangle-fill me-2"></i>Minimum Salary
          should be at least 10,000.
        </div>
        }
      </div>

      <div class="col-12 mt-3">
        <div class="input__group mt-4">
          <input
            id="MaxSalary"
            type="number"
            formControlName="MaxSalary"
            class="input__field"
            placeholder="Enter maximum salary"
          />
          <label for="MaxSalary" class="input__label"
            >Enter Maximum Salary</label
          >
        </div>

        @if(jobForm.errors?.['salError']){
        <div class="error-label text-danger font-18">
          <i class="bi bi-exclamation-triangle-fill me-2"></i>Maximum Salary
          should be greater than Minimum Salary.
        </div>
        }
      </div>

      <div class="col-12 mt-3">
        <label
          for="noticePeriod"
          class="mt-3 form-label font-20 nmc-medium-grey"
          >Notice Period</label
        >
        <select
          id="noticePeriod"
          (focus)="cleanMessage()"
          formControlName="noticePeriod"
          class="form-select rounded-3 cursor-pointer"
        >
          <option value="" selected class="font-24">
            Select Notice Period
          </option>
          @for( noticePeriod of noticePeriods; track noticePeriod;){
          <option [value]="noticePeriod" class="font-24">
            {{ noticePeriod }}
          </option>
          }
        </select>

        @if(isNoticePeriodInValid){
        <div class="error-label text-danger font-18">
          <i class="bi bi-exclamation-triangle-fill me-2"></i>Please select a
          Notice Period
        </div>
        }
      </div>
    </div>
  </form>

  <div class="d-flex justify-content-end align-items-center mt-5">
    <!-- <button
      class="back-btn font-20 fw-semibold border-0 nmc-medium-grey nmc-bg-white"
    >
      Back
    </button> -->

    <button
      class="nmc-btn-primary fw-semibold box-shadow-none py-3 px-5 h-auto ms-3 d-flex align-items-center rounded-0"
      (click)="next()"
    >
      Next
    </button>
  </div>
</div>
