<section class="vh-100">
  <div class="container-boxed">
    @if (currentStep == 1) { @defer (when currentStep==1) {
    <app-job-step1 [data]="currentJobId" (dataChange)="stepChange($event)" />
    } } @if(currentStep == 2){ @defer (when currentStep==2) {
    <app-job-step2 [data]="currentJobId" (dataChange)="stepChange($event)" />
    } }
    @if(currentStep == 3){ @defer (when currentStep==3) {
    <app-job-step3 [data]="currentJobId" (dataChange)="stepChange($event)" />
    } }
  </div>
</section>
