<section class="techs">
  <div class="container-boxed">
    <h2
      class="section-title left font-36 nmc-dark-grey font-family-poppins mb-5"
    >
      Topics
    </h2>

    <div class="row gy-4 justify-content-center">
      @for(tech of techStack; track tech.Title){

      <div class="col-3 tech-stack">
        <div
          class="rounded-3 py-3 ps-3 pe-5 d-flex align-items-center justify-content-start"
        >
          <figure class="m-0 p-0">
            <img
              [src]="tech.Logo"
              alt=""
              class="w-100 h-100 object-fit-contain"
            />
          </figure>

          <p class="m-0 ps-2">
            {{ tech.Title }}
          </p>
        </div>
      </div>
      }
    </div>
  </div>
</section>
