<!-- <h1>{{title}}</h1>

<app-header></app-header>
<button routerLink="/home">Home</button>
<button routerLink="/events">Events</button>
<button routerLink="/signup">Sign up</button>
<button routerLink="/login">Login</button>
<hr/>
<router-outlet></router-outlet> -->

@if(!isLoginPage()){
<!-- HEADER -->
<app-header></app-header>

<!-- CONTENT -->
<main>
  <div id="content" class="content">
    <router-outlet></router-outlet>
  </div>
</main>

<!-- FOOTER -->
<app-footer></app-footer>

}@else {
<router-outlet></router-outlet>
}
