@use "../../styles/variables" as *;

.schedule .schedule-item {
    border-bottom: 1px solid color-mix(in srgb, $nmc-dark-grey, transparent 85%);

    .speaker {
        figure {
            width: 60px;
            height: 60px;

            img {
                object-position: top;
            }
        }
    }

    h4 span {
        color: color-mix(in srgb, $nmc-dark-grey, transparent 50%);
    }

    p {
        max-width: 600px;
    }
}