@use "../../app/styles/variables" as *;

.job-list {
    border-right: 1px solid rgb(218, 220, 224);
    height: 100vh;
    overflow: scroll;
    width: 372px;
    z-index: 2;
}

.job-detail {
    flex: 3;
    background-color: rgb(248, 249, 250);
    height: 100vh;
    overflow: scroll;
}

::-webkit-scrollbar-track {
    background-color: $nmc-white;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: $nmc-grey;
}