@use "../styles/variables" as *;

.min-height-700 {
    min-height: 700px;
}

.nmc-btn-primary {
    font-size: 1.2rem;
}

.form-control,
.form-control:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.newsletter {
    background: url('../../assets/images/home/newsletter-bg.png') no-repeat;
    background-position: top;
    background-size: cover;
}