@use "../../styles/variables" as *;

.wrapper {
  //box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15);
  //border: 1px solid rgba(0, 0, 0, .05);

  table{
    border: 1px solid #e9ecef;
  }

  .table th,
  .table td {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #e9ecef;
  }

  .table tbody+tbody {
    border-top: 2px solid #e9ecef;
  }

  .table thead th {
    color: $nmc-medium-grey;
    background-color: #f6f9fc;
    font-size: 0.75rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 1px solid #e9ecef;
  }

  .table tbody td {
    font-size: .9rem;
    white-space: nowrap;
    color: $nmc-dark-grey;
    letter-spacing: 1px;
    border-bottom: 1px solid #e9ecef;
    font-weight: 600;
  }
}