<section class="applied-job-section">
    <div class="container">
      <h2 class="section-title left font-30 nmc-dark-grey font-family-poppins pb-3">Applied Jobs</h2>
      <br>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Company Name</th>
            <th>Position</th>
            <th>Location</th>
            <th>Tag</th>
          </tr>
        </thead>
        <tbody>
            @for(job of appliedJobs; track job){
          <tr >
            <td>{{ job.companyName }}</td>
            <td>{{ job.position }}</td>
            <td>{{ job.location }}</td>
            <td>{{ job.tag }}</td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  </section>
  
  
