<section class="pt-5 pb-3 bg-orange-100">
  <div class="container-boxed">
    <div class="d-flex align-items-center justify-content-between">
      <h2
        class="section-title left font-36 nmc-dark-grey font-family-poppins pb-3 mb-0"
      >
        Trending Job Offer
      </h2>

      <a
        class="nmc-view-all d-flex align-items-center justify-content-start"
        [routerLink]="['/jobs']"
      >
        <span class="nmc-dark-grey">VIEW ALL</span>

        <div
          class="d-flex align-items-center justify-content-center rounded-circle nmc-view-all-btn nmc-white"
        >
          <i class="bi bi-arrow-right font-24"></i></div
      ></a>
    </div>
  </div>

  <swiper-container
    class="mySwiper"
    effect="coverflow"
    grab-cursor="true"
    centered-slides="true"
    slides-per-view="auto"
    loop="true"
    autoplay="true"
    autoplay-delay="3000"
    coverflow-effect-rotate="0"
    coverflow-effect-stretch="100"
    coverflow-effect-depth="150"
    coverflow-effect-modifier="1"
    coverflow-effect-slide-shadows="false"
    rewind="true"
  >
    @for(job of jobs$ | async; track job; let i = $index){
    <swiper-slide
      class="overflow-hidden rounded-4 py-4 d-grid align-items-center"
      [ngClass]="getColorClass(i)"
    >
      <div
        class="inner text-center d-flex align-items-center justify-content-center flex-column p-3"
      >
        <figure class="mb-4 m-0 p-2 nmc-bg-white rounded-3">
          <img
            [src]="job.ImageUrl"
            alt=""
            class="w-100 h-100 object-fit-contain"
          />
        </figure>

        <h2 class="font-30 nmc-white font-family-poppins">
          {{ job.CompanyName }}
        </h2>
        <h4 class="font-22 fw-light nmc-white mt-2">{{ job.Position }}</h4>
        <h5 class="font-20 fw-light nmc-white mb-0 mt-4 py-4 w-100">
          {{ job.Location }}
        </h5>

        <button
          class="nmc-btn-primary nmc-bg-white nmc-dark-grey"
          [routerLink]="['/jobs', job.id]"
        >
          Apply Now
        </button>
      </div>
      <div class="hidden w-60 max-w-md"></div> </swiper-slide
    >}
  </swiper-container>
</section>
