@use "../styles/variables" as *;

.jobs-container .wrapper {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  min-height: 100px;

  // &:hover {
  //     transform: scale(1.01);
  //     transition: all ease 0.5s;
  // }

  .nmc-btn-primary {
    font-size: 16px !important;
  }

  .nmc-btn-primary:hover {
    background-color: $nmc-primary !important;
    transition: all ease 0.3s;
  }

  .job-img {
    height: 50px;
    width: 50px;
    padding: 10px;
    background-color: #fff2ee;
  }
}

@media (max-width: 767px) {
  .job-info {
    h2 {
      font-size: 22px !important;
    }

    h5 {
      font-size: 18px !important;
    }
  }

  .job-chips span {
    font-size: 13px !important;
  }
}

@media (max-width: 575px) {

  .w-575-100 {
    width: 100%;
  }

  .job-info,
  .job-apply {
    flex-direction: column;
  }

  .job-info h2,
  .job-info h5 {
    margin-top: 0 !important;
  }

  .job-chips {
    justify-content: flex-start;
  }

  .job-apply-btn {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}