<section class="jobs-section py-5">
  <div class="container-boxed">
    <div class="d-flex align-items-center justify-content-between">
      <h2
        class="section-title left font-36 nmc-dark-grey font-family-poppins pb-3 mb-0"
      >
        Jobs
      </h2>

      <a
        class="nmc-view-all d-flex align-items-center justify-content-start"
        [routerLink]="['/jobs']"
      >
        <span class="nmc-dark-grey d-none d-md-block">VIEW ALL</span>

        <div
          class="d-flex align-items-center justify-content-center rounded-circle nmc-view-all-btn nmc-white"
        >
          <i class="bi bi-arrow-right font-24"></i></div
      ></a>
    </div>

    <div class="jobs-container row g-4 pt-4 pt-lg-5">
      @for(job of jobs$ | async; track job; let i = $index){
      <div class="col-12">
        <div class="wrapper nmc-bg-white rounded-0 p-3">
          <div
            class="job-info d-flex align-items-center justify-content-between"
          >
            <h2
              class="font-24 nmc-dark-grey fw-normal font-family-poppins w-575-100"
            >
              {{ job.position }}
            </h2>

            <h5
              class="font-24 nmc-dark-grey font-family-poppins mt-3 w-575-100"
            >
              <a [href]="job.CompanyUrl" class="nmc-primary">{{
                job.companyName
              }}</a>
            </h5>
          </div>

          @if(job.MaxSalary){
          <h6 class="nmc-dark-grey font-family-poppins font-18 m-0 mt-2">
            <i class="bi bi-cash-coin me-2 font-20 nmc-primary"></i>
            <i class="bi bi-currency-rupee"></i>
            {{ job.MaxSalary }}

            <span class="font-14 nmc-medium-grey font-family-robot fw-semibold">
              /Year
            </span>
          </h6>
          }@else{
          <h6 class="nmc-medium-grey font-16 m-0 mt-2">
            <i class="bi bi-cash-coin me-2 font-20 nmc-primary"></i>
            Not Disclosed.
          </h6>
          }

          <div
            class="job-apply pt-3 d-flex align-items-center justify-content-between gap-2"
          >
            <div class="job-chips row align-items-center gap-2 w-575-100">
              <span class="col-auto font-14 fw-semibold py-1 px-3">
                {{ job?.jobType }}
              </span>

              <span class="col-auto font-14 fw-semibold py-1 px-3"
                >{{ job.Location }}
              </span>

              <span class="col-auto font-14 fw-semibold py-1 px-3"
                >{{ job.Tag }}
              </span>

              <span
                class="col-auto font-14 fw-semibold py-1 px-3 nmc-medium-grey"
                >{{ job.createdTime | timeAgoPipe }}
              </span>
            </div>

            <div class="job-apply-btn">
              <button
                class="nmc-btn-primary h-auto py-2 px-3 box-shadow-none border-0 nmc-bg-dark-grey fw-normal"
                [routerLink]="['/jobs', job.id]"
              >
                Apply
              </button>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>

  <!-- <ul
    class="sticky-wrapper d-flex align-items-center justify-content-evenly flex-wrap py-5 px-3 gap-4 overflow-hidden"
  >
    @for(job of jobs$ | async; track job; let i = $index){
    <li class="mt-4">
      <a
        class="job-link d-grid align-items-center"
        [routerLink]="['/jobs', job.id]"
      >
        <div class="pin rounded-circle m-auto"></div>

        <div class="text-center mt-4">
          <h2 class="font-26 nmc-dark-grey font-family-poppins">
            {{ job.companyName }}
          </h2>

          <h4 class="font-20 nmc-dark-grey mt-3">
            {{ job.position }}
          </h4>

          <h5 class="font-20 nmc-dark-grey mb-0 mt-3 pt-3 w-100">
            @if(job.Location){ {{ job.Location }} }@else{Unknown}
          </h5>

          <div class="social py-3">
            @if(job.email){<a [href]="'mailto:' + job.email"
              ><i class="bi bi-envelope-fill"></i></a
            >} @if(job.CompanyTwitter){<a [href]="job.CompanyTwitter"
              ><i class="bi bi-twitter-x"></i></a
            >} @if(job.CompanyGithub){<a [href]="job.CompanyGithub"
              ><i class="bi bi-github"></i></a
            >} @if(job.CompanyLinkedIn){<a [href]="job.CompanyLinkedIn"
              ><i class="bi bi-linkedin"></i></a
            >}
          </div>
        </div>
      </a>
    </li>
    }
  </ul> -->
</section>
