@use "../styles/variables" as *;

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: $nmc-primary !important;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.nav-link:focus,
.nav-link:hover {
    border-color: #dee2e6 !important;
    border-bottom-color: #fff !important;
    box-shadow: none;
    color: $nmc-primary !important;
}