@use "../styles/variables" as *;

.mentor-card {
  figure {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    height: 400px;
    width: 100%;

    img {
      object-position: top;
    }
  }

  &:hover figure img {
    transition: all ease 0.3s;
    transform: scale(1.1);
  }

  .social a {
    transition: 0.3s;
    color: $nmc-dark-grey;
    font-size: 20px;
    margin: 0 8px;
  }

  .social a:hover {
    color: $nmc-primary;
  }
}

@media (max-width: 767px) {
  .mentor-card {
    figure {
      height: 300px;
    }
  }
}

@media (max-width: 425px) {
  .mentor-card {
    figure {
      max-height: 250px;
    }
  }
}