@use "../styles/variables" as *;

.wrapper {
  //  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  button {
    border: 1px solid #ccc;
  }

  .image-container {

    figure {
      height: 700px;
      width: 100%;
    }

    &.order-md-2 {
      order: 2;
    }

    &.order-md-2 img {
      margin-left: auto;
      margin-right: 0;
    }

    &:not(.order-md-2) img {
      margin-left: 0;
      margin-right: auto;
    }
  }

  .company-bar .row .col-auto:not(:last-child) {
    border-right: 2px solid $nmc-primary;
  }

}

.text-bottom-line::after {
  background-image: url('../../assets/images/home/bottom-text-line.svg');
  background-repeat: no-repeat;
  content: "";
  height: 4px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 55px;
  margin: 0 auto;
  position: absolute;
  width: 191px;
}


// @media (max-width: 768px) {
//   .row {
//     flex-direction: column;
//   }

//   img {
//     margin-top: 1rem;
//   }
// }

// @media (max-width: 768px) {
//   .image-container {
//     max-width: none;
//     flex: 1;
//   }

//   .text-container {
//     padding: 1rem;
//     margin: 0;
//   }
// }