<section class="py-5">
  <div class="container-boxed">
    <h2 class="font-36 nmc-dark-grey font-family-poppins text-center mb-3">
      <span class="text-bottom-line position-relative">Our Mentors</span>
    </h2>

    <!-- <div class="wrapper pt-5 nmc-bg-white">
    @for(instructor of instructors$ | async; track instructor; let i = $index;){
    <ng-container>
      @if(instructor){
      <div class="container-boxed">
        <div class="mentor-section">
          <div class="d-flex align-items-center justify-content-between">
            <div
              class="w-40 text-center d-flex image-container"
              [ngClass]="{ 'order-md-2': i % 2 !== 0 }"
            >
              <figure class="m-0 p-0 overflow-hidden">
                <img
                  [src]="
                    instructor.InstructorImg
                      ? instructor.InstructorImg
                      : defaultImage
                  "
                  class="img-fluid w-100 h-100 object-fit-cover"
                  alt="Mentor Image"
                />
              </figure>
            </div>

            <div class="w-60 text-left p-5 m-auto">
              <h1 class="font-family-poppins font-48 nmc-dark-grey">
                {{ instructor.Name }}
              </h1>

              <p class="font-18 nmc-medium-grey mt-2">{{ instructor.Bio }}</p>

              <div class="d-flex align-items-center justify-content-start my-2">
                <span
                  class="d-inline-block font-14 fw-semibold rounded-1 py-1 px-3 text-orange-600 bg-orange-100"
                >
                  {{ instructor.Skill1 }}
                </span>

                @if(instructor.Skill2){
                <span
                  class="d-inline-block font-14 fw-semibold rounded-1 py-1 px-3 text-orange-600 bg-orange-100 ms-2"
                >
                  {{ instructor.Skill2 }}</span
                >} @if(instructor.Skill3){
                <span
                  class="d-inline-block font-14 fw-semibold rounded-1 py-1 px-3 text-orange-600 bg-orange-100 ms-2"
                >
                  {{ instructor.Skill3 }}</span
                >} @if(instructor.Skill4){
                <span
                  class="d-inline-block font-14 fw-semibold rounded-1 py-1 px-3 text-orange-600 bg-orange-100 ms-2"
                >
                  {{ instructor.Skill4 }}</span
                >}
              </div>

              <div class="social-links mt-3 d-flex gap-3">
                @if(instructor.Email){
                <a
                  [href]="'mailto:' + instructor.Email"
                  target="_blank"
                  class="nmc-dark-grey font-22"
                >
                  <i class="bi bi-envelope"></i> </a
                >} @if(instructor.Twitter){
                <a
                  [href]="instructor.Twitter"
                  target="_blank"
                  class="nmc-dark-grey font-22"
                >
                  <i class="bi bi-twitter"></i> </a
                >} @if(instructor.LinkedIn){
                <a
                  [href]="instructor.LinkedIn"
                  target="_blank"
                  class="nmc-dark-grey font-22"
                >
                  <i class="bi bi-linkedin"></i> </a
                >} @if(instructor.YouTube){
                <a
                  [href]="instructor.YouTube"
                  target="_blank"
                  class="nmc-dark-grey font-22"
                >
                  <i class="bi bi-youtube"></i> </a
                >} @if(instructor.Github){
                <a
                  [href]="instructor.Github"
                  target="_blank"
                  class="nmc-dark-grey font-22"
                >
                  <i class="bi bi-github"></i> </a
                >}
              </div>

              <button
                type="button"
                class="nmc-btn-primary h-auto py-2 px-3 mt-3 rounded-2 box-shadow-none nmc-bg-white nmc-primary"
                [routerLink]="['/mentor', instructor.id]"
              >
                Upcoming Courses ->
              </button>
            </div>
          </div>
        </div>
      </div>
      }

      <div class="company-bar bg-orange-100 p-4">
        <div class="row justify-content-center gap-3">
          @if(instructor.Company1){
          <div class="col-auto">
            <a
              class="m-0 font-16 nmc-primary text-uppercase font-family-poppins tracking-wider px-3"
              target="_blank"
              >{{ instructor.Company1 }}</a
            >
          </div>
          } @if(instructor.Company2){
          <div class="col-auto">
            <a
              class="m-0 font-16 nmc-primary text-uppercase font-family-poppins tracking-wider px-3"
              target="_blank"
              >{{ instructor.Company2 }}</a
            >
          </div>
          } @if(instructor.Company3){
          <div class="col-auto">
            <a
              class="m-0 font-16 nmc-primary text-uppercase font-family-poppins tracking-wider px-3"
              target="_blank"
              >{{ instructor.Company3 }}</a
            >
          </div>
          } @if(instructor.Company4){
          <div class="col-auto">
            <a
              class="m-0 font-16 nmc-primary text-uppercase font-family-poppins tracking-wider px-3"
              target="_blank"
              >{{ instructor.Company4 }}</a
            >
          </div>
          }
        </div>
      </div>
    </ng-container>
    }
  </div> -->

    <div class="mentor-card-wrapper row g-5 mt-4">
      @for(instructor of instructors$ | async; track instructor; let i =
      $index;){
      <div class="col-12 col-sm-6 col-lg-4 d-flex">
        <div
          class="mentor-card inner rounded-0 d-flex flex-column justify-content-between flex-grow-1"
        >
          <figure
            class="position-relative overflow-hidden m-auto rounded-circle"
          >
            <img
              class="z-1 w-100 h-100 object-fit-cover"
              loading="lazy"
              [src]="
                instructor.InstructorImg
                  ? instructor.InstructorImg
                  : defaultImage
              "
              [alt]="instructor.Name"
            />
          </figure>

          <div
            class="info text-center d-grid rounded-2 d-flex flex-column justify-content-between flex-grow-1"
          >
            <div>
              <a [routerLink]="['/mentor', instructor.id]">
                <h2 class="font-24 nmc-primary font-family-poppins pt-4">
                  {{ instructor.Name }}
                </h2>
              </a>

              <h4 class="font-18 fw-normal nmc-medium-grey pt-2 m-0">
                {{ instructor.Position }}
              </h4>

              <div class="social mt-4">
                @if(instructor.Email){
                <a [href]="instructor.Email">
                  <i class="bi bi-envelope-fill"></i>
                </a>
                } @if(instructor.Twitter){
                <a [href]="instructor.Twitter">
                  <i class="bi bi-twitter-x"></i>
                </a>
                } @if(instructor.Github){
                <a [href]="instructor.Github">
                  <i class="bi bi-github"></i>
                </a>
                } @if(instructor.LinkedIn){
                <a [href]="instructor.LinkedIn">
                  <i class="bi bi-linkedin"></i>
                </a>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</section>
