@use "../styles/variables" as *;

.truncate {
    width: 100%;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
}

.mentor-card {
    width: 320px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: 0.4s ease-out;

    &:not(:first-child) {
        margin-left: -10px;
    }

    &:hover {
        cursor: pointer;
        z-index: 9 !important;
        transform: scale(1.1);
        transition: all 0.4s ease-out;
    }

    figure {
        //box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        height: 250px;
        width: 100%;
    }

    h5 {
        border-top: 1px solid #fff;
    }

    .social {
        //border-top: 1px solid #fff;

        a {
            color: $nmc-white;
            font-size: 20px;
            margin: 0 8px;

            &:hover {
                color: $nmc-primary;
            }
        }
    }
}

// .trainers {
//     figure {
//         height: 200px;
//         width: 200px;
//         box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

//         .social {
//             position: absolute;
//             inset: 0;
//             background-color: rgba(0, 0, 0, 0.6);
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             z-index: 2;
//             padding-bottom: 20px;
//             transition: 0.3s;
//             visibility: hidden;
//             opacity: 0;
//         }

//         .social a {
//             transition: 0.3s;
//             color: $nmc-white;
//             font-size: 20px;
//             margin: 0 8px;
//         }

//         .social a:hover {
//             color: $nmc-primary;
//         }
//     }

//     &:hover figure .social {
//         padding-bottom: 0;
//         visibility: visible;
//         opacity: 1;
//     }

// }

// .instructor .card {
//     border-bottom: 3px solid $nmc-primary;
//     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
// }