<section class="">
  <div class="container-boxed">
    <div class="d-flex align-items-center justify-content-between mb-lg-5 mb-4">
      <h2
        class="section-title left font-36 nmc-dark-grey font-family-poppins pb-3 mb-0"
      >
        Mentors
      </h2>

      <a
        class="nmc-view-all d-flex align-items-center justify-content-start"
        [routerLink]="['/mentors']"
      >
        <span class="nmc-dark-grey d-none d-md-block">VIEW ALL</span>

        <div
          class="d-flex align-items-center justify-content-center rounded-circle nmc-view-all-btn nmc-white"
        >
          <i class="bi bi-arrow-right font-24"></i></div
      ></a>
    </div>

    <div class="mentor-card-wrapper row g-3">
      @for(instructor of instructors; track instructor; let i = $index;){
      <div class="col-12 col-sm-6 col-lg-3 d-flex">
        <div
          class="mentor-card inner d-flex flex-column justify-content-between flex-grow-1"
        >
          <figure class="position-relative overflow-hidden m-auto rounded-0">
            <img
              class="z-1 w-100 h-100 object-fit-cover"
              loading="lazy"
              [src]="
                instructor.InstructorImg
                  ? instructor.InstructorImg
                  : defaultImage
              "
              [alt]="instructor.Name"
            />
          </figure>

          <div
            class="info text-center d-grid rounded-2 d-flex flex-column justify-content-between flex-grow-1"
          >
            <div>
              <a [routerLink]="['/mentor', instructor.id]">
                <h2 class="font-24 nmc-primary font-family-poppins pt-4 mb-0">
                  {{ instructor.Name }}
                </h2>
              </a>

              <h4 class="font-18 fw-normal nmc-medium-grey pt-2 m-0">
                {{ instructor.Position }}
              </h4>

              <div class="social mt-3">
                @if(instructor.LinkedIn){
                <a [href]="instructor.LinkedIn">
                  <i class="bi bi-linkedin"></i>
                </a>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</section>
