@use "../styles/variables" as *;

.mentor-card {
    figure {

       // border: 2px solid $nmc-primary;
        height: 300px;

       

        width: 100%;

        img {
            object-position: top;
        }
    }

    &:hover figure img {
        transition: all ease 0.3s;
        transform: scale(1.1);
    }


    .info {
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        //margin-top: -150px;
       // padding: 170px 10px 30px !important;
        border: 1px solid #efefef;
    }

    .social a {
        transition: 0.3s;
        color: $nmc-dark-grey;
        font-size: 20px;
        margin: 0 8px;
    }

    .social a:hover {
        color: $nmc-primary;
    }
}

@media (max-width: 767px) {
    .mentor-card {
        figure {
            height: 300px;
        }
    }
}

@media (max-width: 425px) {
    .mentor-card {
        figure {
            max-height: 250px;
        }
    }
}