.text-bottom-line::after {
    background-image: url('../../assets/images/home/bottom-text-line.svg');
    background-repeat: no-repeat;
    content: "";
    height: 4px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 55px;
    margin: 0 auto;
    position: absolute;
    width: 191px;
}

.tech-stack div {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tech-stack figure {
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
}

.tech-stack {
    transition: transform 0.3s ease;
}

.tech-stack:hover {
    transform: scale(1.05);
}

@media (max-width:992px) {
    .tech-stack figure {
        width: 60px;
        height: 60px;
        min-width: 60px;
        min-height: 60px;
    }
}

@media (max-width:804px) {

    .techs {
        margin-top: 20px;
    }

    .tech-stack figure {
        width: 50px;
        height: 50px;
        min-width: 50px;
        min-height: 50px;
    }
}

@media (max-width:767px) {
    .tech-stack {
        figure {
            width: 40px;
            height: 40px;
            min-width: 40px;
            min-height: 40px;
        }

        p {
            font-size: 14px;
        }
    }
}

@media (max-width:690px) {
    .tech-stack {
        width: 33.33% !important;

        p {
            font-size: 13px;
        }
    }
}

@media (max-width:565px) {
    .tech-stack {
        width: 50% !important;
    }
}

@media (max-width:380px) {
    .tech-stack {
        width: 25% !important;

        figure {
            width: 30px;
            height: 30px;
            min-width: 30px;
            min-height: 30px;
        }

        div {
            justify-content: center !important;
            padding: .6rem !important;
        }

        p {
            display: none;
        }
    }
}