.tech-stack div {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tech-stack figure {
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px;
}

.tech-stack {
    transition: transform 0.3s ease;
}

.tech-stack:hover {
    transform: scale(1.05);
}

@media (max-width:992px) {
    .tech-stack figure {
        width: 60px;
        height: 60px;
        min-width: 60px;
        min-height: 60px;
    }
}

@media (max-width:804px) {

    .techs {
        margin-top: 20px;
    }

    .tech-stack figure {
        width: 50px;
        height: 50px;
        min-width: 50px;
        min-height: 50px;
    }
}

@media (max-width:767px) {
    .tech-stack {
        figure {
            width: 40px;
            height: 40px;
            min-width: 40px;
            min-height: 40px;
        }
    }
}

@media (max-width:690px) {
    h2 {
        font-size: 1.9rem !important;
    }

    .text-bottom-line::after {
        inset: 45px 0 0 62px;
    }
}

@media (max-width:565px) {
    .text-bottom-line::after {
        inset: 85px 0 0 62px;
    }

    h2 {
        width: 70%;
        margin: auto;
    }
}

@media (max-width:480px) {
    h2 {
        width: 100%;
    }
}

@media (max-width:380px) {
    h2 {
        font-size: 1.7rem !important;
    }

    .text-bottom-line::after {
        inset: 75px 0 0 50px;
    }

    .tech-stack {
        div {
            justify-content: center !important;
        }
    }
}

@media (max-width:320px) {

    .text-bottom-line::after {
        display: none;
    }

    p {
        font-size: 14px;
    }
}