<div class="vh-100 py-5 nmc-bg-white">
  <form [formGroup]="jobForm">
    <div class="row form-group mt-3 mb-3 flex-column">
      <h3 class="font-family-poppins mb-4 font-30 font-992-28">
        Step 2: Enter your company details
      </h3>

      <div class="col-12 text-end">
        <input
          id="Remote"
          formControlName="Remote"
          type="checkbox"
          class="form-check-input"
        />
        <label for="Remote" class="form-label font-20 nmc-medium-grey ms-2"
          >Remote</label
        >
      </div>

      <div class="col-12">
        <div class="input__group">
          <input
            id="Location"
            type="text"
            (keyup)="cleanLocationMessage()"
            formControlName="Location"
            class="input__field"
            placeholder="Enter your company name"
          />
          <label for="Location" class="input__label"
            >Enter Your Company's Location</label
          >
        </div>

        @if(isLocationInValid){
        <div class="error-label text-danger font-18">
          <i class="bi bi-exclamation-triangle-fill me-2"></i>Please provide a
          job location
        </div>
        }
      </div>

      <div class="col-12 mt-5">
        <div class="input__group">
          <input
            id="CompanyUrl"
            type="text"
            (keyup)="cleanURLMessage()"
            formControlName="CompanyUrl"
            class="input__field"
            placeholder="Enter your company's URL"
          />
          <label for="CompanyUrl" class="input__label"
            >Enter Your Company's URL</label
          >
        </div>

        @if(isCompanyUrlInValid){
        <div class="error-label text-danger font-18">
          <i class="bi bi-exclamation-triangle-fill me-2"></i>Please provide a
          valid URL
        </div>
        }
      </div>

   </div>
  </form>

  <div class="d-flex justify-content-end align-items-center mt-5">
    <!-- <button
      class="back-btn font-20 fw-semibold border-0 nmc-medium-grey nmc-bg-white"
      (click)="back()"
    >
      Back
    </button> -->

    <button
      class="nmc-btn-primary fw-semibold box-shadow-none py-3 px-5 h-auto ms-3 d-flex align-items-center rounded-0"
      (click)="next()"
    >
      Next
    </button>
  </div>
</div>
