.login-card {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 400px;

    .card-content {
        max-width: 340px;
        margin: 0 auto;
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: 2.8rem !important;
    }

    .login-card {
        width: 350px;
    }
}

@media (max-width: 420px) {
    .font-420-14 {
        font-size: 14px !important;
    }

    .w-420-100 {
        width: 100%;
    }

    .login-container {
        padding: 30px 0 !important;

        .login-card {
            width: 100%;
            padding: 15px !important;

            .form-group:not(:first-child) {
                margin-top: .5rem !important;
            }

            .form-control {
                height: 2.5rem !important;
            }

            .show-password {
                bottom: 11px;
            }
        }

        .signin {
            margin-left: 0 !important;
        }
    }
}