<section class="py-5">
  <div class="container-boxed">
    <div class="d-flex align-items-center justify-content-between mb-lg-5 mb-2">
      <h2
        class="section-title left font-36 nmc-dark-grey font-family-poppins pb-3 mb-0"
      >
        Upcoming Events
      </h2>

      <a
        class="nmc-view-all d-flex align-items-center justify-content-start"
        routerLink="/events"
      >
        <span class="nmc-dark-grey d-none d-md-block">VIEW ALL</span>

        <div
          class="d-flex align-items-center justify-content-center rounded-circle nmc-view-all-btn nmc-white"
        >
          <i class="bi bi-arrow-right font-24"></i></div
      ></a>
    </div>

    <div class="events-container d-flex flex-column justify-content-center">
      <div class="row">
        @for(e of events; track e){
        <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
          <div
            class="events-card card overflow-hidden nmc-bg-white overflow-hidden position-relative rounded-3 h-100 m-auto"
          >
            <a [routerLink]="['/event', e.id]">
              <!-- <div class="pricing-table-ribbon fw-bold position-absolute">
                {{ e.isPaid ? "Paid" : "Free" }}
              </div> -->

              <figure class="m-0 p-0 zoom-effect overflow-hidden">
                <img
                  [src]="e.EventImage"
                  class="w-100 h-100 object-fit-cover"
                  alt="Event Tech"
                  loading="lazy"
                />
              </figure>

              <figcaption class="m-0 p-4">
                <div
                  class="d-flex align-items-center justify-content-start mb-2"
                >
                  <span
                    class="d-inline-block font-12 fw-semibold rounded-1 py-1 px-2 text-blue-600 bg-blue-100"
                    >{{ e.isOffline ? "Offline" : "Online" }}
                  </span>

                  @if(e.isPaid){
                  <span
                    class="d-inline-block font-12 fw-semibold rounded-1 py-1 px-2 text-red-600 bg-red-100 ms-2"
                    >{{ "Paid" }} </span
                  >}@else {
                  <span
                    class="d-inline-block font-12 fw-semibold rounded-1 py-1 px-2 text-green-600 bg-green-100 ms-2"
                    >{{ "Free" }} </span
                  >}
                </div>

                <h4 class="font-22 nmc-dark-grey my-3 font-family-poppins">
                  {{ e.Title }}
                </h4>

                <h3 class="font-16 nmc-medium-grey mb-3 fw-normal">
                  {{ e.ShortDescription }}
                </h3>

                <div class="d-flex align-items-center gap-3">
                  <h4 class="font-16 nmc-dark-grey m-0">
                    <i
                      class="bi bi-calendar-event-fill me-2 font-20 nmc-primary"
                    ></i>
                    {{ e.Date | date : "MMMM d" }}
                  </h4>

                  <h4 class="font-16 nmc-dark-grey m-0">
                    <i class="bi bi-geo-alt-fill me-1 font-20 nmc-primary"></i>
                    {{ e.City }}
                  </h4>
                </div>

                <!-- <a
                  class="nmc-btn-primary text-center w-50 w-md-100 pt-2 mt-3"
                  [routerLink]="['/event', e.id]"
                >
                  Enroll Now
                </a> -->
              </figcaption>
            </a>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>
