@use "../styles/variables" as *;

.profile-img {
    figure {
        width: 150px;
        height: 150px;
        border: 1px solid $nmc-primary;

        img {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            object-position: top;
        }
    }

    input[type="file"] {
        display: none;
    }

    .custom-file-upload {
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }
}

.divider {
    border-right: 1px solid #ccc;
    ;
}

.profile-tabs li.active a {
    color: $nmc-primary !important;
}