<section class="profile-section py-5">
  <div class="container-boxed pt-4">
    <div class="pb-4 d-flex">
      <div class="profile-img position-relative">
        <figure class="m-0 p-0 overflow-hidden rounded-0">
          <img
            [src]="user?.photoURL ? user?.photoURL : defaultImage"
            alt=""
            class="w-100 h-100 object-fit-cover m-auto"
          />
        </figure>

        <div class="dp-upload position-absolute">
          <label
            for="file-upload"
            class="custom-file-upload nmc-bg-primary nmc-white rounded-circle d-flex"
          >
            <i class="bi bi-pencil-square m-auto"></i>
          </label>

          <input
            id="file-upload"
            type="file"
            name="file"
            (change)="uploadPhoto($event)"
          />
        </div>
      </div>

      <div class="text-end w-100">
        <h2 class="nmc-dark-grey font-family-poppins">
          {{ user?.name }}
        </h2>
        <h6 class="nmc-primary m-0">{{ user?.position }}</h6>
      </div>
    </div>

    <ul
      class="text-start profile-tabs d-flex align-items-center gap-5 py-3 divider"
    >
      <li [class.active]="currentTab === 'about'">
        <a
          class="font-18 nmc-medium-grey cursor-pointer"
          (click)="loadAbout()"
          (keyup.enter)="loadAbout()"
          tabindex="0"
          >About</a
        >
      </li>

      <!-- <li [class.active]="currentTab === 'certificates'">
      <a
        class="font-18 nmc-medium-grey cursor-pointer"
        (click)="loadCertificates()"
        (keyup.enter)="loadCertificates()"
        tabindex="0"
        >Certificates</a
      >
    </li> -->

      <li [class.active]="currentTab === 'settings'">
        <a
          class="font-18 nmc-medium-grey cursor-pointer"
          (click)="loadSettings()"
          (keyup.enter)="loadSettings()"
          tabindex="0"
          >Settings</a
        >
      </li>

      <!-- <li [class.active]="currentTab === 'job'">
      <a
        class="font-18 nmc-medium-grey cursor-pointer"
        (click)="loadJob()"
        (keyup.enter)="loadJob()"
        tabindex="0"
        >Create Job</a
      >
    </li> -->

      <li [class.active]="currentTab === 'viewJob'">
        <a
          class="font-18 nmc-medium-grey cursor-pointer"
          (click)="loadViewJob()"
          (keyup.enter)="loadViewJob()"
          tabindex="0"
          >View Job</a
        >
      </li>

      <li [class.active]="currentTab === 'appliedJob'">
        <a
          class="font-18 nmc-medium-grey cursor-pointer"
          (click)="loadAppliedJob()"
          (keydown)="loadAppliedJob()"
          tabindex="0"
          >Applied Job</a
        >
      </li>
    </ul>

    <div class="profile-content pt-4">
      <ng-container #profileView> </ng-container>
    </div>
  </div>
</section>
