@use "../styles/variables" as *;

.profile-img {
    img {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .file {
        cursor: pointer !important;

        input {
            inset: 0;
        }
    }
}

.divider {
    border-right: 1px solid #ccc;
    ;
}

.profile-tabs li.active a {
    color: $nmc-primary !important;
}