<section class="login-container py-5">
  <div
    class="container-boxed d-flex align-items-center justify-content-between"
  >
    <div class="w-50 px-3 px-lg-5 d-none d-md-block">
      <h1 class="font-52 nmc-primary mb-4 font-family-poppins">
        Forgot Your Password?
      </h1>
      <h4 class="nmc-dark-grey">Don't worry, we'll help you reset it.</h4>
    </div>

    <div class="w-50 w-767-100">
      <div class="login-card rounded-4 px-4 py-5 m-auto">
        <div class="text-center">
          <i class="bi bi-info-circle font-52 nmc-primary"></i>
          <h5 class="nmc-medium-grey font-15 font-420-14 my-4">
            Enter your email and we'll send you a link to reset your password.
          </h5>
        </div>

        <div class="card-content">
          <div
            *ngIf="message"
            class="nmc-alert mt-1"
            [ngClass]="{
              'nmc-alert-success': isSuccess,
              'nmc-alert-error': !isSuccess
            }"
          >
            <p class="font-14 m-0">{{ message }}</p>
          </div>

          <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="email" class="pb-2 font-14">Email</label>
              <input
                type="email"
                class="form-control h-3 rounded-3"
                id="email"
                formControlName="email"
              />
            </div>

            <div
              *ngIf="
                forgotPasswordForm.get('email')?.invalid &&
                (forgotPasswordForm.get('email')?.dirty ||
                  forgotPasswordForm.get('email')?.touched)
              "
              class="nmc-alert mt-1"
            >
              <p
                class="font-14 m-0"
                *ngIf="forgotPasswordForm.get('email')?.errors?.['required']"
              >
                *Please enter your email
              </p>
              <p
                class="font-14 m-0"
                *ngIf="forgotPasswordForm.get('email')?.errors?.['email']"
              >
                *Invalid email format
              </p>
            </div>

            <button
              type="submit"
              class="nmc-btn-primary w-100 font-14 fw-semibold box-shadow-none mt-4 py-2 h-auto"
              [disabled]="!forgotPasswordForm.valid"
            >
              Reset Password
            </button>
          </form>

          <div class="font-15 font-420-14 mt-4 text-center">
            <a href="/login" class="link d-inline-block nmc-primary">
              <i class="fa fa-angle-left font-22 me-2"></i>Back to Login
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
