<div *ngIf="job" class="job-detail-content">
  <h2>{{ job.Position }}</h2>
  <p><strong>Company Name:</strong> {{ job.CompanyName }}</p>
  
  <p><strong>Company URL:</strong> 
    <a [href]="job.CompanyUrl" target="_blank">{{ job.CompanyUrl }}</a>
  </p>
  <p><strong>Job Description:</strong> {{ job.JobDescription }}</p>
  <p><strong>Responsibilities:</strong> {{ job.Responsibilities }}</p>
  <p><strong>Skills Required:</strong> {{ job.SkillsRequired }}</p>
  <p><strong>Location:</strong> {{ job.Location }}</p>
  <p><strong>Remote:</strong> {{ job.Remote ? 'Yes' : 'No' }}</p>
  
  <p><strong>Company Twitter:</strong> 
    <a [href]="job.CompanyTwitter" target="_blank">{{ job.CompanyTwitter }}</a>
  </p>
  <p><strong>Company LinkedIn:</strong> 
    <a [href]="job.CompanyLinkedIn" target="_blank">{{ job.CompanyLinkedIn }}</a>
  </p>
  <p><strong>Company GitHub:</strong> 
    <a [href]="job.CompanyGithub" target="_blank">{{ job.CompanyGithub }}</a>
  </p>
  <p><strong>Email:</strong> 
    <a [href]="'mailto:' + job.Email">{{ job.Email }}</a>
  </p>
  <p><strong>Phone No:</strong> {{ job.PhoneNo }}</p>
  <p><strong>Tag:</strong> {{ job.Tag }}</p>
  <p><strong>Image:</strong> 
    <img [src]="job.ImageUrl" alt="{{ job.Position }}" class="job-image" />
  </p>
</div>
<div *ngIf="!job">
  <p>Select a job to see the details</p>
</div>
