.job_position{
    background-color: #ccc;
}

.important{
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
}

.job-detail-content h2 {
    color: #333; /* Darker text for the title */
    margin-bottom: 10px; /* Spacing after the title */
}

.job-detail-content p {
    color: #666; /* Lighter text color */
    line-height: 1.6; /* Increased line height for readability */
    margin-bottom: 10px; /* Spacing between paragraphs */
}

.job-detail-content a {
    color: #0067d8; /* Bright link color */
    text-decoration: none; /* No underline */
}

.job-detail-content a:hover {
    text-decoration: underline; /* Underline on hover for links */
}

.job-detail-content .job-image {
    max-width: 100%; 
    height: auto; 
    margin-top: 10px; 
    border-radius: 5px; 
}
