<section class="speakers text-center py-5">
  <div class="container-boxed">
    <h2
      class="section-title font-36 nmc-dark-grey font-family-poppins text-center"
    >
      Event Speakers
    </h2>

    @if(eventSpeakers && eventSpeakers.length > 0){
    <div class="speakers-list px-5 mt-5">
      @for (speaker of eventSpeakers; track speaker.id; let i = $index) {
      <div
        class="member rounded-3 d-flex align-items-center justify-content-between gap-5 mt-5"
      >
        @if(i % 2 === 0){
        <div class="speaker-img position-relative w-30">
          <figure class="m-0 overflow-hidden">
            <img
              [src]="speaker.Image ? speaker.Image : defaultImage"
              class="h-100 w-100 object-fit-cover"
              alt=""
            />
          </figure>
        </div>

        <div class="member-info text-start w-75">
          <h3 class="font-family-poppins">
            <a href="" class="nmc-primary font-family-poppins pe-2">
              {{ speaker.Name }}
            </a>
            <span class="nmc-medium-grey font-18">{{ speaker.Position }}</span>
          </h3>

          <p class="nmc-medium-grey">
            {{ speaker.Info }}
          </p>

          <div
            class="social d-flex align-items-center justify-content-start gap-2"
          >
            <a target="_blank" [href]="speaker.X" class="font-20 nmc-primary"
              ><i class="bi bi-twitter-x"></i
            ></a>

            <a
              target="_blank"
              [href]="speaker.Github"
              class="font-20 nmc-primary"
              ><i class="bi bi-github"></i
            ></a>

            <a
              target="_blank"
              [href]="speaker.LinkedIn"
              class="font-20 nmc-primary"
              ><i class="bi bi-linkedin"></i
            ></a>
          </div>
        </div>
        }@else {
        <div class="member-info text-start w-75">
          <h3 class="font-family-poppins">
            <a href="" class="nmc-primary font-family-poppins pe-2">
              {{ speaker.Name }}
            </a>
            <span class="nmc-medium-grey font-18">{{ speaker.Position }}</span>
          </h3>

          <p class="nmc-medium-grey">
            {{ speaker.Info }}
          </p>

          <div
            class="social d-flex align-items-center justify-content-start gap-2"
          >
            <a [href]="speaker.X" class="font-20 nmc-primary"
              ><i class="bi bi-twitter-x"></i
            ></a>
            <a [href]="speaker.Github" class="font-20 nmc-primary"
              ><i class="bi bi-github"></i
            ></a>
            <a [href]="speaker.LinkedIn" class="font-20 nmc-primary"
              ><i class="bi bi-linkedin"></i
            ></a>
          </div>
        </div>

        <div class="speaker-img position-relative w-30">
          <figure class="m-0 overflow-hidden">
            <img
              [src]="speaker.Image"
              class="h-100 w-100 object-fit-cover"
              alt=""
            />
          </figure>
        </div>
        }
      </div>
      }
    </div>
    }@else {Revealing Soon...}
  </div>
</section>
