<section class="py-5">
  <div class="container-boxed">
    <h2
      class="section-title font-36 nmc-dark-grey font-family-poppins mb-5 text-center"
    >
      How we work?
    </h2>

    <div class="position-relative">
      <!-- <div id="svg-container" class="position-absolute h-100 w-100">
        <img src="assets/images/home/work-flow-arrow3.svg" alt="" />
      </div> -->

      <div
        class="work-flow-wrapper position-relative d-flex justify-content-between"
      >
        <div class="item d-flex align-items-start">
          <div
            class="rounded-circle p-4 ng-tracker text-center orange-bg-gradient"
          >
            <i class="bi bi-book font-36 nmc-white"></i>
            <div>
              <h3 class="fw-bold m-0 p-0 font-20 nmc-white font-family-poppins">
                Learn
              </h3>
            </div>
          </div>
        </div>

        <div class="item d-flex align-items-end">
          <div
            class="rounded-circle p-3 ng-tracker text-center blue-bg-gradient"
          >
            <i class="bi bi-code-slash font-36 nmc-white"></i>
            <div>
              <h3 class="fw-bold m-0 p-0 font-20 nmc-white font-family-poppins">
                Build
              </h3>
            </div>
          </div>
        </div>

        <div class="item d-flex align-items-start">
          <div
            class="rounded-circle p-3 ng-tracker text-center green-bg-gradient"
          >
            <i class="bi bi-patch-check font-36 nmc-white"></i>
            <div>
              <h3 class="fw-bold m-0 p-0 font-20 nmc-white font-family-poppins">
                Get Certified
              </h3>
            </div>
          </div>
        </div>

        <div class="item d-flex align-items-end">
          <div
            class="rounded-circle p-3 ng-tracker text-center pink-bg-gradient"
          >
            <i class="bi bi-mortarboard font-36 nmc-white"></i>
            <div>
              <h3 class="fw-bold m-0 p-0 font-20 nmc-white font-family-poppins">
                Became a Nomadcoder
              </h3>
            </div>
          </div>
        </div>

        <div class="item d-flex align-items-start">
          <div
            class="rounded-circle p-3 ng-tracker text-center indigo-bg-gradient"
          >
            <i class="bi bi-trophy font-36 nmc-white"></i>
            <div>
              <h3 class="fw-bold m-0 p-0 font-20 nmc-white font-family-poppins">
                Get Nomadcoder Visa
              </h3>
            </div>
          </div>
        </div>

        <div class="item d-flex align-items-end">
          <div
            class="rounded-circle p-3 ng-tracker text-center red-bg-gradient"
          >
            <i class="bi bi-emoji-smile font-36 nmc-white"></i>
            <div>
              <h3 class="fw-bold m-0 p-0 font-20 nmc-white font-family-poppins">
                Land your dream job
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="work-flow-wrapper position-relative">
    <div class="d-flex align-items-center justify-content-center">
      <div class="rounded-circle p-4 ng-tracker text-center nmc-bg-white">
        <i class="bi bi-fire font-36 nmc-primary"></i>
        <div>
          <h3 class="fw-bold m-0 p-0 font-24 nmc-dark-grey font-family-poppins">
            Learn
          </h3>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center justify-content-evenly">
      <div class="rounded-circle p-3 ng-tracker text-center nmc-bg-white">
        <i class="bi bi-mic font-36 nmc-primary"></i>
        <div>
          <h3 class="fw-bold m-0 p-0 font-24 nmc-dark-grey font-family-poppins">
            Build
          </h3>
        </div>
      </div>

      <div class="rounded-circle p-3 ng-tracker text-center nmc-bg-white">
        <i class="bi bi-megaphone font-36 nmc-primary"></i>
        <div>
          <h3 class="fw-bold m-0 p-0 font-24 nmc-dark-grey font-family-poppins">
            Get Certified
          </h3>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center justify-content-evenly mt-5">
      <div class="rounded-circle p-3 ng-tracker text-center nmc-bg-white">
        <i class="bi bi-people font-36 nmc-primary"></i>
        <div>
          <h3 class="fw-bold m-0 p-0 font-24 nmc-dark-grey font-family-poppins">
            Became a Nomadcoder
          </h3>
        </div>
      </div>

      <div class="rounded-circle p-3 ng-tracker text-center nmc-bg-white">
        <i class="bi bi-bank font-36 nmc-primary"></i>
        <div>
          <h3 class="fw-bold m-0 p-0 font-24 nmc-dark-grey font-family-poppins">
            Get Nomadcoder Visa
          </h3>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center justify-content-center">
      <div class="rounded-circle p-3 ng-tracker text-center nmc-bg-white">
        <i class="bi bi-graph-up-arrow font-36 nmc-primary"></i>
        <div>
          <h3 class="fw-bold m-0 p-0 font-24 nmc-dark-grey font-family-poppins">
            Land your dream job
          </h3>
        </div>
      </div>
    </div>
  </div> -->
</section>
