<section class="hero-section py-3 position-relative overflow-hidden">
  <div
    class="container-boxed position-relative d-flex align-items-center justify-content-between"
  >
    <div>
      <h1 class="font-50 nmc-dark-grey fw-bolder font-family-poppins">
        Creating Job-Ready Developers
      </h1>

      <p class="font-22 nmc-dark-grey w-75 mt-4">
        Get the latest courses, events, and insights from experts and leaders.
      </p>

      <button class="nmc-btn-primary mt-4" type="submit">Start Learning</button>
    </div>

    <img
      src="assets/images/home/hero.gif"
      alt="Hero-Image"
      class="object-fit-contain w-40"
    />

    <!-- <div id="animationContainer" style="width: 400px; height: 400px">
      <script>
        let animation = lottie.loadAnimation({
          container: document.getElementById("animationContainer"),
          renderer: "svg",
          loop: true,
          autoplay: true,
          path: "assets/images/home/hero.json",
        });
      </script>
    </div> -->
  </div>
</section>

<section
  class="text-center py-4"
  style="
    background: linear-gradient(
      179.5deg,
      rgb(255, 166, 0) 3.3%,
      rgb(220 95 0) 96%
    );
  "
>
  <div class="container-boxed">
    <p class="font-36 fw-bold w-50 m-auto nmc-white font-family-poppins">
      Join over 7 million people learning how to use and build AI
    </p>
  </div>
</section>

<div class="spacer--medium"></div>

<app-event></app-event>

<div class="spacer--medium"></div>

<section class="instructor text-center py-5 nmc-bg-light-grey">
  <div class="container-boxed">
    <h2
      class="section-title font-36 nmc-dark-grey font-family-poppins text-center mb-5"
    >
      Experienced & Professional Instructors
    </h2>

    <div class="container overflow-hidden">
      <div class="row gy-4 gy-lg-0 gx-xxl-5">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card overflow-hidden">
            <div class="card-body p-0">
              <figure class="m-0 p-0 zoom-effect overflow-hidden">
                <img
                  class="img-fluid"
                  loading="lazy"
                  src="assets/images/home/user.jpg"
                  alt="Flora Nyra"
                />

                <figcaption class="m-0 p-4">
                  <h4 class="mb-1">Flora Nyra</h4>
                  <p class="text-secondary mb-3">Product Manager</p>

                  <div
                    class="social d-flex align-items-center justify-content-center gap-4"
                  >
                    <a href="#" class="font-20 nmc-primary"
                      ><i class="fa fa-twitter"></i
                    ></a>
                    <a href="#" class="font-20 nmc-primary"
                      ><i class="fa fa-facebook"></i
                    ></a>
                    <a href="#" class="font-20 nmc-primary"
                      ><i class="fa fa-instagram"></i
                    ></a>
                    <a href="#" class="font-20 nmc-primary"
                      ><i class="fa fa-linkedin"></i
                    ></a>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="card overflow-hidden">
            <div class="card-body p-0">
              <figure class="m-0 p-0 zoom-effect overflow-hidden">
                <img
                  class="img-fluid"
                  loading="lazy"
                  src="assets/images/home/user.jpg"
                  alt="Evander Mac"
                />

                <figcaption class="m-0 p-4">
                  <h4 class="mb-1">Flora Nyra</h4>
                  <p class="text-secondary mb-3">Product Manager</p>

                  <div
                    class="social d-flex align-items-center justify-content-center gap-4"
                  >
                    <a href="#" class="font-20 nmc-primary"
                      ><i class="fa fa-twitter"></i
                    ></a>
                    <a href="#" class="font-20 nmc-primary"
                      ><i class="fa fa-facebook"></i
                    ></a>
                    <a href="#" class="font-20 nmc-primary"
                      ><i class="fa fa-instagram"></i
                    ></a>
                    <a href="#" class="font-20 nmc-primary"
                      ><i class="fa fa-linkedin"></i
                    ></a>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="card overflow-hidden">
            <div class="card-body p-0">
              <figure class="m-0 p-0 zoom-effect overflow-hidden">
                <img
                  class="img-fluid"
                  loading="lazy"
                  src="assets/images/home/user.jpg"
                  alt="Taytum Elia"
                />

                <figcaption class="m-0 p-4">
                  <h4 class="mb-1">Flora Nyra</h4>
                  <p class="text-secondary mb-3">Product Manager</p>

                  <div
                    class="social d-flex align-items-center justify-content-center gap-4"
                  >
                    <a href="#" class="font-20 nmc-primary"
                      ><i class="fa fa-twitter"></i
                    ></a>
                    <a href="#" class="font-20 nmc-primary"
                      ><i class="fa fa-facebook"></i
                    ></a>
                    <a href="#" class="font-20 nmc-primary"
                      ><i class="fa fa-instagram"></i
                    ></a>
                    <a href="#" class="font-20 nmc-primary"
                      ><i class="fa fa-linkedin"></i
                    ></a>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="card overflow-hidden">
            <div class="card-body p-0">
              <figure class="m-0 p-0 zoom-effect overflow-hidden">
                <img
                  class="img-fluid"
                  loading="lazy"
                  src="assets/images/home/user.jpg"
                  alt="Wylder Elio"
                />
                
                <figcaption class="m-0 p-4">
                  <h4 class="mb-1">Flora Nyra</h4>
                  <p class="text-secondary mb-3">Product Manager</p>

                  <div
                    class="social d-flex align-items-center justify-content-center gap-4"
                  >
                    <a href="#" class="font-20 nmc-primary"
                      ><i class="fa fa-twitter"></i
                    ></a>
                    <a href="#" class="font-20 nmc-primary"
                      ><i class="fa fa-facebook"></i
                    ></a>
                    <a href="#" class="font-20 nmc-primary"
                      ><i class="fa fa-instagram"></i
                    ></a>
                    <a href="#" class="font-20 nmc-primary"
                      ><i class="fa fa-linkedin"></i
                    ></a>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
