<div class="vh-100 py-2 nmc-bg-white">
  <form [formGroup]="jobForm">
    <div class="row form-group my-5">
      <h3 class="font-family-poppins mb-4 font-30 font-992-28">
        Step 3: Select the skills you prefer
      </h3>

      <div class="col-12">
        <label for="Tag" class="mt-3 form-label font-20 nmc-medium-grey"
          >Select Tag</label
        >
        <select
          id="Tag"
          (focus)="cleanTagMessage()"
          formControlName="Tag"
          class="form-select rounded-3 cursor-pointer"
        >
          <option value="" selected>Select tag</option>
          @for(tag of tags; track tag;){
          <option [value]="tag">{{ tag }}</option>
          }
        </select>

        @if(isTagInValid){
        <div class="error-label text-danger font-18">
          <i class="bi bi-exclamation-triangle-fill me-2"></i>Please select a
          tag
        </div>
        }
      </div>
    </div>

    <h5 class="mt-3 form-label font-20 nmc-medium-grey fw-normal">
      Select Skills
    </h5>

    <div class="row form-group my-3 g-4">
      @for(skill of availableSkills; track skill ){
      <div class="col-2">
        <div
          class="chips rounded-5 p-2 text-center cursor-pointer"
          [class.selected]="isSelected(skill)"
          (click)="toggleSkill(skill)"
          (keydown)="toggleSkill(skill)"
          tabindex="0"
        >
          {{ skill }}
        </div>
      </div>
      }
    </div>

    @if(minSkillsError){
    <div class="error-label text-danger font-18">
      <i class="bi bi-exclamation-triangle-fill me-2"></i>Please select at least
      1 skill
    </div>
    } @if(maxSkillsError){
    <div class="error-label text-danger font-18">
      <i class="bi bi-exclamation-triangle-fill me-2"></i>You can select a
      maximum of 3 skills
    </div>
    }
  </form>

  <div class="d-flex justify-content-end align-items-center mt-5">
    <!-- <button
      class="back-btn font-20 fw-semibold border-0 nmc-medium-grey nmc-bg-white"
      (click)="back()"
    >
      Back
    </button> -->

    <button
      class="nmc-btn-primary fw-semibold box-shadow-none py-3 px-5 h-auto ms-3 d-flex align-items-center rounded-0"
      (click)="next()"
    >
      Next
    </button>
  </div>
</div>
