@use "../styles/shine" as *;

article:last-child {
    padding-bottom: 0 !important;
}


@media (max-width: 425px) {
    .resume-name {
        font-size: 1.4rem !important;
    }
}

@media (max-width: 390px) {
    .resume-name {
        font-size: 1.3rem !important;
    }

    .resume-role-title {
        font-size: 1rem !important;
    }
}