<section class="light-mode pb-5 pt-3">
  <div class="container-fluid">
    <div class="main-content-wrapper">
      <div class="container-fluid">
        @if(userData?.github || userData?.twitter || userData?.linkedin){
        <div class="top-bar text-center position-relative">
          <div class="top-bar-inner">
            <ul class="social-list list-inline mx-auto">
              @if(userData?.github){
              <li class="list-inline-item me-0 me-md-1 me-lg-2">
                <a target="_blank" [href]="userData?.github"
                  ><i class="bi bi-github"></i
                ></a>
              </li>
              } @if(userData?.twitter){
              <li class="list-inline-item me-0 me-md-1 me-lg-2">
                <a target="_blank" [href]="userData?.twitter"
                  ><i class="bi bi-twitter"></i
                ></a>
              </li>
              }@if(userData?.linkedin){
              <li class="list-inline-item me-0 me-md-1 me-lg-2">
                <a target="_blank" [href]="userData?.linkedin">
                  <i class="bi bi-linkedin"></i>
                </a>
              </li>
              }
            </ul>
          </div>
        </div>
        }

        <div class="resume-wrapper mx-auto rounded-2">
          <div class="resume-header px-4 px-lg-5">
            <div class="resume-profile-holder text-center">
              <figure
                class="m-0 resume-profile-pic rounded-circle overflow-hidden m-auto"
              >
                <img
                  class="w-100 h-100 object-fit-cover"
                  [src]="userData?.photoURL ? userData?.photoURL : defaultImage"
                  alt="image"
                />
              </figure>

              <h2 class="resume-name text-uppercase text-wrap text-break">
                {{ userData?.name }}
              </h2>

              <div class="resume-role-title text-uppercase text-wrap text-break">
                {{ userData?.position }}
              </div>

              <div class="resume-contact mt-4">
                <ul
                  class="resume-contact-list list-unstyled list-inline mb-0 justify-content-between"
                >
                  @if(userData?.phone){
                  <li class="list-inline-item me-md-3 me-lg-5">
                    <i
                      class="resume-contact-icon bi bi-telephone-inbound me-2"
                    ></i>
                    {{ userData?.phone }}
                  </li>
                  } @if(userData?.email){
                  <li class="list-inline-item me-md-3 me-lg-5">
                    <i class="resume-contact-icon bi bi-envelope me-2"></i>
                    {{ userData?.email }}
                  </li>
                  }
                </ul>
              </div>
            </div>
          </div>

          <div class="resume-body p-4 p-lg-5">
            <div class="row">
              <div class="col-main col-12 col-lg-8 pe-lg-4">
                <!-- BIO -->
                @if(userData?.bio){
                <section class="resume-summary-section resume-section">
                  <h3
                    class="resume-section-heading text-uppercase py-2 py-lg-3 py-2 py-lg-3"
                  >
                    <i class="resume-section-heading-icon bi bi-person me-2"></i
                    >About Me
                  </h3>
                  <div class="resume-summary-desc">
                    {{ userData?.bio }}
                  </div>
                </section>

                <hr />
                }

                <!-- Skills -->
                @if(userData?.skill1 || userData?.skill2 || userData?.skill3 ||
                userData?.skill4){
                <section class="resume-skills-section resume-section">
                  <h3
                    class="resume-section-heading text-uppercase py-2 py-lg-3 py-3"
                  >
                    <i class="resume-section-heading-icon bi bi-gear me-2"></i>
                    Skills
                  </h3>

                  <div class="d-flex align-center gap-2 flex-wrap mt-0">
                    @if(userData?.skill1){
                    <p
                      class="fw-semibold py-2 px-3 nmc-dark-grey nmc-bg-light-grey rounded-0 font-14 m-0"
                    >
                      {{ userData?.skill1 }}
                    </p>
                    } @if(userData?.skill2){
                    <p
                      class="fw-semibold py-2 px-3 nmc-dark-grey nmc-bg-light-grey rounded-0 font-14 m-0"
                    >
                      {{ userData?.skill2 }}
                    </p>
                    } @if(userData?.skill3){
                    <p
                      class="fw-semibold py-2 px-3 nmc-dark-grey nmc-bg-light-grey rounded-0 font-14 m-0"
                    >
                      {{ userData?.skill3 }}
                    </p>
                    } @if(userData?.skill4){
                    <p
                      class="fw-semibold py-2 px-3 nmc-dark-grey nmc-bg-light-grey rounded-0 font-14 m-0"
                    >
                      {{ userData?.skill4 }}
                    </p>
                    }
                  </div>
                </section>

                <hr />
                }

                <!-- Experience -->
                @if(userData?.experience){
                <section class="resume-educate-section resume-section">
                  <h3
                    class="resume-section-heading text-uppercase py-2 py-lg-3 py-3 mb-0"
                  >
                    <i class="resume-section-heading-icon bi bi-book me-2"></i
                    >Experience:
                  </h3>

                  <p
                    class="nmc-medium-grey text-capitalize fw-semibold ms-2 mb-0 font-18"
                  >
                    <i class="bi bi-arrow-right-circle-fill"></i>
                    {{ userData?.experience }}
                  </p>

                  <hr />
                </section>
                }

                <!-- Past Experience -->
                @if(userData?.pastExperiences?.length){
                <section class="resume-experience-section resume-section">
                  <h3
                    class="resume-section-heading text-uppercase py-2 py-lg-3 py-3"
                  >
                    <i
                      class="resume-section-heading-icon bi bi-briefcase me-2"
                    ></i
                    >Past Experiences
                  </h3>

                  <div class="resume-timeline position-relative">
                    @for(experience of userData?.pastExperiences; track
                    experience;){
                    <article
                      class="resume-timeline-item position-relative pb-5"
                    >
                      <h3 class="resume-position-title mb-1 fw-normal">
                        {{ experience }}
                      </h3>
                    </article>
                    }
                  </div>
                </section>
                }

                <hr />

                <!-- Qualification -->
                @if(userData?.education){
                <section class="resume-educate-section resume-section">
                  <h3
                    class="resume-section-heading text-uppercase py-2 py-lg-3 py-3 mb-0"
                  >
                    <i class="resume-section-heading-icon bi bi-book me-2"></i
                    >Qualification:
                  </h3>

                  <p
                    class="nmc-medium-grey text-capitalize fw-semibold ms-2 mb-0 font-18"
                  >
                    <i class="bi bi-arrow-right-circle-fill"></i>
                    {{ userData?.education }}
                  </p>

                  <hr />
                </section>
                }
              </div>

              <!-- <div class="col-12 col-lg-4 ps-lg-4"> -->
              <!-- Tech Stack -->
              <!-- <section class="resume-skills-section resume-section">
                  <h3
                    class="resume-section-heading text-uppercase py-2 py-lg-3 py-3"
                  >
                    <i class="resume-section-heading-icon bi bi-gear me-2"></i
                    >Tech Stack
                  </h3>

                  <ul class="list-unstyled">
                    <li class="mb-2">
                      <div class="resume-skill-name">JavaScript</div>
                      <div
                        class="progress resume-progress"
                        role="progressbar"
                        aria-label="Basic example"
                        aria-valuenow="98"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      >
                        <div
                          class="progress-bar resume-progress-bar"
                          style="width: 98%"
                        ></div>
                      </div>
                    </li>
                    <li class="mb-2">
                      <div class="resume-skill-name">ReactJS</div>
                      <div
                        class="progress resume-progress"
                        role="progressbar"
                        aria-label="Basic example"
                        aria-valuenow="95"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      >
                        <div
                          class="progress-bar resume-progress-bar"
                          style="width: 95%"
                        ></div>
                      </div>
                    </li>
                    <li class="mb-2">
                      <div class="resume-skill-name">Python</div>
                      <div
                        class="progress resume-progress"
                        role="progressbar"
                        aria-label="Basic example"
                        aria-valuenow="92"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      >
                        <div
                          class="progress-bar resume-progress-bar"
                          style="width: 92%"
                        ></div>
                      </div>
                    </li>
                    <li class="mb-2">
                      <div class="resume-skill-name">MongoDB</div>
                      <div
                        class="progress resume-progress"
                        role="progressbar"
                        aria-label="Basic example"
                        aria-valuenow="86"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      >
                        <div
                          class="progress-bar resume-progress-bar"
                          style="width: 86%"
                        ></div>
                      </div>
                    </li>
                  </ul>
                </section>

                <hr /> -->

              <!-- <hr /> -->

              <!-- Project Section -->
              <!-- <section class="resume-projects-section resume-section">
                  <h3
                    class="resume-section-heading text-uppercase py-2 py-lg-3 py-3"
                  >
                    <i
                      class="resume-section-heading-icon bi bi-code-slash me-2"
                    ></i
                    >Projects
                  </h3>
                  <div class="item">
                    <h4 class="item-heading">
                      <i class="item-icon bi bi-square-fill me-2"></i
                      ><a href="#">Project lorem Ipsum</a>
                    </h4>
                    <div class="item-desc">
                      Project desc goes here aenean ut libero sit amet ante
                      fermentum scelerisque non a leo.
                    </div>
                  </div>

                  <div class="item">
                    <h4 class="item-heading">
                      <i class="item-icon bi bi-square-fill me-2"></i
                      ><a href="#">Volutpat App</a>
                    </h4>
                    <div class="item-desc">
                      You can link to your project Github page.
                    </div>
                  </div>
                </section> -->
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
