<section class="light-mode py-5">
  <div class="container-fluid">
    <div class="main-content-wrapper">
      <div class="container-fluid">
        <div class="top-bar text-center position-relative">
          <div class="top-bar-inner">
            <ul class="social-list list-inline mx-auto">
              @if(userData?.github){
              <li class="list-inline-item me-0 me-md-1 me-lg-2">
                <a target="_blank" [href]="userData?.github"
                  ><i class="bi bi-github"></i
                ></a>
              </li>
              } @if(userData?.twitter){
              <li class="list-inline-item me-0 me-md-1 me-lg-2">
                <a target="_blank" [href]="userData?.twitter"
                  ><i class="bi bi-twitter"></i
                ></a>
              </li>
              }@if(userData?.linkedin){
              <li class="list-inline-item me-0 me-md-1 me-lg-2">
                <a target="_blank" [href]="userData?.linkedin">
                  <i class="bi bi-linkedin"></i>
                </a>
              </li>
              }
            </ul>
          </div>
        </div>

        <div class="resume-wrapper mx-auto rounded-2">
          <div class="resume-header px-4 px-lg-5">
            <div class="resume-profile-holder text-center">
              <figure
                class="m-0 resume-profile-pic rounded-circle overflow-hidden m-auto"
              >
                <img
                  class="w-100 h-100 object-fit-cover"
                  [src]="userData?.photoURL ? userData?.photoURL : defaultImage"
                  alt="image"
                />
              </figure>

              <h2 class="resume-name text-uppercase">{{ userData?.name }}</h2>

              <div class="resume-role-title text-uppercase">
                {{ userData?.position }}
              </div>

              <div class="resume-contact mt-4">
                <ul
                  class="resume-contact-list list-unstyled list-inline mb-0 justify-content-between"
                >
                  @if(userData?.phone){
                  <li class="list-inline-item me-md-3 me-lg-5">
                    <i
                      class="resume-contact-icon bi bi-telephone-inbound me-2"
                    ></i>
                    {{ userData?.phone }}
                  </li>
                  } @if(userData?.email){
                  <li class="list-inline-item me-md-3 me-lg-5">
                    <i class="resume-contact-icon bi bi-envelope me-2"></i>
                    {{ userData?.email }}
                  </li>
                  }
                </ul>
              </div>
            </div>
          </div>

          <div class="resume-body p-4 p-lg-5">
            <div class="row">
              <div class="col-main col-12 col-lg-8 pe-lg-4">
                <!-- BIO -->
                @if(userData?.bio){
                <section class="resume-summary-section resume-section">
                  <h3
                    class="resume-section-heading text-uppercase py-2 py-lg-3 py-2 py-lg-3"
                  >
                    <i class="resume-section-heading-icon bi bi-person me-2"></i
                    >About Me
                  </h3>
                  <div class="resume-summary-desc">
                    {{ userData?.bio }}
                  </div>
                </section>
                }

                <hr />

                <!-- Work Experience -->
                <section class="resume-experience-section resume-section">
                  <h3
                    class="resume-section-heading text-uppercase py-2 py-lg-3 py-3"
                  >
                    <i
                      class="resume-section-heading-icon bi bi-briefcase me-2"
                    ></i
                    >Work Experience
                  </h3>

                  <div class="resume-timeline position-relative">
                    <article
                      class="resume-timeline-item position-relative pb-5"
                    >
                      <div class="resume-timeline-item-header mb-2">
                        <div
                          class="resume-position-meta d-flex justify-content-between mb-1"
                        >
                          <div class="resume-position-time">2023 - Present</div>
                          <div class="resume-company-name">Google</div>
                        </div>
                        <h3 class="resume-position-title mb-1">Tech Lead</h3>
                      </div>

                      <div class="resume-timeline-item-desc">
                        <ul class="resume-timeline-list">
                          <li>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Aenean porta est diam, et blandit ipsum
                            suscipit facilisis. Praesent nec semper eros.
                            Aliquam quis turpis sed metus mollis luctus vitae
                            rhoncus mi.
                          </li>
                          <li>
                            Vivamus accumsan purus at urna tincidunt convallis.
                            Sed nisi dolor, elementum eget tempus ac, blandit ac
                            mi. Aliquam id tellus ut arcu luctus accumsan in at
                            odio.
                          </li>

                          <li>
                            Morbi condimentum, lorem in pharetra mollis, purus
                            justo sollicitudin dolor, tristique vulputate mi
                            odio sit amet ante.
                          </li>
                          <li>
                            Blanditiis praesentium voluptatum deleniti atque
                            corrupti.
                          </li>
                        </ul>
                      </div>
                    </article>

                    <article
                      class="resume-timeline-item position-relative pb-5"
                    >
                      <div class="resume-timeline-item-header mb-2">
                        <div
                          class="resume-position-meta d-flex justify-content-between mb-1"
                        >
                          <div class="resume-position-time">2019 - 2023</div>
                          <div class="resume-company-name">Meta</div>
                        </div>
                        <h3 class="resume-position-title mb-1">
                          Senior App Developer
                        </h3>
                      </div>

                      <div class="resume-timeline-item-desc">
                        <ul class="resume-timeline-list">
                          <li>
                            Praesent nec semper eros. Aliquam quis turpis sed
                            metus mollis luctus vitae rhoncus mi. At vero eos et
                            accusamus et iusto odio dignissimos.
                          </li>
                          <li>
                            Proin tempus eu arcu in semper. Quisque gravida, sem
                            ut vehicula ultrices, diam est viverra odio, eget
                            tristique tortor tortor sed neque.
                          </li>
                          <li>
                            Suspendisse quis pharetra elit. Curabitur vitae
                            cursus lacus, et bibendum magna. Donec in orci eu
                            augue posuere mattis ut in turpis.
                          </li>
                        </ul>
                      </div>
                    </article>

                    <article class="resume-timeline-item position-relative">
                      <div class="resume-timeline-item-header mb-2">
                        <div
                          class="resume-position-meta d-flex justify-content-between mb-1"
                        >
                          <div class="resume-position-time">2017 - 2019</div>
                          <div class="resume-company-name">Coinbase</div>
                        </div>
                        <h3 class="resume-position-title mb-1">
                          App Developer
                        </h3>
                      </div>

                      <div class="resume-timeline-item-desc">
                        <ul class="resume-timeline-list">
                          <li>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.
                          </li>
                          <li>
                            Nulla velit dui, ultrices sit amet arcu eget,
                            sodales lacinia lorem.
                          </li>
                          <li>
                            Quisque semper nisi mauris, non ullamcorper nunc
                            consectetur eget.
                          </li>
                        </ul>
                      </div>
                    </article>
                  </div>
                </section>

                <hr />

                <!-- Skills -->
                <section class="resume-skills-section resume-section">
                  <h3
                    class="resume-section-heading text-uppercase py-2 py-lg-3 py-3"
                  >
                    <i class="resume-section-heading-icon bi bi-gear me-2"></i>
                    Skills
                  </h3>

                  <ul class="d-flex gap-2">
                    @if(userData?.skill1){
                    <li class="list-inline-item">
                      <span class="badge resume-skill-badge">{{
                        userData?.skill1
                      }}</span>
                    </li>
                    } @if(userData?.skill2){
                    <li class="list-inline-item">
                      <span class="badge resume-skill-badge">{{
                        userData?.skill2
                      }}</span>
                    </li>
                    } @if(userData?.skill3){

                    <li class="list-inline-item">
                      <span class="badge resume-skill-badge">{{
                        userData?.skill3
                      }}</span>
                    </li>
                    } @if(userData?.skill4){
                    <li class="list-inline-item">
                      <span class="badge resume-skill-badge">{{
                        userData?.skill4
                      }}</span>
                    </li>
                    }
                  </ul>
                </section>

                <hr />

                <!-- Education -->
                <section class="resume-educate-section resume-section">
                  <h3
                    class="resume-section-heading text-uppercase py-2 py-lg-3 py-3"
                  >
                    <i class="resume-section-heading-icon bi bi-book me-2"></i
                    >Education
                  </h3>

                  <ul class="list-unstyled">
                    <li class="mb-2">
                      <div class="resume-degree font-weight-bold">
                        MSc in Computer Science
                      </div>

                      <div class="resume-degree-org">Oxford University</div>
                      <div class="resume-degree-time">2016 - 2017</div>
                    </li>

                    <li>
                      <div class="resume-degree font-weight-bold">
                        BSc Maths and Physics
                      </div>

                      <div class="resume-degree-org">
                        University of California, Berkeley
                      </div>

                      <div class="resume-degree-time">2012 - 2016</div>
                    </li>
                  </ul>
                </section>
              </div>

              <!-- <div class="col-12 col-lg-4 ps-lg-4"> -->
              <!-- Tech Stack -->
              <!-- <section class="resume-skills-section resume-section">
                  <h3
                    class="resume-section-heading text-uppercase py-2 py-lg-3 py-3"
                  >
                    <i class="resume-section-heading-icon bi bi-gear me-2"></i
                    >Tech Stack
                  </h3>

                  <ul class="list-unstyled">
                    <li class="mb-2">
                      <div class="resume-skill-name">JavaScript</div>
                      <div
                        class="progress resume-progress"
                        role="progressbar"
                        aria-label="Basic example"
                        aria-valuenow="98"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      >
                        <div
                          class="progress-bar resume-progress-bar"
                          style="width: 98%"
                        ></div>
                      </div>
                    </li>
                    <li class="mb-2">
                      <div class="resume-skill-name">ReactJS</div>
                      <div
                        class="progress resume-progress"
                        role="progressbar"
                        aria-label="Basic example"
                        aria-valuenow="95"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      >
                        <div
                          class="progress-bar resume-progress-bar"
                          style="width: 95%"
                        ></div>
                      </div>
                    </li>
                    <li class="mb-2">
                      <div class="resume-skill-name">Python</div>
                      <div
                        class="progress resume-progress"
                        role="progressbar"
                        aria-label="Basic example"
                        aria-valuenow="92"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      >
                        <div
                          class="progress-bar resume-progress-bar"
                          style="width: 92%"
                        ></div>
                      </div>
                    </li>
                    <li class="mb-2">
                      <div class="resume-skill-name">MongoDB</div>
                      <div
                        class="progress resume-progress"
                        role="progressbar"
                        aria-label="Basic example"
                        aria-valuenow="86"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      >
                        <div
                          class="progress-bar resume-progress-bar"
                          style="width: 86%"
                        ></div>
                      </div>
                    </li>
                  </ul>
                </section>

                <hr /> -->

              <!-- <hr /> -->

              <!-- Project Section -->
              <!-- <section class="resume-projects-section resume-section">
                  <h3
                    class="resume-section-heading text-uppercase py-2 py-lg-3 py-3"
                  >
                    <i
                      class="resume-section-heading-icon bi bi-code-slash me-2"
                    ></i
                    >Projects
                  </h3>
                  <div class="item">
                    <h4 class="item-heading">
                      <i class="item-icon bi bi-square-fill me-2"></i
                      ><a href="#">Project lorem Ipsum</a>
                    </h4>
                    <div class="item-desc">
                      Project desc goes here aenean ut libero sit amet ante
                      fermentum scelerisque non a leo.
                    </div>
                  </div>

                  <div class="item">
                    <h4 class="item-heading">
                      <i class="item-icon bi bi-square-fill me-2"></i
                      ><a href="#">Volutpat App</a>
                    </h4>
                    <div class="item-desc">
                      You can link to your project Github page.
                    </div>
                  </div>
                </section> -->
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section>
  <div class="profile-wrapper d-flex flex-column nmc-bg-white">
    <div class="upper-grid py-5">
      <div
        class="container-boxed w-100 d-flex align-items-center justify-content-between position-relative"
      >
        <figure class="profile-image m-0 p-0 overflow-hidden nmc-bg-white p-2">
          <img
            [src]="userData?.photoURL"
            alt="Profile Image"
            class="w-100 h-100 object-fit-cover"
          />
        </figure>

        <div
          class="profile-info d-flex justify-content-end flex-column w-100 text-end"
        >
          <h1 class="font-family-poppins text-orange-600 font-52">
            {{ userData?.name }}
          </h1>

          <h4 class="nmc-white mt-2">{{ userData?.position }}</h4>

          <div
            class="social-icons d-flex align-items-center justify-content-end gap-2 mt-3"
          >
            @if(userData?.github){
            <a [href]="userData?.github" class="btn btn-outline-light btn-sm"
              ><i class="bi bi-github"></i></a
            >} @if(userData?.twitter){
            <a [href]="userData?.twitter" class="btn btn-outline-light btn-sm"
              ><i class="bi bi-twitter"></i></a
            >} @if(userData?.linkedin){
            <a [href]="userData?.linkedin" class="btn btn-outline-light btn-sm"
              ><i class="bi bi-linkedin"></i></a
            >}
          </div>
        </div>

        <div class="particle-container">
          <div class="particle"></div>
          <div class="particle"></div>
          <div class="particle"></div>
          <div class="particle"></div>
          <div class="particle"></div>
        </div>
      </div>
    </div>

    <div class="container-boxed">
      <div class="lower-grid row nmc-bg-white py-5">
        <div class="col-4">
          <div class="skills">
            <h3 class="font-family-poppins mt-4 nmc-dark-grey mb-3 pb-1">
              Skills
            </h3>

            <div class="d-flex align-center gap-2">
              @if(userData?.skill1){
              <div
                class="d-inline-block fw-semibold py-2 px-3 text-red-600 bg-orange-100 rounded-2 font-14"
              >
                {{ userData?.skill1 }}
              </div>
              } @if(userData?.skill2){
              <div
                class="d-inline-block fw-semibold py-2 px-3 text-red-600 bg-orange-100 rounded-2 font-14"
              >
                {{ userData?.skill2 }}
              </div>
              } @if(userData?.skill3){
              <div
                class="d-inline-block fw-semibold py-2 px-3 text-red-600 bg-orange-100 rounded-2 font-14"
              >
                {{ userData?.skill3 }}
              </div>

              } @if(userData?.skill4){
              <div
                class="d-inline-block fw-semibold py-2 px-3 text-red-600 bg-orange-100 rounded-2 font-14"
              >
                {{ userData?.skill4 }}
              </div>

              }
            </div>
          </div>

          @if(userData?.education){
          <div class="education">
            <h3 class="font-family-poppins mt-4 nmc-dark-grey mb-3 pb-1">
              Education
            </h3>
            <p>{{ userData?.education }}</p>
          </div>
          }

          <div class="contacts">
            <h3 class="font-family-poppins mt-4 nmc-dark-grey mb-3 pb-1">
              Contacts
            </h3>
            @if(userData?.email){
            <p>
              <i class="bi bi-envelope-fill nmc-primary font-20 me-2"></i>
              {{ userData?.email }}
            </p>
            } @if(userData?.phone){
            <p>
              <i class="bi bi-telephone-fill nmc-primary font-20 me-2"></i>
              {{ userData?.phone }}
            </p>

            }
          </div>
        </div>

        <div class="col-8">
          @if(userData?.bio){
          <div class="bio">
            <h3 class="font-family-poppins mt-4 nmc-dark-grey mb-3 pb-1">
              Bio
            </h3>

            <p>
              {{ userData?.bio }}
            </p>
          </div>
          } @if(userData?.experience){
          <div class="experience">
            <h3 class="font-family-poppins mt-4 nmc-dark-grey mb-3 pb-1">
              Experience
            </h3>

            <p>{{ userData?.experience }}</p>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</section> -->
